<div class="group">
    <ul class="question-list">
        <li class="question-li">
            <div class="question-li-bar"></div>
            <div class="question-li-triangle"></div>
            <img src="http://smileglobal.net:8080/uploads/users/2/profilePicResize.jpg" class="avatar">
            <div class="username">pblevine</div>
            <div class="question-icon"></div>
            <div class="question-li-text">4,070.32 is equal to which of the
                following?
            </div>

            <div class="star-wrapper">
                <div class="star star-white"></div><div class="star star-white"></div><div class="star star-white"></div><div class="star star-turquoise"></div><div class="star star-turquoise"></div>
            </div>
            <div class="commentBox">23</div>
            <div class="percentCorrect"></div>
        </li>
        <li class="question-li">
            <div class="question-li-bar"></div>
            <div class="question-li-triangle"></div>
            <img src="http://smileglobal.net:8080/uploads/users/2/profilePicResize.jpg" class="avatar">
            <div class="username">pblevine</div>
            <div class="question-icon"></div>
            <div class="question-li-text">4,070.32 is equal to which of the
                following?
            </div>

            <div class="star-wrapper">
                <div class="star star-white"></div><div class="star star-white"></div><div class="star star-white"></div><div class="star star-turquoise"></div><div class="star star-turquoise"></div>
            </div>
            <div class="commentBox">23</div>
            <div class="percentCorrect"></div>
        </li>
        <li class="question-li">
            <div class="question-li-bar"></div>
            <div class="question-li-triangle"></div>
            <img src="http://smileglobal.net:8080/uploads/users/2/profilePicResize.jpg" class="avatar">
            <div class="username">pblevine</div>
            <div class="question-icon"></div>
            <div class="question-li-text">4,070.32 is equal to which of the
                following?
            </div>

            <div class="star-wrapper">
                <div class="star star-white"></div><div class="star star-white"></div><div class="star star-white"></div><div class="star star-turquoise"></div><div class="star star-turquoise"></div>
            </div>
            <div class="commentBox">23</div>
            <div class="percentCorrect"></div>
        </li>
        <li class="question-li">
            <div class="question-li-bar"></div>
            <div class="question-li-triangle"></div>
            <img src="http://smileglobal.net:8080/uploads/users/2/profilePicResize.jpg" class="avatar">
            <div class="username">pblevine</div>
            <div class="question-icon"></div>
            <div class="question-li-text">4,070.32 is equal to which of the
                following?
            </div>

            <div class="star-wrapper">
                <div class="star star-white"></div><div class="star star-white"></div><div class="star star-white"></div><div class="star star-turquoise"></div><div class="star star-turquoise"></div>
            </div>
            <div class="commentBox">23</div>
            <div class="percentCorrect"></div>
        </li>
        <li class="question-li">
            <div class="question-li-bar"></div>
            <div class="question-li-triangle"></div>
            <img src="http://smileglobal.net:8080/uploads/users/2/profilePicResize.jpg" class="avatar">
            <div class="username">pblevine</div>
            <div class="question-icon"></div>
            <div class="question-li-text">4,070.32 is equal to which of the
                following?
            </div>

            <div class="star-wrapper">
                <div class="star star-white"></div><div class="star star-white"></div><div class="star star-white"></div><div class="star star-turquoise"></div><div class="star star-turquoise"></div>
            </div>
            <div class="commentBox">23</div>
            <div class="percentCorrect"></div>
        </li>
        <li class="question-li">
            <div class="question-li-bar"></div>
            <div class="question-li-triangle"></div>
            <img src="http://smileglobal.net:8080/uploads/users/2/profilePicResize.jpg" class="avatar">
            <div class="username">pblevine</div>
            <div class="question-icon"></div>
            <div class="question-li-text">4,070.32 is equal to which of the
                following?
            </div>

            <div class="star-wrapper">
                <div class="star star-white"></div><div class="star star-white"></div><div class="star star-white"></div><div class="star star-turquoise"></div><div class="star star-turquoise"></div>
            </div>
            <div class="commentBox">23</div>
            <div class="percentCorrect"></div>
        </li>
        <li class="question-li">
            <div class="question-li-bar"></div>
            <div class="question-li-triangle"></div>
            <img src="http://smileglobal.net:8080/uploads/users/2/profilePicResize.jpg" class="avatar">
            <div class="username">pblevine</div>
            <div class="question-icon"></div>
            <div class="question-li-text">4,070.32 is equal to which of the
                following?
            </div>

            <div class="star-wrapper">
                <div class="star star-white"></div><div class="star star-white"></div><div class="star star-white"></div><div class="star star-turquoise"></div><div class="star star-turquoise"></div>
            </div>
            <div class="commentBox">23</div>
            <div class="percentCorrect"></div>
        </li>
        <li class="question-li">
            <div class="question-li-bar"></div>
            <div class="question-li-triangle"></div>
            <img src="http://smileglobal.net:8080/uploads/users/2/profilePicResize.jpg" class="avatar">
            <div class="username">pblevine</div>
            <div class="question-icon"></div>
            <div class="question-li-text">4,070.32 is equal to which of the
                following?
            </div>

            <div class="star-wrapper">
                <div class="star star-white"></div><div class="star star-white"></div><div class="star star-white"></div><div class="star star-turquoise"></div><div class="star star-turquoise"></div>
            </div>
            <div class="commentBox">23</div>
            <div class="percentCorrect"></div>
        </li>
        <li class="question-li">
            <div class="question-li-bar"></div>
            <div class="question-li-triangle"></div>
            <img src="http://smileglobal.net:8080/uploads/users/2/profilePicResize.jpg" class="avatar">
            <div class="username">pblevine</div>
            <div class="question-icon"></div>
            <div class="question-li-text">4,070.32 is equal to which of the
                following?
            </div>

            <div class="star-wrapper">
                <div class="star star-white"></div><div class="star star-white"></div><div class="star star-white"></div><div class="star star-turquoise"></div><div class="star star-turquoise"></div>
            </div>
            <div class="commentBox">23</div>
            <div class="percentCorrect"></div>
        </li>
        <li class="question-li">
            <div class="question-li-bar"></div>
            <div class="question-li-triangle"></div>
            <img src="http://smileglobal.net:8080/uploads/users/2/profilePicResize.jpg" class="avatar">
            <div class="username">pblevine</div>
            <div class="question-icon"></div>
            <div class="question-li-text">4,070.32 is equal to which of the
                following? 4,070.32 is equal to which of the
                following? 4,070.32 is equal to which of the
                following? 4,070.32 is equal to which of the
                following?
            </div>

            <div class="star-wrapper">
                <div class="star star-white"></div><div class="star star-white"></div><div class="star star-white"></div><div class="star star-turquoise"></div><div class="star star-turquoise"></div>
            </div>
            <div class="commentBox">23</div>
            <div class="percentCorrect"></div>
        </li>
        <li class="question-li">
            <div class="question-li-bar"></div>
            <div class="question-li-triangle"></div>
            <img src="http://smileglobal.net:8080/uploads/users/2/profilePicResize.jpg" class="avatar">
            <div class="username">pblevine</div>
            <div class="question-icon"></div>
            <div class="question-li-text">4,070.32 is equal to which of the
                following?
            </div>

            <div class="star-wrapper">
                <div class="star star-white"></div><div class="star star-white"></div><div class="star star-white"></div><div class="star star-turquoise"></div><div class="star star-turquoise"></div>
            </div>
            <div class="commentBox">23</div>
            <div class="percentCorrect"></div>
        </li>
        <li class="question-li">
            <div class="question-li-bar"></div>
            <div class="question-li-triangle"></div>
            <img src="http://smileglobal.net:8080/uploads/users/2/profilePicResize.jpg" class="avatar">
            <div class="username">pblevine</div>
            <div class="question-icon"></div>
            <div class="question-li-text">4,070.32 is equal to which of the
                following?
            </div>

            <div class="star-wrapper">
                <div class="star star-white"></div><div class="star star-white"></div><div class="star star-white"></div><div class="star star-turquoise"></div><div class="star star-turquoise"></div>
            </div>
            <div class="commentBox">23</div>
            <div class="percentCorrect"></div>
        </li>
    </ul>
</div>