<div class="home">
    <div class="home-welcome">
        <div class="avatar-large" style="background: url(<%= avatar_path %>)"></div>
        <h5 class="home-msg"><%= welcome_msg %></h5>

        <div class="title-bar title-bar-pink"><%= app.lang.get('statistics') %></div>
        <div class="home-button home-trophies" data-target="trophies">
            <div class="home-btn-img home-trophies"></div>
            <div class="home-btn-txt"><%= app.lang.get('trophies') %></div>
            <div class="home-btn-num"><%= stats.num_trophies %></div>
        </div>
        <div class="home-button home-stars" data-target="stars">
            <div class="home-btn-img home-stars"></div>
            <div class="home-btn-txt"><%= app.lang.get('stars') %></div>
            <div class="home-btn-num"><%= stats.num_stars %></div>
        </div>
        <div class="home-button home-groups" data-target="groups">
            <div class="home-btn-img home-groups"></div>
            <div class="home-btn-txt"><%= app.lang.get('groups') %></div>
            <div class="home-btn-num"><%= stats.num_groups %></div>
        </div>
        <div class="home-button home-answers" data-target="answers">
            <div class="home-btn-img home-answers"></div>
            <div class="home-btn-txt"><%= app.lang.get('answers') %></div>
            <div class="home-btn-num"><%= stats.num_answered %></div>
        </div>
        <div class="home-button home-comments" data-target="comments">
            <div class="home-btn-img home-comments"></div>
            <div class="home-btn-txt"><%= app.lang.get('comments') %></div>
            <div class="home-btn-num"><%= stats.num_comments %></div>
        </div>
        <div class="home-button home-questions" data-target="questions">
            <div class="home-btn-img home-questions"></div>
            <div class="home-btn-txt"><%= app.lang.get('questions') %></div>
            <div class="home-btn-num"><%= stats.num_questions %></div>
        </div>
    </div>
</div>
</div>