<div class="menu-top <% if (menu_color_change) { %><%= selected %><% } %>" style="<%= animateTop %>">
    <div class="menu-logo"></div>
</div>
<ul class="menu-ul">
    <% _.each(items, function(i) { %>
    <li class="menu-li <%= i.name %><% if (i.name === selected) {%> menu-li-selected <% } %>" style="<%= animateLi %>"><%= i.title %><div class="menu-li-img <%= i.name %>-icon"></div>
    </li>
    <% }); %>
</ul>