<h4>User Profile</h4>
<div class="container">
<form id="profile-form" method="post" action="http://localhost/services/user">
    <% if(user) { %>
    <input type="hidden" name="id" value='<%= user.get('_id') %>'>
    <% } %>
    <input type="text" placeholder="Choose User Name" class="input_field input_green" name="username" id="username" value="<%= user? user.get('username') : '' %>" /><br />
    <input type="text" placeholder="First Name" class="input_field input_green" name="firstName" id="firstName" value="<%= user? user.get('firstName') : '' %>" /><br />
    <input type="text" placeholder="Last Name" class="input_field input_green" name="lastName" id="lastName" value="<%= user? user.get('lastName') : '' %>" /><br />
    <input type="text" placeholder="Email" class="input_field input_green" name="email" id="email" value="<%= user? user.get('emailAddresses') : '' %>" /><br />
    <input type="text" placeholder="City" class="input_field input_green" name="city" id="city" value="<%= user? user.get('city') : '' %>" /><br />
    <input type="text" placeholder="State" class="input_field input_green" name="region" id="region" value="<%= user? user.get('region') : '' %>" /><br />
    <input type="text" placeholder="Country" class="input_field input_green" name="country_id" id="country_id" value="<%= user? user.get('country') : '' %>" /><br />
    <input type="submit" class="submit" value="Submit" />
</form>
</div>