<div class="topbar-triangle detail-topbar">
    <div class="triangle"></div>
</div>
<div class="trophy-detail">
    <div class="trophy-shadow"></div>
    <div class="trophy-img"></div>
</div>
<div class="title-bar title-bar-yellow"><%= trophy_name %></div>
<div><%= trophy_text %></div>
<div><%= user_text %></div>