<div class="trophy-case">
    <div class = "badges">
        <div class="shelves">
            <div class="shelves-left"></div>
            <div class="shelves-mid"></div>
            <div class="shelves-right"></div>
        </div>
        <!--using inline-block, no spaces!-->
        <% _.each(badges, function(badge) { %><div class="badge<% if(badge.earned == 1) { %> badge-earned><% } else {%> badge-unearned<% } %>"><img class="badge-img" src='<%= badge.image %>'/></div><% }); %>
    </div>
</div>
<div id="trophy-detail"></div>