$icons-vertical-layout: horizontal;
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import "icons/*.png";
@import "icons-vertical/*.png";

$spriteWidth: image-width(sprite-path($icons-sprites));
$spriteHeight: image-height(sprite-path($icons-sprites));
$halfWidth: image-width(sprite-path($icons-sprites)) / 2;
$halfHeight: image-height(sprite-path($icons-sprites)) / 2;

$img_dir: "../img/";

$nav-btn-height: 60px;

$nav-btn-border: 1px;

$nav-btn-text-color: #333;

$bg-color: #455666;
$dark_blue: #353f48;

//@media max-sizes
$three-column-width: 1200px;
$two-column-width: 800px;
$fullscreen-menu-width: 400px;

$menu-width: 220px;
$menu-border-width: 6px;
$menu-bg: #edecec;

$username-color-red: rgb(182, 21, 27);
$username-color: #fff;
$star-color-top: #ff5a4d;
$star-color-bottom: #ef1b00;

$navbar_bg: #535160;
$navbar_border: rgb(31, 39, 38);

$text-shadow-color: #e5dca3;

$scroller-padding: 10px;

//colors
$yellow: rgb(251, 170, 20);
$turquoise_bg: #1cb2ad;
$turquoise_mid: rgb(0, 165, 158);
$turquoise_dark: #007894;
$border-grey: #c8c8c8;
$menu-line-grey: rgb(190, 188, 188);
$menu-light-grey: rgb(248, 245, 237);
$grey: #5b514c;

//button colors
$yellow-border: #f4911d;
$yellow-border-hover: #e2732d;
$yellow-top: #fbb510;
$yellow-top-hover: #f2a031;
$yellow-bottom: #fbaa13;
$yellow-bottom-hover: #f39231;

$menu-home: #d34711;
$menu-public: #1cb2ad;
$menu-groups: $yellow;
$menu-profile: #8cc43f;
$menu-messages: $grey;
$menu-settings: $grey;
$menu-about: #004192;
$menu-logout: #14426d;

html, body, p, a, span, form, ul, li, input, select, img, aside, article, header, footer, label, h1, h2, h3, h4, div {
  margin: 0;
  padding: 0;
}@import url(http://fonts.googleapis.com/css?family=PT+Sans);

html {
  height: 100%;
}

html, body, p, a, span, form, ul, li, input, select, img, aside, article, header, footer, label, h1, h2, h3, h4, div {
  margin: 0;
  padding: 0;
}

body {
  background: $bg-color;
  margin: 0;
  padding: 0;
  border: 0;
  font: 13px 'PT Sans', Helvetica, 'lucida grande', tahoma, verdana, arial, sans-serif;
  color: #fff;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  background: $bg-color;
  height: 100%;
}


a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

/* menu*/
a.menu1 {
  background: #eb4d3b;
  height: 65px;
  width: 100%;
  float: left;
  margin-top: 1px;
}

a.menu1 span {
  background: url(../images/home.png) center no-repeat;
  width: 45px;
  height: 45px;
  margin-left: 11px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}

a.menu1 h2 {
  width: auto;
  font-size: 16px;
  color: #fff;
  padding-top: 10px;
}

a.menu1 p {
  width: auto;
  font-size: 12px;
  color: #fff;
  padding-left: 5px;
  float: left;
}

a.menu1 div {
  background: url(../images/whitearrow.png);
  width: 9px;
  height: 14px;
  float: left;
  position: relative;
  z-index: 2;
  margin-left: 300px;
  margin-top: -32px;
}

a.menu2 {
  background: #f2c212;
  height: 65px;
  width: 100%;
  float: left;
  margin-top: 1px;
}

a.menu2 span {
  background: url(../images/aim.png) center no-repeat;
  width: 45px;
  height: 45px;
  margin-left: 11px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}

a.menu2 h2 {
  width: auto;
  font-size: 16px;
  color: #fff;
  padding-top: 10px;
}

a.menu2 p {
  width: auto;
  font-size: 12px;
  color: #fff;
  padding-left: 5px;
  float: left;
}

a.menu2 div {
  background: url(../images/whitearrow.png);
  width: 9px;
  height: 14px;
  float: left;
  position: relative;
  z-index: 2;
  margin-left: 300px;
  margin-top: -32px;
}

a.menu3 {
  background: #1abd9c;
  height: 65px;
  width: 100%;
  float: left;
  margin-top: 1px;
}

a.menu3 span {
  background: url(../images/all.png) center no-repeat;
  width: 45px;
  height: 45px;
  margin-left: 11px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}

a.menu3 h2 {
  width: auto;
  font-size: 16px;
  color: #fff;
  padding-top: 10px;
}

a.menu3 p {
  width: auto;
  font-size: 12px;
  color: #fff;
  padding-left: 5px;
  float: left;
}

a.menu3 div {
  background: url(../images/whitearrow.png);
  width: 9px;
  height: 14px;
  float: left;
  position: relative;
  z-index: 2;
  margin-left: 300px;
  margin-top: -32px;
}

a.menu4 {
  background: #3399db;
  height: 65px;
  width: 100%;
  float: left;
  margin-top: 1px;
}

a.menu4 span {
  background: url(../images/contact.png) center no-repeat;
  width: 45px;
  height: 45px;
  margin-left: 11px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}

a.menu4 h2 {
  width: auto;
  font-size: 16px;
  color: #fff;
  padding-top: 10px;
}

a.menu4 p {
  width: auto;
  font-size: 12px;
  color: #fff;
  padding-left: 5px;
  float: left;
}

a.menu4 div {
  background: url(../images/whitearrow.png);
  width: 9px;
  height: 14px;
  float: left;
  position: relative;
  z-index: 2;
  margin-left: 300px;
  margin-top: -32px;
}

a.menu5 {
  background: #9c59b5;
  height: 65px;
  width: 100%;
  float: left;
  margin-top: 1px;
}

a.menu5 span {
  background: url(../images/user.png) center no-repeat;
  width: 45px;
  height: 45px;
  margin-left: 11px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}

a.menu5 h2 {
  width: auto;
  font-size: 16px;
  color: #fff;
  padding-top: 10px;
}

a.menu5 p {
  width: auto;
  font-size: 12px;
  color: #fff;
  padding-left: 5px;
  float: left;
}

a.menu5 div {
  background: url(../images/whitearrow.png);
  width: 9px;
  height: 14px;
  float: left;
  position: relative;
  z-index: 2;
  margin-left: 300px;
  margin-top: -32px;
}

/* menuggg*/
.row {
  width: 100%;
  float: left;
}

.menuicon {
  float: left;
  height: 40px;
  width: 40px;
  float: left;
  background: #eb4d3b;
}

.menuicon span {
  background: url(../images/menu.png) no-repeat center;
  width: 100%;
  float: left;
  margin-top: 10px;
}

.container {
  width: 100%;
  float: none;
}

.pt20 {
  padding-top: 20px;
}

.pl40 {
  padding-left: 40px;
}

.height50 {
  height: 50px;
}

.height40 {
  height: 40px;
}

.height480px {
  height: 450px;
  margin-top: 30px;
}

.height400px {
  height: 400px;
}

.text30 {
  font-size: 30px;
  text-align: center;
}

a.signin {
  width: 206px;
  height: 47px;
  line-height: 47px;
  background: #3399db;
  border-radius: 5px;
  -moz-border-radius: 5px;
  float: left;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 20px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  margin-left: 60px;
}

a.signin > span {
  background: url(../images/signup.png) no-repeat center;
  width: 24px;
  height: 29px;
  float: left;
  margin-left: 20px;
  margin-top: 7px;
  margin-right: 30px;
}

a.register {
  width: 206px;
  height: 47px;
  line-height: 47px;
  background: #eb4d3b;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 18px;
  color: #fff;
  float: left;
  margin-left: 60px;
  font-weight: bold;
}

a.register > span {
  background: url(../images/reg.png) no-repeat center;
  width: 24px;
  height: 29px;
  float: left;
  margin-left: 20px;
  margin-top: 7px;
  margin-right: 30px;
}

.bgsilver {
  background: #ebedf0;
}

.tm20 {
  margin-top: 20px;
}

.height30 {
  height: 30px;
}

/*form*/
.divider {
  width: 100%;
  clear: both;
  background: #fff;
  float: left;
  height: 1px;
}

.input_field {
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  width: 64%;
  padding-left: 45px;
  outline: none;
}

.input_green {
  border: 2px solid #1cbd9c;
}

.input_red {
  border: 2px solid #ea4d3a;
}
.username_field {
  margin-left: 40px;
  margin-top: 15px;
}

.password_field {
  margin-left: 40px;
  margin-top: 15px;
}
.input_box {
  width: 40px;
  height: 44px;
  position: absolute;
}
.red_bg {
  background: #ea4d3a;
}
.green_bg {
  background: #1cbd9c;
}
.user_icon {
  @include icons-sprite(man);
  width: 22px;
  height: 18px;
  position: absolute;
  left: 9px;
  top: 13px;
}

.key_icon {
  @include icons-sprite(key);
  width: 24px;
  height: 22px;
  position: absolute;
  left: 8px;
  top: 11px;
}

.submit {
  width: 290px;
  float: left;
  margin: 20px 0px 20px 15px;
  background-color: #384b5c;
  font-size: 15px;
  text-align: center;
  height: 50px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.submit:hover {
  background: #ea4d3a;
}

.forgot {
  font-size: 14px;
  color: #384b5c;
  float: right;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}

.remember {
  font-size: 15px;
  color: #384b5c;
  float: left;
  margin-left: 8px;
  padding-right: 50px;
  font-weight: bold;
}

.arrow-right {
  @include icons-sprite(arrow);
  width: icons-sprite-width(arrow);
  height: icons-sprite-height(arrow);
}

/* Check box */
input[type='checkbox'] {
  opacity: 0;
}
.check {
  width: 20px;
  float: left;
  margin-left: 50px;
  position: relative;
}

.check label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -2;
  margin-left: -13px;
  background: #384b5c;
}

.check label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.check label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.check input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

input {
  -webkit-appearance: none;
}

.input_green::-webkit-input-placeholder, .input_green {
  color: #1abd9c;
}

.input_green::-moz-placeholder {
  color: #1abd9c;
}

.input_red::-webkit-input-placeholder, .input_red {
  color: #eb4d3b;
}

.input_red::-moz-placeholder {
  color: #eb4d3b;
}

.item {
  width: 100%;
  float: left;
}


body.touch {
  cursor: pointer;
}

#viewport {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  pointer-events: none;
}

#app-container {
  width: 100%;
  max-width: 100%;
  -webkit-transition: left 300ms, margin-left 300ms;
  left: 0px;
  position: relative;
  background: $bg-color;
  min-height: 100%;
  pointer-events: auto;
  z-index: 10;
}

.logo-bar {
  background: $dark_blue;
}

/*form*/
.divider {
  width: 100%;
  clear: both;
  background: #fff;
  float: left;
  height: 1px;
}
.input_green {
  width: 69%;
  height: 40px;
  border: 2px solid #1cbd9c;
  padding-left: 45px;
  outline: none;
}
.input_red {
  width: 69%;
  height: 40px;
  border: 2px solid #ea4d3a;
  padding-left: 45px;
  outline: none;
}
.user {
  @include icons-sprite(man);
  //background-position: 0 nth(sprite-position($icons-sprites, man), 2) / 2;
  //-webkit-background-size: $halfWidth $halfHeight;
  //background-size: $halfWidth $halfHeight;
  //width: icons-sprite-width(man) / 2;
  //height: icons-sprite-height(man) / 2;
  width: 22px;
  height: 18px;
  position: absolute;
  background-color: #1cbd9c;
  background-repeat: none;
  margin-left: 40px;
  margin-top: 15px;
}
.key {
  width: 40px;
  height: 44px;
  position: absolute;
  background: #ea4d3a url(../images/key.png) no-repeat center;
  margin-left: 40px;
  margin-top: 15px;
}


#green::-webkit-input-placeholder {
  color: #1abd9c;
  font-size: 14px;
  font-weight: bold;
}

#green::-moz-placeholder {
  color: #1abd9c;
  font-size: 14px;
  font-weight: bold;
}

#red::-webkit-input-placeholder {
  color: #eb4d3b;
  font-size: 14px;
  font-weight: bold;
}

#red::-moz-placeholder {
  color: #eb4d3b;
  font-size: 14px;
  font-weight: bold;
}

.item {
  width: 100%;
  float: left;
}

.bgsilver {
  background: #ebedf0;
}

.tm20 {
  margin-top: 20px;
}

.height30 {
  height: 30px;
}


//For under 400px or so
@media all and (max-width: $fullscreen-menu-width) {
  .revealOpen {
    left: 100% !important;
  }
  .pushOpen {
    margin-left: 100% !important;
  }
  .overlapOpen {
    left: 0 !important;
    padding-left: 6px;
  }
  #menu-container {
    width: 100%;
    left: -100%;
  }
  .push#menu-container, .overlap#menu-container {
    border-left-width: 0px;
  }
  .pushOpen #menu-container, .overlapOpen #menu-container {
    border-left-width: 6px !important;
  }
}

//For over 400px or so
@media all and (min-width: $fullscreen-menu-width + 1) {
  .revealOpen {
    left: $menu-width !important;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.3);
  }
  .pushOpen {
    margin-left: $menu-width !important;
  }
  .overlapOpen {
    left: 0 !important;
  }
  .push#menu-container, .overlap#menu-container {
    border-left-width: 6px;
  }
  #menu-container {
    width: $menu-width - $menu-border-width;
  }
}

//For over 800 px or so, less than 1200px
@media all and (min-width: $two-column-width + 1) and (max-width: $three-column-width) {
  .question-li {
    width: 49%;
    margin-left: 2px;
    display: inline-block;
  }
}

//For over 1200px or so
@media all and (min-width: $three-column-width + 1) {
  .question-li {
    width: 32%;
    margin-left: 8px;
    display: inline-block;
  }
}

.turquoise-bg {
  background-color: $turquoise_bg !important;
}

#app-header {
  position: relative;
}

#app-content {
  position: relative;
  border-width: 0;
  overflow: visible;
  overflow-x: hidden;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 440px;
}

.ui-mobile-viewport {
  overflow-x: hidden;
  height: 99.9%;
  margin: 0;
  overflow-x: visible;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-image: none;
  border: 1px 0px solid #aaa;
  color: $nav-btn-text-color;
  text-shadow: 0 1px 0 #fff;
  background: $bg-color;
}

h3 {
  text-shadow: 1px 1px 1px #a0d7da;
  color: #444;
  filter: dropshadow(color=#a0d7da, offx=1, offy=1);
  line-height: 22px;
  text-indent: 10px;
  font-size: 14px;
}

h4 {
  text-shadow: 1px 1px 1px $grey;
  color: #fff;
  filter: dropshadow(color= $grey, offx=1, offy=1);
  line-height: 18px;
  font-size: 12px;
}

h5 {
  text-shadow: 1px 1px 1px #FFF;
  font-size: 16px;
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.button {
  //font-family: arial,sans-serif;
  word-wrap: wrap;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  line-height: 27px;
  min-width: 54px;
  outline: 0;
  color: #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: default;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  margin: 6px auto;
  vertical-align: middle;
  -webkit-user-select: none;
}

.button:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

.button-yellow {
  background-color: $yellow-top;
  background-image: -webkit-linear-gradient(top, $yellow-top, $yellow-bottom);
  background-image: linear-gradient(top, $yellow-top, $yellow-bottom);
  border: 1px solid $yellow-border;
  text-shadow: 1px 1px 1px #3b383b;
  filter: dropshadow(color=#3b383b, offx=1, offy=1);
}

.button-yellow:hover {
  background-color: $yellow-bottom-hover;
  background-image: -webkit-linear-gradient(top, $yellow-top-hover, $yellow-bottom-hover);
  background-image: linear-gradient(top, $yellow-top-hover, $yellow-bottom-hover);
  border: 1px solid $yellow-border-hover;
}

.button-blue {
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
}

.ui-footer {
  position: relative;
  zoom: 1;
  font-family: Helvetica, Trebuchet MS, Verdana, Arial, sans-serif;
  border: 1px 0px solid;
  background: #111;
  font-weight: bold;
  text-shadow: 0  -1px  0 #000;
}

.ui-navbar {
  padding: 10px 0;
  margin: 0;
  max-width: 100%;
  display: block;
  background-color: $navbar_bg;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  position: static;
  width: 100%;
  @include icons-sprite(navbar);
  background-repeat: repeat-x;
  border-top: 1px solid $navbar-border;
  border-bottom: 1px solid $navbar-border;
}

.ui-navbar-name-header {
  height: 60px;
}

.navbar-title {
  color: #FFF;
  font-size: 14px;
  text-shadow: 1px 2px 1px $navbar-border;
  filter: dropshadow(color=$navbar-border, offx=1, offy=2);
}

.navbar-settings {
  position: absolute;
  top: 5px;
  right: 4px;
}


.navbar-menu {
  @include icons-sprite(menu);
  background-position: 0 nth(sprite-position($icons-sprites, menu), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(menu) / 2;
  height: icons-sprite-height(menu) / 2;
  position: absolute;
  top: 9px;
  left: 9px;
}


//backbutton
.backbutton {
  position: absolute;
  top: 7px;
  left: 8px;
  color: #FFF;
  line-height: 29px;
}

/* MENU */
/*
http://jbkflex.wordpress.com/2012/08/18/fluidic-sliding-panels-auto-adjust-to-any-device-screen-without-browser-refresh/
*/
#menu-container {
  position: absolute;
  z-index: 500;
  top: 0px;
  left: -1 * $menu-width;
  right: 0px;
  -webkit-transition: left 300ms;
  background: $menu-bg;
  border-left: 6px solid $menu-light-grey;
  pointer-events: auto;
}

#menu-container.overlay {
  border-left-width: 6px;
}

#menu-container.reveal {
  border-left-width: 6px;
  left: 0px;
  position: absolute;
  z-index: 0;
}

.menu-top {
  background-color: $menu-public;
  height: 54px;
  padding-top: 14px;
  padding-left: $menu-border-width;
  position: relative;
  left: -6px;
  border: 0;
  width: 100%;
  //border-left: 6px rgba(0, 0, 0, 0.6);
  //border-style: solid;
}

.menu-logo {
  @include icons-sprite(logo);
  background-position: 0 nth(sprite-position($icons-sprites, logo), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(logo) / 2;
  height: icons-sprite-height(logo) / 2;
  margin-left: auto;
  margin-right: auto;
}

.menu-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
}

.menu-li {
  padding-top: 8px;
  padding-bottom: 4px;
  padding-left: 50px;
  padding-right: 10px;
  background: $menu-bg;
  border-top: 1px solid $menu-light-grey;
  border-bottom: 1px solid $menu-line-grey;
  margin: 0;
  line-height: 30px;
  font-size: 12px;
  overflow: hidden;
  position: relative;
  text-shadow: 1px 0 1px #fff;
  border-left: 6px solid $menu-light-grey;
  left: -6px;
}

.home.menu-li:hover, .home.menu-li-selected {
  border-left-color: $menu-home !important;
}

.public.menu-li:hover, .public.menu-li-selected {
  border-left-color: $menu-public !important;
}

.groups.menu-li:hover, .groups.menu-li-selected {
  border-left-color: $menu-groups !important;
}

.profile.menu-li:hover, .profile.menu-li-selected {
  border-left-color: $menu-profile !important;
}

.messages.menu-li:hover, .messages.menu-li-selected {
  border-left-color: $menu-messages !important;
}

.settings.menu-li:hover, .settings.menu-li-selected {
  border-left-color: $menu-settings !important;
}

.about.menu-li:hover, .about.menu-li-selected {
  border-left-color: $menu-about !important;
}

.logout.menu-li:hover, .logout.menu-li-selected {
  border-left-color: $menu-logout !important;
}

.home.menu-top {
  background-color: $menu-home;
}

.public.menu-top {
  background-color: $menu-public;
}

.groups.menu-top {
  background-color: $menu-groups;
}

.profile.menu-top {
  background-color: $menu-profile;
}

.messages.menu-top {
  background-color: $menu-messages;
}

.settings.menu-top {
  background-color: $menu-settings;
}

.about.menu-top {
  background-color: $menu-about;
}

.logout.menu-top {
  background-color: $menu-logout;
}

.menu-li-img {
  position: absolute;
  top: 6px;
  left: 10px;
}

.menu-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto !important;
  height: auto !important;
}

#menu-overlay {
  width: 0px;
  height: 0px;
  background-color: #222222;
  position: fixed;
  z-index: 450;
  opacity: 0;
  -webkit-transition: opacity 300ms linear, left 300ms;
  pointer-events: auto;
}

.logo {
  @include icons-sprite(logo0black);
  background-position: 0 nth(sprite-position($icons-sprites, logo0black), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(logo0black) / 2;
  height: icons-sprite-height(logo0black) / 2;
  margin-left: auto;
  margin-right: auto;
}

.about-icon {
  @include icons-sprite(menuAbout);
  background-position: 0 nth(sprite-position($icons-sprites, menuAbout), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(menuAbout) / 2;
  height: icons-sprite-height(menuAbout) / 2;
}

.menu-li.about:hover .about-icon {
  @include icons-sprite(menuAbout_over);
  background-position: 0 nth(sprite-position($icons-sprites, menuAbout_over), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(menuAbout_over) / 2;
  height: icons-sprite-height(menuAbout_over) / 2;
}

.groups-icon {
  @include icons-sprite(menuGroups);
  background-position: 0 nth(sprite-position($icons-sprites, menuGroups), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(menuGroups) / 2;
  height: icons-sprite-height(menuGroups) / 2;
}

.menu-li.groups:hover .groups-icon {
  @include icons-sprite(menuGroups_over);
  background-position: 0 nth(sprite-position($icons-sprites, menuGroups_over), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(menuGroups_over) / 2;
  height: icons-sprite-height(menuGroups_over) / 2;
}

.home-icon {
  @include icons-sprite(menuHome);
  background-position: 0 nth(sprite-position($icons-sprites, menuHome), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(menuHome) / 2;
  height: icons-sprite-height(menuHome) / 2;
}

.menu-li.home:hover .home-icon {
  @include icons-sprite(menuHome_over);
  background-position: 0 nth(sprite-position($icons-sprites, menuHome_over), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(menuHome_over) / 2;
  height: icons-sprite-height(menuHome_over) / 2;
}

.messages-icon {
  @include icons-sprite(menuMessages);
  background-position: 0 nth(sprite-position($icons-sprites, menuMessages), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(menuMessages) / 2;
  height: icons-sprite-height(menuMessages) / 2;
}

.menu-li.messages:hover .messages-icon {
  @include icons-sprite(menuMessages_over);
  background-position: 0 nth(sprite-position($icons-sprites, menuMessages_over), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(menuMessages_over) / 2;
  height: icons-sprite-height(menuMessages_over) / 2;
}

.profile-icon {
  @include icons-sprite(menuProfile);
  background-position: 0 nth(sprite-position($icons-sprites, menuProfile), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(menuProfile) / 2;
  height: icons-sprite-height(menuProfile) / 2;
}

.menu-li.profile:hover .profile-icon {
  @include icons-sprite(menuProfile_over);
  background-position: 0 nth(sprite-position($icons-sprites, menuProfile_over), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(menuProfile_over) / 2;
  height: icons-sprite-height(menuProfile_over) / 2;
}

.public-icon {
  @include icons-sprite(menuPublic);
  background-position: 0 nth(sprite-position($icons-sprites, menuPublic), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(menuPublic) / 2;
  height: icons-sprite-height(menuPublic) / 2;
}

.menu-li.public:hover .public-icon {
  @include icons-sprite(menuPublic_over);
  background-position: 0 nth(sprite-position($icons-sprites, menuPublic_over), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(menuPublic_over) / 2;
  height: icons-sprite-height(menuPublic_over) / 2;
}

.settings-icon {
  @include icons-sprite(menuSettings);
  background-position: 0 nth(sprite-position($icons-sprites, menuSettings), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(menuSettings) / 2;
  height: icons-sprite-height(menuSettings) / 2;
}

.menu-li.settings:hover .settings-icon {
  @include icons-sprite(menuSettings_over);
  background-position: 0 nth(sprite-position($icons-sprites, menuSettings_over), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(menuSettings_over) / 2;
  height: icons-sprite-height(menuSettings_over) / 2;
}

.logout-icon {
  @include icons-sprite(menuLogout);
  background-position: 0 nth(sprite-position($icons-sprites, menuLogout), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(menuLogout) / 2;
  height: icons-sprite-height(menuLogout) / 2;
}

.menu-li.logout:hover .logout-icon {
  @include icons-sprite(menuLogout_over);
  background-position: 0 nth(sprite-position($icons-sprites, menuLogout_over), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(menuLogout_over) / 2;
  height: icons-sprite-height(menuLogout_over) / 2;
}

//Footer
.footer-fixed {
  position: absolute;
  bottom: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 15px;
}

/*
//Question List
.iscroll-wrapper {
  position:fixed; z-index:1;
  top:40px; bottom:0px; left:0px;
  width:100%;
  background:$bg-color;
  overflow:auto;
  -webkit-transition:left 300ms;
}

.scroller {
  position:absolute; z-index:1;
  /*	-webkit-touch-callout:none;*/
/*
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  width:100%;
  padding:0 $scroller-padding;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*/

.question-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
}

.question-li {
  margin-top: 12px;
  margin-bottom: 12px;
  background: #FFF;
  border: 1px solid $border-grey;
  padding: 0;
  line-height: 19px;
  font-size: 12px;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  overflow: hidden;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 13px;
}

.question-li-bar {
  background-color: $turquoise_bg;
  padding-top: 35px !important;
}

.question-li-triangle {
  background-color: $turquoise_bg;
}

.topbar-triangle {
  width: 100%;
  height: 0;
  margin: 0 -10px;
  padding: 15px 10px 0;
}

.question-li-text {
  margin-left: 10px;
  margin-top: 17px;
  margin-right: 9px;
  margin-bottom: 12px;
}

//app.settings.avatar_style
.avatar-rounded {
  position: absolute;
  width: 27px;
  height: 27px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  top: 4px;
  left: 6px;
}

.avatar-square {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0px;
  left: 2px;
}

.avatar-large {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 3px solid #AAA;
}

.question-icon {
  @include icons-sprite(resource_question);
  background-position: 0 nth(sprite-position($icons-sprites, resource_question), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(resource_question) / 2;
  height: icons-sprite-height(resource_question) / 2;
  position: absolute;
  top: 5px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}

.username {
  width: 100px;
  position: absolute;
  top: 8px;
  left: 42px;
  color: $username-color;
  font-size: 11px;
}

.star-wrapper {
  position: absolute;
  top: 10px;
  right: 9px;
  width: floor(icons-sprite-width(star-overlay-turquoise) / 2) - 1;
  height: floor(icons-sprite-height(star-overlay-turquoise) / 2) - 1;
  background-color: $turquoise_dark;
}

.star-overlay {
  @include icons-sprite(star-overlay-turquoise);
  background-position: 0 nth(sprite-position($icons-sprites, star-overlay-turquoise), 2) / 2 - 1;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.star-bar {
  height: 15px;
  width: 100%;
  background-color: #fff;
  postion: absolute;
  top: 0;
}

.percentCorrect {
  width: 26px;
  height: 26px;
  float: right;
  position: relative;
  margin: 0 5px 10px;
}

.pullDown, .pullUp, .loading {
  background: #fff;
  height: 40px;
  line-height: 40px;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: 15px;
  color: #888;
  text-shadow: 1px 1px #fff;
  vertical-align: middle;
  margin: 0 -10px;
}

.loading.multiline {
  line-height: 20px;
  position: relative;
  display: table;
  padding-right: 15px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

.loading-msg {
  display: table-cell;
  vertical-align: middle;
}

.retryNum {
  color: rgb(123, 0, 4);
}

.pullDown .pullDownIcon, .pullUp .pullUpIcon, .loading .loading-icon {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  background: url('../img/pull-icon@2x.png') 0 0 no-repeat;
  -webkit-background-size: 40px 120px;
  background-size: 40px 120px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 250ms;
}

.loading-icon {
  margin-right: 10px;
}

.pullDown .pullDownIcon {
  -webkit-transform: rotate(0deg) translateZ(0);
}

.pullUp .pullUpIcon {
  -webkit-transform: rotate(-180deg) translateZ(0);
}

.pullDown.flip .pullDownIcon {
  -webkit-transform: rotate(-180deg) translateZ(0);
}

.pullUp.flip .pullUpIcon {
  -webkit-transform: rotate(0deg) translateZ(0);
}

.pullDown.loading .pullDownIcon, .pullUp.loading .pullUpIcon, .loading .loading-icon {
  background-position: 0 -40px;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;

  -webkit-animation-name: loading;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.loading.error .loading-icon {
  background-position: 0 -80px;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}

//* LOGOUT *//
.logout-view {
  background-color: $turquoise_bg;
  position: relative;
  height: 100%;
  width: 100%;
  margin-left: -10px;
}

.logout-logo {
  margin-top: 40px;
}

.login-username-control {
  padding-right: 6px;
}

.login-pw-control {

}

.logout-text {
  margin: 40px 36px;
  text-shadow: 1px 1px 1px rgb(160, 215, 218);
}

.login-button {
  width: 100px;
  margin-top: 75px;
}

//* LOGIN *//
.login-wrapper {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 8px;
}

.login-topbar {
  width: 100%;
  background: $turquoise_mid;
  padding: 5px 0;
}

.login-logo {
}

#forgotPassword {
  margin-top: 30px;
  cursor: pointer;
  display: inline-block;
}

#forgotUsername {
  margin-top: 30px;
  cursor: pointer;
  display: inline-block;
}

#signInButton, #registerButton {
  width: 100%;
}

#inputUsername, #inputPassword {
  font-size: 18px;
  line-height: 26px;
  width: 98%;
  margin: 0;
}

#inputUsername {
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}

#inputPassword {
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  margin-bottom: 15px;
}

#signinTitle {
  margin-top: 30px;
}

#registerTitle {
  margin-top: 40px;
}

//* HOME * //
.home-welcome {
  margin: 25px 10px 10px;
  position: relative;
  text-align: center;
}

.home-msg {
  position: absolute;
  top: 0;
  left: 60px;
  margin: 12px 0 0;
}

.title-bar {
  margin: 22px -20px 10px;
  font-size: 15px;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
}

.title-bar-pink {
  background-color: rgb(242, 54, 72);
  color: #FFF;
}

.title-bar-yellow {
  background-color: rgb(251, 170, 20);
  color: #000;
}

.home-button {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  width: 120px;
  height: 120px;
  color: #FFF;
  position: relative;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

.touched.home-button {
  background-color: #111 !important;
}

.home-btn-txt {
  position: absolute;
  bottom: 5px;
  text-align: center;
  width: 100%;
}

.home-button.home-trophies {
  background: rgb(64, 178, 164);
}

.home-button.home-stars {
  background: rgb(20, 91, 137);
}

.home-button.home-groups {
  background: rgb(212, 71, 18);
}

.home-button.home-answers {
  background: rgb(251, 170, 20);
}

.home-button.home-comments {
  background: rgb(82, 82, 74);
}

.home-button.home-questions {
  background: rgb(81, 175, 45);
}

.home-btn-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
}

.home-btn-num {
  position: absolute;
  width: 100%;
  bottom: 20px;
  font-weight: bold;
  font-size: 25px;
}

.home-btn-img.home-trophies {
  @include icons-sprite(trophy);
  background-position: 0 nth(sprite-position($icons-sprites, trophy), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(trophy) / 2;
  height: icons-sprite-height(trophy) / 2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.home-btn-img.home-stars {
  @include icons-sprite(star);
  background-position: 0 nth(sprite-position($icons-sprites, star), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(star) / 2;
  height: icons-sprite-height(star) / 2;
}

.home-btn-img.home-groups {
  @include icons-sprite(redCubes);
  background-position: 0 nth(sprite-position($icons-sprites, redCubes), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(redCubes) / 2;
  height: icons-sprite-height(redCubes) / 2;
  margin-top: 10px;
}

.home-btn-img.home-answers {
  @include icons-sprite(pencil);
  background-position: 0 nth(sprite-position($icons-sprites, pencil), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(pencil) / 2;
  height: icons-sprite-height(pencil) / 2;
  margin-top: 16px;
}

.home-btn-img.home-comments {
  @include icons-sprite(comments);
  background-position: 0 nth(sprite-position($icons-sprites, comments), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(comments) / 2;
  height: icons-sprite-height(comments) / 2;
  margin-top: 9px;
}

.home-btn-img.home-questions {
  @include icons-sprite(q-ball-green);
  background-position: 0 nth(sprite-position($icons-sprites, q-ball-green), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(q-ball-green) / 2;
  height: icons-sprite-height(q-ball-green) / 2;
  margin-top: 15px;
}

//* HOME - TROPHY CASE *//
.trophy-case {
  position: relative;
  max-width: 700px;
}

.trophy-detail {
  position: relative;
  z-index: 10px;
}

.detail-topbar {
  background-color: $yellow;
}

.shelves {
  width: 100%;
  position: absolute;
  top: 55px;
  height: 100%;
  left: 0;
}

.shelves-left {
  @include icons-vertical-sprite(shelf-left);
  width: icons-vertical-sprite-width(shelf-left);
  height: 100%;
  position: absolute;
  top: 0;
  background-repeat: repeat-y;
}

.shelves-mid {
  background: url("../img/shelf-mid.png");
  height: 100%;
  position: absolute;
  left: icons-vertical-sprite-width(shelf-left);
  right: icons-vertical-sprite-width(shelf-right);
  top: 0;
  background-repeat: repeat;
}

.shelves-right {
  @include icons-vertical-sprite(shelf-right);
  width: icons-vertical-sprite-width(shelf-right);
  height: 100%;
  right: 0;
  position: absolute;
  top: 0;
  background-repeat: repeat-y;
}

.badges {
  position: relative;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 56px;
}

.badge {
  position: relative;
  margin: 4px 3px 27px;
  display: inline-block;
}

.badge-img {
  height: 66px;
}

.badge-earned {

}

.badge-unearned {
  opacity: 0.3;
  /* old show a box style
  @include icons-sprite(empty-box);
  background-position: 0 nth(sprite-position($icons-sprites, empty-box), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(empty-box) / 2;
  height: icons-sprite-height(empty-box) / 2;
  vertical-align: top;
  margin-top: 7px;
  */
}

//* PUBLIC *//

.select-wrapper {
  overflow: hidden;
  opacity: 1;
  display: block;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin: 0 0 .4em;
  padding: 0 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ rgba(0, 0, 0, .3) /*{global-box-shadow-color}*/;
  -webkit-box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ rgba(0, 0, 0, .3) /*{global-box-shadow-color}*/;
  box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ rgba(0, 0, 0, .3) /*{global-box-shadow-color}*/;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 1em /*{global-radii-buttons}*/;
  -webkit-border-radius: 1em /*{global-radii-buttons}*/;
  border-radius: 1em /*{global-radii-buttons}*/;
  border: 1px solid #ccc /*{c-bup-border}*/;
  background: #eee /*{c-bup-background-color}*/;
  font-weight: bold;
  color: #222 /*{c-bup-color}*/;
  text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #fff /*{c-bup-shadow-color}*/;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff /*{c-bup-background-start}*/), to(#f1f1f1 /*{c-bup-background-end}*/));
  background-image: -webkit-linear-gradient(#fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
  background-image: -moz-linear-gradient(#fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
  background-image: -ms-linear-gradient(#fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
  background-image: -o-linear-gradient(#fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
  background-image: linear-gradient(#fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}

.search-order {
  width: 100%;
}

.select-icon {
  background-color: #666 /*{global-icon-color}*/;
  background-color: rgba(0, 0, 0, .4) /*{global-icon-disc}*/;
  @include icons-sprite(downArrow);
  background-position: 0 nth(sprite-position($icons-sprites, downArrow), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  margin-top: -9px;
  right: 15px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  -moz-box-shadow: 0px 1px 0 rgba(255, 255, 255, .4) /*{global-icon-shadow}*/;
  -webkit-box-shadow: 0px 1px 0 rgba(255, 255, 255, .4) /*{global-icon-shadow}*/;
  box-shadow: 0px 1px 0 rgba(255, 255, 255, .4) /*{global-icon-shadow}*/;
}

.select-button {
  padding-right: 32px;
  font-size: 12.5px;
  padding: .55em 11px .5em;
  min-width: .75em;
  display: block;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  zoom: 1;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 1em /*{global-radii-buttons}*/;
  -webkit-border-radius: 1em /*{global-radii-buttons}*/;
  border-radius: 1em /*{global-radii-buttons}*/;
  border-top: 1px solid #fff;
  border-color: rgba(255, 255, 255, .3);
}

.select-hidden {
  cursor: pointer;
  -webkit-appearance: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  height: 3em;
  max-height: 100%;
  filter: Alpha(Opacity=0);
  opacity: 0;
  z-index: 2;
  zoom: 1;
}

//Search input
.input-search {
  padding: 0 30px;
  margin: .5em 0 .3em;
  background-image: none;
  position: relative;
  -moz-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, .2);
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, .2);
  -webkit-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 1em /*{global-radii-buttons}*/;
  border-radius: 1em /*{global-radii-buttons}*/;
  border: 1px solid #aaa /*{c-body-border}*/;
  color: #333 /*{c-body-color}*/;
  text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #fff /*{c-body-shadow-color}*/;
  background: #f9f9f9 /*{c-body-background-color}*/;
}

.input-search:after {
  position: absolute;
  left: 7px;
  top: 50%;
  margin-top: -9px;
  content: "";
  width: 18px;
  height: 18px;
  opacity: .5;
  @include icons-sprite(searchIcon);
  background-color: rgba(0, 0, 0, .4) /*{global-icon-disc}*/;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}

.search-input-text {
  border: none;
  width: 100%;
  padding: .4em 0;
  margin: 0;
  display: block;
  background: transparent none;
  outline: 0 !important;
  -webkit-appearance: none;
  background-image: none;
  padding: .4em 0;
  min-height: 1.4em;
  line-height: 1.4em;
  font-size: 16px;
  display: block;
  outline: 0;
}

.search-input-clear {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -13px;
  color: #2f3e46;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: .5em;
  display: block;
  text-align: center;
  cursor: pointer;
  padding: 0;
  -moz-box-shadow: 0px 1px 3px /*{global-box-shadow-size}*/ rgba(0, 0, 0, .2) /*{global-box-shadow-color}*/;
  -webkit-box-shadow: 0px 1px 3px /*{global-box-shadow-size}*/ rgba(0, 0, 0, .2) /*{global-box-shadow-color}*/;
  box-shadow: 0px 1px 3px /*{global-box-shadow-size}*/ rgba(0, 0, 0, .2) /*{global-box-shadow-color}*/;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 1em /*{global-radii-buttons}*/;
  border-radius: 1em /*{global-radii-buttons}*/;
  text-decoration: none;
  border: 1px solid #ccc /*{c-bup-border}*/;
  background: #eee /*{c-bup-background-color}*/;
  font-weight: bold;
  background-image: linear-gradient(#fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}

.search-btn-inner {
  padding: 0;
  height: 100%;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  min-width: .75em;
  display: block;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  zoom: 1;
  border-top: 1px solid #fff;
  border-color: rgba(255, 255, 255, .3);
  text-align: center;
  cursor: pointer;
}

.search-icon-delete {
  margin: 2px 1px 2px 3px;
  float: left;
  display: block;
  width: 18px;
  height: 18px;
  -moz-box-shadow: 0px 1px 0 rgba(255, 255, 255, .4) /*{global-icon-shadow}*/;
  -webkit-box-shadow: 0px 1px 0 rgba(255, 255, 255, .4) /*{global-icon-shadow}*/;
  box-shadow: 0px 1px 0 rgba(255, 255, 255, .4) /*{global-icon-shadow}*/;
  background-color: #666 /*{global-icon-color}*/;
  background-color: rgba(0, 0, 0, .4) /*{global-icon-disc}*/;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  @include icons-sprite(searchClose);
}

.input-focus {
  -moz-box-shadow: 0px 0px 12px #387bbe /*{global-active-background-color}*/;
  -webkit-box-shadow: 0px 0px 12px #387bbe /*{global-active-background-color}*/;
  box-shadow: 0px 0px 12px #387bbe /*{global-active-background-color}*/;
  -moz-box-shadow: inset 0px 0px 3px #387bbe /*{global-active-background-color}*/, 0px 0px 9px #387bbe /*{global-active-background-color}*/;
  -webkit-box-shadow: inset 0px 0px 3px #387bbe /*{global-active-background-color}*/, 0px 0px 9px #387bbe /*{global-active-background-color}*/;
  box-shadow: inset 0px 0px 3px #387bbe /*{global-active-background-color}*/, 0px 0px 9px #387bbe /*{global-active-background-color}*/;
}

//Alert Boxes - From MediaLoot
.alert-container {
  padding: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ml-alert-2-error, .ml-alert-2-info, .ml-alert-2-success, .ml-alert-2-warning {
  /*General*/
  display: block;
  text-decoration: none;
  margin: 0px;
  width: 100%;

  /*Text*/
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: bold;
  line-height: 100%;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);

  /*Background*/
  border-width: 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
}

.ml-alert-2-success {
  /*Text*/
  color: rgb(64, 83, 24);
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#80ffffff,Positive=true)";
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#80ffffff, Positive=true);

  /*Background*/
  background-image: -moz-linear-gradient(70% 0% -90deg, rgb(202, 226, 132) 0%, rgb(165, 206, 90) 100%);
  background-image: -webkit-gradient(linear, 70% 0%, 70% 106%, color-stop(0, rgb(202, 226, 132)), color-stop(1, rgb(165, 206, 90)));
  background-image: -webkit-linear-gradient(-90deg, rgb(202, 226, 132) 0%, rgb(165, 206, 90) 100%);
  background-image: -o-linear-gradient(-90deg, rgb(202, 226, 132) 0%, rgb(165, 206, 90) 100%);
  background-image: -ms-linear-gradient(-90deg, rgb(202, 226, 132) 0%, rgb(165, 206, 90) 100%);
  background-image: linear-gradient(-90deg, rgb(202, 226, 132) 0%, rgb(165, 206, 90) 100%);
  border-color: rgb(117, 146, 51);

  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.25);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.25);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcae284,endColorstr=#ffa5ce5a,GradientType=0)
		progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#80000000,Positive=true)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcae284, endColorstr=#ffa5ce5a, GradientType=0) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#80000000, Positive=true);
}

.ml-alert-2-error, .loading.error {
  /*Text*/
  color: rgb(150, 19, 17);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true)";
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#40ffffff, Positive=true);

  /*Background*/
  background-image: -moz-linear-gradient(70% 0% -90deg, rgb(242, 100, 98) 0%, rgb(223, 60, 62) 100%);
  background-image: -webkit-gradient(linear, 70% 0%, 70% 106%, color-stop(0, rgb(242, 100, 98)), color-stop(1, rgb(223, 60, 62)));
  background-image: -webkit-linear-gradient(-90deg, rgb(242, 100, 98) 0%, rgb(223, 60, 62) 100%);
  background-image: -o-linear-gradient(-90deg, rgb(242, 100, 98) 0%, rgb(223, 60, 62) 100%);
  background-image: -ms-linear-gradient(-90deg, rgb(242, 100, 98) 0%, rgb(223, 60, 62) 100%);
  background-image: linear-gradient(-90deg, rgb(242, 100, 98) 0%, rgb(223, 60, 62) 100%);
  border-color: rgb(181, 51, 49);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.25);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.25);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff26462,endColorstr=#ffdf3c3e,GradientType=0)
		progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#80000000,Positive=true)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff26462, endColorstr=#ffdf3c3e, GradientType=0) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#80000000, Positive=true);
}

.ml-alert-2-warning {
  /*Text*/
  color: rgb(132, 116, 45);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true)";
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#40ffffff, Positive=true);

  /*Background*/
  background-image: -moz-linear-gradient(70% 0% -90deg, rgb(255, 239, 191) 0%, rgb(255, 220, 115) 100%);
  background-image: -webkit-gradient(linear, 70% 0%, 70% 106%, color-stop(0, rgb(255, 239, 191)), color-stop(1, rgb(255, 220, 115)));
  background-image: -webkit-linear-gradient(-90deg, rgb(255, 239, 191) 0%, rgb(255, 220, 115) 100%);
  background-image: -o-linear-gradient(-90deg, rgb(255, 239, 191) 0%, rgb(255, 220, 115) 100%);
  background-image: -ms-linear-gradient(-90deg, rgb(255, 239, 191) 0%, rgb(255, 220, 115) 100%);
  background-image: linear-gradient(-90deg, rgb(255, 239, 191) 0%, rgb(255, 220, 115) 100%);
  border-color: rgb(188, 162, 75);
  -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.35);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffefbf,endColorstr=#ffffdc73,GradientType=0)
		progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=0,Color=#59000000,Positive=true)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffefbf, endColorstr=#ffffdc73, GradientType=0) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color=#59000000, Positive=true);
}

.ml-alert-2-info {
  /*Text*/
  color: rgb(76, 81, 84);
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#80ffffff,Positive=true)";
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#80ffffff, Positive=true);

  /*Background*/
  background-image: -moz-linear-gradient(70% 0% -90deg, rgb(222, 233, 237) 0%, rgb(184, 201, 209) 100%);
  background-image: -webkit-gradient(linear, 70% 0%, 70% 106%, color-stop(0, rgb(222, 233, 237)), color-stop(1, rgb(184, 201, 209)));
  background-image: -webkit-linear-gradient(-90deg, rgb(222, 233, 237) 0%, rgb(184, 201, 209) 100%);
  background-image: -o-linear-gradient(-90deg, rgb(222, 233, 237) 0%, rgb(184, 201, 209) 100%);
  background-image: -ms-linear-gradient(-90deg, rgb(222, 233, 237) 0%, rgb(184, 201, 209) 100%);
  background-image: linear-gradient(-90deg, rgb(222, 233, 237) 0%, rgb(184, 201, 209) 100%);
  border-color: rgb(138, 157, 165);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.5);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffdee9ed,endColorstr=#ffb8c9d1,GradientType=0)
		progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40000000,Positive=true)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffdee9ed, endColorstr=#ffb8c9d1, GradientType=0) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#40000000, Positive=true);
}

.style-2-icon {
  width: 20px;
  height: 20px;
  float: left;
  margin: 10px 12px;
}

.success.style-2-icon {
  @include icons-sprite(notification-success);
}

.error.style-2-icon {
  @include icons-sprite(notification-error);
}

.info.style-2-icon {
  @include icons-sprite(notification-info);
}

.warning.style-2-icon {
  @include icons-sprite(notification-warning);
}

.style-2-close {
  width: 20px;
  height: 20px;
  margin: 10px 12px;
  float: right;
  cursor: pointer;
}

.success.style-2-close {
  @include icons-sprite(notification-close-success);
}

.error.style-2-close {
  @include icons-sprite(notification-close-error);
}

.info.style-2-close {
  @include icons-sprite(notification-close-info);
}

.warning.style-2-close {
  @include icons-sprite(notification-close-warning);
}