@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
/* line 514, icons/*.png */
.icons-sprite, .user_icon, .key_icon, .arrow-right, .user, .ui-navbar, .navbar-menu, .menu-logo, .logo, .about-icon, .menu-li.about:hover .about-icon, .groups-icon, .menu-li.groups:hover .groups-icon, .home-icon, .menu-li.home:hover .home-icon, .messages-icon, .menu-li.messages:hover .messages-icon, .profile-icon, .menu-li.profile:hover .profile-icon, .public-icon, .menu-li.public:hover .public-icon, .settings-icon, .menu-li.settings:hover .settings-icon, .logout-icon, .menu-li.logout:hover .logout-icon, .question-icon, .star-overlay, .home-btn-img.home-trophies, .home-btn-img.home-stars, .home-btn-img.home-groups, .home-btn-img.home-answers, .home-btn-img.home-comments, .home-btn-img.home-questions, .select-icon, .input-search:after, .search-icon-delete, .success.style-2-icon, .error.style-2-icon, .info.style-2-icon, .warning.style-2-icon, .success.style-2-close, .error.style-2-close, .info.style-2-close, .warning.style-2-close {
  background: url('../img/icons-s8371028a72.png') no-repeat;
}

/* line 50, icons-vertical/*.png */
.icons-vertical-sprite, .shelves-left, .shelves-right {
  background: url('../img/icons-vertical-s21054fd9b6.png') no-repeat;
}

/* line 70, ../sass/smilem.scss */
html, body, p, a, span, form, ul, li, input, select, img, aside, article, header, footer, label, h1, h2, h3, h4, div {
  margin: 0;
  padding: 0;
}

/* line 75, ../sass/smilem.scss */
html {
  height: 100%;
}

/* line 79, ../sass/smilem.scss */
html, body, p, a, span, form, ul, li, input, select, img, aside, article, header, footer, label, h1, h2, h3, h4, div {
  margin: 0;
  padding: 0;
}

/* line 84, ../sass/smilem.scss */
body {
  background: #455666;
  margin: 0;
  padding: 0;
  border: 0;
  font: 13px 'PT Sans', Helvetica, 'lucida grande', tahoma, verdana, arial, sans-serif;
  color: #fff;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  background: #455666;
  height: 100%;
}

/* line 98, ../sass/smilem.scss */
a {
  text-decoration: none;
}

/* line 102, ../sass/smilem.scss */
ul, li {
  list-style: none;
}

/* line 106, ../sass/smilem.scss */
.clearfix {
  *zoom: 1;
}

/* line 110, ../sass/smilem.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

/* line 116, ../sass/smilem.scss */
.clearfix:after {
  clear: both;
}

/* menu*/
/* line 121, ../sass/smilem.scss */
a.menu1 {
  background: #eb4d3b;
  height: 65px;
  width: 100%;
  float: left;
  margin-top: 1px;
}

/* line 129, ../sass/smilem.scss */
a.menu1 span {
  background: url(../images/home.png) center no-repeat;
  width: 45px;
  height: 45px;
  margin-left: 11px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}

/* line 139, ../sass/smilem.scss */
a.menu1 h2 {
  width: auto;
  font-size: 16px;
  color: #fff;
  padding-top: 10px;
}

/* line 146, ../sass/smilem.scss */
a.menu1 p {
  width: auto;
  font-size: 12px;
  color: #fff;
  padding-left: 5px;
  float: left;
}

/* line 154, ../sass/smilem.scss */
a.menu1 div {
  background: url(../images/whitearrow.png);
  width: 9px;
  height: 14px;
  float: left;
  position: relative;
  z-index: 2;
  margin-left: 300px;
  margin-top: -32px;
}

/* line 165, ../sass/smilem.scss */
a.menu2 {
  background: #f2c212;
  height: 65px;
  width: 100%;
  float: left;
  margin-top: 1px;
}

/* line 173, ../sass/smilem.scss */
a.menu2 span {
  background: url(../images/aim.png) center no-repeat;
  width: 45px;
  height: 45px;
  margin-left: 11px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}

/* line 183, ../sass/smilem.scss */
a.menu2 h2 {
  width: auto;
  font-size: 16px;
  color: #fff;
  padding-top: 10px;
}

/* line 190, ../sass/smilem.scss */
a.menu2 p {
  width: auto;
  font-size: 12px;
  color: #fff;
  padding-left: 5px;
  float: left;
}

/* line 198, ../sass/smilem.scss */
a.menu2 div {
  background: url(../images/whitearrow.png);
  width: 9px;
  height: 14px;
  float: left;
  position: relative;
  z-index: 2;
  margin-left: 300px;
  margin-top: -32px;
}

/* line 209, ../sass/smilem.scss */
a.menu3 {
  background: #1abd9c;
  height: 65px;
  width: 100%;
  float: left;
  margin-top: 1px;
}

/* line 217, ../sass/smilem.scss */
a.menu3 span {
  background: url(../images/all.png) center no-repeat;
  width: 45px;
  height: 45px;
  margin-left: 11px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}

/* line 227, ../sass/smilem.scss */
a.menu3 h2 {
  width: auto;
  font-size: 16px;
  color: #fff;
  padding-top: 10px;
}

/* line 234, ../sass/smilem.scss */
a.menu3 p {
  width: auto;
  font-size: 12px;
  color: #fff;
  padding-left: 5px;
  float: left;
}

/* line 242, ../sass/smilem.scss */
a.menu3 div {
  background: url(../images/whitearrow.png);
  width: 9px;
  height: 14px;
  float: left;
  position: relative;
  z-index: 2;
  margin-left: 300px;
  margin-top: -32px;
}

/* line 253, ../sass/smilem.scss */
a.menu4 {
  background: #3399db;
  height: 65px;
  width: 100%;
  float: left;
  margin-top: 1px;
}

/* line 261, ../sass/smilem.scss */
a.menu4 span {
  background: url(../images/contact.png) center no-repeat;
  width: 45px;
  height: 45px;
  margin-left: 11px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}

/* line 271, ../sass/smilem.scss */
a.menu4 h2 {
  width: auto;
  font-size: 16px;
  color: #fff;
  padding-top: 10px;
}

/* line 278, ../sass/smilem.scss */
a.menu4 p {
  width: auto;
  font-size: 12px;
  color: #fff;
  padding-left: 5px;
  float: left;
}

/* line 286, ../sass/smilem.scss */
a.menu4 div {
  background: url(../images/whitearrow.png);
  width: 9px;
  height: 14px;
  float: left;
  position: relative;
  z-index: 2;
  margin-left: 300px;
  margin-top: -32px;
}

/* line 297, ../sass/smilem.scss */
a.menu5 {
  background: #9c59b5;
  height: 65px;
  width: 100%;
  float: left;
  margin-top: 1px;
}

/* line 305, ../sass/smilem.scss */
a.menu5 span {
  background: url(../images/user.png) center no-repeat;
  width: 45px;
  height: 45px;
  margin-left: 11px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}

/* line 315, ../sass/smilem.scss */
a.menu5 h2 {
  width: auto;
  font-size: 16px;
  color: #fff;
  padding-top: 10px;
}

/* line 322, ../sass/smilem.scss */
a.menu5 p {
  width: auto;
  font-size: 12px;
  color: #fff;
  padding-left: 5px;
  float: left;
}

/* line 330, ../sass/smilem.scss */
a.menu5 div {
  background: url(../images/whitearrow.png);
  width: 9px;
  height: 14px;
  float: left;
  position: relative;
  z-index: 2;
  margin-left: 300px;
  margin-top: -32px;
}

/* menuggg*/
/* line 342, ../sass/smilem.scss */
.row {
  width: 100%;
  float: left;
}

/* line 347, ../sass/smilem.scss */
.menuicon {
  float: left;
  height: 40px;
  width: 40px;
  float: left;
  background: #eb4d3b;
}

/* line 355, ../sass/smilem.scss */
.menuicon span {
  background: url(../images/menu.png) no-repeat center;
  width: 100%;
  float: left;
  margin-top: 10px;
}

/* line 362, ../sass/smilem.scss */
.container {
  width: 100%;
  float: none;
}

/* line 367, ../sass/smilem.scss */
.pt20 {
  padding-top: 20px;
}

/* line 371, ../sass/smilem.scss */
.pl40 {
  padding-left: 40px;
}

/* line 375, ../sass/smilem.scss */
.height50 {
  height: 50px;
}

/* line 379, ../sass/smilem.scss */
.height40 {
  height: 40px;
}

/* line 383, ../sass/smilem.scss */
.height480px {
  height: 450px;
  margin-top: 30px;
}

/* line 388, ../sass/smilem.scss */
.height400px {
  height: 400px;
}

/* line 392, ../sass/smilem.scss */
.text30 {
  font-size: 30px;
  text-align: center;
}

/* line 397, ../sass/smilem.scss */
a.signin {
  width: 206px;
  height: 47px;
  line-height: 47px;
  background: #3399db;
  border-radius: 5px;
  -moz-border-radius: 5px;
  float: left;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 20px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  margin-left: 60px;
}

/* line 415, ../sass/smilem.scss */
a.signin > span {
  background: url(../images/signup.png) no-repeat center;
  width: 24px;
  height: 29px;
  float: left;
  margin-left: 20px;
  margin-top: 7px;
  margin-right: 30px;
}

/* line 425, ../sass/smilem.scss */
a.register {
  width: 206px;
  height: 47px;
  line-height: 47px;
  background: #eb4d3b;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 18px;
  color: #fff;
  float: left;
  margin-left: 60px;
  font-weight: bold;
}

/* line 444, ../sass/smilem.scss */
a.register > span {
  background: url(../images/reg.png) no-repeat center;
  width: 24px;
  height: 29px;
  float: left;
  margin-left: 20px;
  margin-top: 7px;
  margin-right: 30px;
}

/* line 454, ../sass/smilem.scss */
.bgsilver {
  background: #ebedf0;
}

/* line 458, ../sass/smilem.scss */
.tm20 {
  margin-top: 20px;
}

/* line 462, ../sass/smilem.scss */
.height30 {
  height: 30px;
}

/*form*/
/* line 467, ../sass/smilem.scss */
.divider {
  width: 100%;
  clear: both;
  background: #fff;
  float: left;
  height: 1px;
}

/* line 475, ../sass/smilem.scss */
.input_field {
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  width: 64%;
  padding-left: 45px;
  outline: none;
}

/* line 484, ../sass/smilem.scss */
.input_green {
  border: 2px solid #1cbd9c;
}

/* line 488, ../sass/smilem.scss */
.input_red {
  border: 2px solid #ea4d3a;
}

/* line 491, ../sass/smilem.scss */
.username_field {
  margin-left: 40px;
  margin-top: 15px;
}

/* line 496, ../sass/smilem.scss */
.password_field {
  margin-left: 40px;
  margin-top: 15px;
}

/* line 500, ../sass/smilem.scss */
.input_box {
  width: 40px;
  height: 44px;
  position: absolute;
}

/* line 505, ../sass/smilem.scss */
.red_bg {
  background: #ea4d3a;
}

/* line 508, ../sass/smilem.scss */
.green_bg {
  background: #1cbd9c;
}

/* line 511, ../sass/smilem.scss */
.user_icon {
  background-position: 0 -3112px;
  width: 22px;
  height: 18px;
  position: absolute;
  left: 9px;
  top: 13px;
}

/* line 520, ../sass/smilem.scss */
.key_icon {
  background-position: 0 -3388px;
  width: 24px;
  height: 22px;
  position: absolute;
  left: 8px;
  top: 11px;
}

/* line 529, ../sass/smilem.scss */
.submit {
  width: 290px;
  float: left;
  margin: 20px 0px 20px 15px;
  background-color: #384b5c;
  font-size: 15px;
  text-align: center;
  height: 50px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

/* line 543, ../sass/smilem.scss */
.submit:hover {
  background: #ea4d3a;
}

/* line 547, ../sass/smilem.scss */
.forgot {
  font-size: 14px;
  color: #384b5c;
  float: right;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}

/* line 557, ../sass/smilem.scss */
.remember {
  font-size: 15px;
  color: #384b5c;
  float: left;
  margin-left: 8px;
  padding-right: 50px;
  font-weight: bold;
}

/* line 566, ../sass/smilem.scss */
.arrow-right {
  background-position: 0 -2922px;
  width: 12px;
  height: 16px;
}

/* Check box */
/* line 573, ../sass/smilem.scss */
input[type='checkbox'] {
  opacity: 0;
}

/* line 576, ../sass/smilem.scss */
.check {
  width: 20px;
  float: left;
  margin-left: 50px;
  position: relative;
}

/* line 583, ../sass/smilem.scss */
.check label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -2;
  margin-left: -13px;
  background: #384b5c;
}

/* line 593, ../sass/smilem.scss */
.check label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 614, ../sass/smilem.scss */
.check label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

/* line 620, ../sass/smilem.scss */
.check input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

/* line 626, ../sass/smilem.scss */
input {
  -webkit-appearance: none;
}

/* line 630, ../sass/smilem.scss */
.input_green::-webkit-input-placeholder, .input_green {
  color: #1abd9c;
}

/* line 634, ../sass/smilem.scss */
.input_green::-moz-placeholder {
  color: #1abd9c;
}

/* line 638, ../sass/smilem.scss */
.input_red::-webkit-input-placeholder, .input_red {
  color: #eb4d3b;
}

/* line 642, ../sass/smilem.scss */
.input_red::-moz-placeholder {
  color: #eb4d3b;
}

/* line 646, ../sass/smilem.scss */
.item {
  width: 100%;
  float: left;
}

/* line 652, ../sass/smilem.scss */
body.touch {
  cursor: pointer;
}

/* line 656, ../sass/smilem.scss */
#viewport {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  pointer-events: none;
}

/* line 664, ../sass/smilem.scss */
#app-container {
  width: 100%;
  max-width: 100%;
  -webkit-transition: left 300ms, margin-left 300ms;
  left: 0px;
  position: relative;
  background: #455666;
  min-height: 100%;
  pointer-events: auto;
  z-index: 10;
}

/* line 676, ../sass/smilem.scss */
.logo-bar {
  background: #353f48;
}

/*form*/
/* line 681, ../sass/smilem.scss */
.divider {
  width: 100%;
  clear: both;
  background: #fff;
  float: left;
  height: 1px;
}

/* line 688, ../sass/smilem.scss */
.input_green {
  width: 69%;
  height: 40px;
  border: 2px solid #1cbd9c;
  padding-left: 45px;
  outline: none;
}

/* line 695, ../sass/smilem.scss */
.input_red {
  width: 69%;
  height: 40px;
  border: 2px solid #ea4d3a;
  padding-left: 45px;
  outline: none;
}

/* line 702, ../sass/smilem.scss */
.user {
  background-position: 0 -3112px;
  width: 22px;
  height: 18px;
  position: absolute;
  background-color: #1cbd9c;
  background-repeat: none;
  margin-left: 40px;
  margin-top: 15px;
}

/* line 717, ../sass/smilem.scss */
.key {
  width: 40px;
  height: 44px;
  position: absolute;
  background: #ea4d3a url(../images/key.png) no-repeat center;
  margin-left: 40px;
  margin-top: 15px;
}

/* line 727, ../sass/smilem.scss */
#green::-webkit-input-placeholder {
  color: #1abd9c;
  font-size: 14px;
  font-weight: bold;
}

/* line 733, ../sass/smilem.scss */
#green::-moz-placeholder {
  color: #1abd9c;
  font-size: 14px;
  font-weight: bold;
}

/* line 739, ../sass/smilem.scss */
#red::-webkit-input-placeholder {
  color: #eb4d3b;
  font-size: 14px;
  font-weight: bold;
}

/* line 745, ../sass/smilem.scss */
#red::-moz-placeholder {
  color: #eb4d3b;
  font-size: 14px;
  font-weight: bold;
}

/* line 751, ../sass/smilem.scss */
.item {
  width: 100%;
  float: left;
}

/* line 756, ../sass/smilem.scss */
.bgsilver {
  background: #ebedf0;
}

/* line 760, ../sass/smilem.scss */
.tm20 {
  margin-top: 20px;
}

/* line 764, ../sass/smilem.scss */
.height30 {
  height: 30px;
}

@media all and (max-width: 400px) {
  /* line 771, ../sass/smilem.scss */
  .revealOpen {
    left: 100% !important;
  }

  /* line 774, ../sass/smilem.scss */
  .pushOpen {
    margin-left: 100% !important;
  }

  /* line 777, ../sass/smilem.scss */
  .overlapOpen {
    left: 0 !important;
    padding-left: 6px;
  }

  /* line 781, ../sass/smilem.scss */
  #menu-container {
    width: 100%;
    left: -100%;
  }

  /* line 785, ../sass/smilem.scss */
  .push#menu-container, .overlap#menu-container {
    border-left-width: 0px;
  }

  /* line 788, ../sass/smilem.scss */
  .pushOpen #menu-container, .overlapOpen #menu-container {
    border-left-width: 6px !important;
  }
}
@media all and (min-width: 401px) {
  /* line 795, ../sass/smilem.scss */
  .revealOpen {
    left: 220px !important;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.3);
  }

  /* line 801, ../sass/smilem.scss */
  .pushOpen {
    margin-left: 220px !important;
  }

  /* line 804, ../sass/smilem.scss */
  .overlapOpen {
    left: 0 !important;
  }

  /* line 807, ../sass/smilem.scss */
  .push#menu-container, .overlap#menu-container {
    border-left-width: 6px;
  }

  /* line 810, ../sass/smilem.scss */
  #menu-container {
    width: 214px;
  }
}
@media all and (min-width: 801px) and (max-width: 1200px) {
  /* line 817, ../sass/smilem.scss */
  .question-li {
    width: 49%;
    margin-left: 2px;
    display: inline-block;
  }
}
@media all and (min-width: 1201px) {
  /* line 826, ../sass/smilem.scss */
  .question-li {
    width: 32%;
    margin-left: 8px;
    display: inline-block;
  }
}
/* line 833, ../sass/smilem.scss */
.turquoise-bg {
  background-color: #1cb2ad !important;
}

/* line 837, ../sass/smilem.scss */
#app-header {
  position: relative;
}

/* line 841, ../sass/smilem.scss */
#app-content {
  position: relative;
  border-width: 0;
  overflow: visible;
  overflow-x: hidden;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 440px;
}

/* line 853, ../sass/smilem.scss */
.ui-mobile-viewport {
  overflow-x: hidden;
  height: 99.9%;
  margin: 0;
  overflow-x: visible;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-image: none;
  border: 1px 0px solid #aaa;
  color: #333333;
  text-shadow: 0 1px 0 #fff;
  background: #455666;
}

/* line 868, ../sass/smilem.scss */
h3 {
  text-shadow: 1px 1px 1px #a0d7da;
  color: #444;
  filter: dropshadow(color=#a0d7da, offx=1, offy=1);
  line-height: 22px;
  text-indent: 10px;
  font-size: 14px;
}

/* line 877, ../sass/smilem.scss */
h4 {
  text-shadow: 1px 1px 1px #5b514c;
  color: #fff;
  filter: dropshadow(color=#5b514c, offx=1, offy=1);
  line-height: 18px;
  font-size: 12px;
}

/* line 885, ../sass/smilem.scss */
h5 {
  text-shadow: 1px 1px 1px #FFF;
  font-size: 16px;
}

/* line 890, ../sass/smilem.scss */
.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

/* line 898, ../sass/smilem.scss */
.button {
  word-wrap: wrap;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  line-height: 27px;
  min-width: 54px;
  outline: 0;
  color: #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: default;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  margin: 6px auto;
  vertical-align: middle;
  -webkit-user-select: none;
}

/* line 921, ../sass/smilem.scss */
.button:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

/* line 926, ../sass/smilem.scss */
.button-yellow {
  background-color: #fbb510;
  background-image: -webkit-linear-gradient(top, #fbb510, #fbaa13);
  background-image: linear-gradient(top, #fbb510, #fbaa13);
  border: 1px solid #f4911d;
  text-shadow: 1px 1px 1px #3b383b;
  filter: dropshadow(color=#3b383b, offx=1, offy=1);
}

/* line 935, ../sass/smilem.scss */
.button-yellow:hover {
  background-color: #f39231;
  background-image: -webkit-linear-gradient(top, #f2a031, #f39231);
  background-image: linear-gradient(top, #f2a031, #f39231);
  border: 1px solid #e2732d;
}

/* line 942, ../sass/smilem.scss */
.button-blue {
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
}

/* line 949, ../sass/smilem.scss */
.ui-footer {
  position: relative;
  zoom: 1;
  font-family: Helvetica, Trebuchet MS, Verdana, Arial, sans-serif;
  border: 1px 0px solid;
  background: #111;
  font-weight: bold;
  text-shadow: 0  -1px  0 #000;
}

/* line 959, ../sass/smilem.scss */
.ui-navbar {
  padding: 10px 0;
  margin: 0;
  max-width: 100%;
  display: block;
  background-color: #535160;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  position: static;
  width: 100%;
  background-position: 0 -3130px;
  background-repeat: repeat-x;
  border-top: 1px solid #1f2726;
  border-bottom: 1px solid #1f2726;
}

/* line 984, ../sass/smilem.scss */
.ui-navbar-name-header {
  height: 60px;
}

/* line 988, ../sass/smilem.scss */
.navbar-title {
  color: #FFF;
  font-size: 14px;
  text-shadow: 1px 2px 1px #1f2726;
  filter: dropshadow(color=#1f2726, offx=1, offy=2);
}

/* line 995, ../sass/smilem.scss */
.navbar-settings {
  position: absolute;
  top: 5px;
  right: 4px;
}

/* line 1002, ../sass/smilem.scss */
.navbar-menu {
  background-position: 0 -3410px;
  background-position: 0 -1705px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 9px;
  height: 8px;
  position: absolute;
  top: 9px;
  left: 9px;
}

/* line 1016, ../sass/smilem.scss */
.backbutton {
  position: absolute;
  top: 7px;
  left: 8px;
  color: #FFF;
  line-height: 29px;
}

/* MENU */
/*
http://jbkflex.wordpress.com/2012/08/18/fluidic-sliding-panels-auto-adjust-to-any-device-screen-without-browser-refresh/
*/
/* line 1028, ../sass/smilem.scss */
#menu-container {
  position: absolute;
  z-index: 500;
  top: 0px;
  left: -220px;
  right: 0px;
  -webkit-transition: left 300ms;
  background: #edecec;
  border-left: 6px solid #f8f5ed;
  pointer-events: auto;
}

/* line 1040, ../sass/smilem.scss */
#menu-container.overlay {
  border-left-width: 6px;
}

/* line 1044, ../sass/smilem.scss */
#menu-container.reveal {
  border-left-width: 6px;
  left: 0px;
  position: absolute;
  z-index: 0;
}

/* line 1051, ../sass/smilem.scss */
.menu-top {
  background-color: #1cb2ad;
  height: 54px;
  padding-top: 14px;
  padding-left: 6px;
  position: relative;
  left: -6px;
  border: 0;
  width: 100%;
}

/* line 1064, ../sass/smilem.scss */
.menu-logo {
  background-position: 0 -3170px;
  background-position: 0 -1585px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 66.5px;
  height: 16.5px;
  margin-left: auto;
  margin-right: auto;
}

/* line 1075, ../sass/smilem.scss */
.menu-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
}

/* line 1083, ../sass/smilem.scss */
.menu-li {
  padding-top: 8px;
  padding-bottom: 4px;
  padding-left: 50px;
  padding-right: 10px;
  background: #edecec;
  border-top: 1px solid #f8f5ed;
  border-bottom: 1px solid #bebcbc;
  margin: 0;
  line-height: 30px;
  font-size: 12px;
  overflow: hidden;
  position: relative;
  text-shadow: 1px 0 1px #fff;
  border-left: 6px solid #f8f5ed;
  left: -6px;
}

/* line 1101, ../sass/smilem.scss */
.home.menu-li:hover, .home.menu-li-selected {
  border-left-color: #d34711 !important;
}

/* line 1105, ../sass/smilem.scss */
.public.menu-li:hover, .public.menu-li-selected {
  border-left-color: #1cb2ad !important;
}

/* line 1109, ../sass/smilem.scss */
.groups.menu-li:hover, .groups.menu-li-selected {
  border-left-color: #fbaa14 !important;
}

/* line 1113, ../sass/smilem.scss */
.profile.menu-li:hover, .profile.menu-li-selected {
  border-left-color: #8cc43f !important;
}

/* line 1117, ../sass/smilem.scss */
.messages.menu-li:hover, .messages.menu-li-selected {
  border-left-color: #5b514c !important;
}

/* line 1121, ../sass/smilem.scss */
.settings.menu-li:hover, .settings.menu-li-selected {
  border-left-color: #5b514c !important;
}

/* line 1125, ../sass/smilem.scss */
.about.menu-li:hover, .about.menu-li-selected {
  border-left-color: #004192 !important;
}

/* line 1129, ../sass/smilem.scss */
.logout.menu-li:hover, .logout.menu-li-selected {
  border-left-color: #14426d !important;
}

/* line 1133, ../sass/smilem.scss */
.home.menu-top {
  background-color: #d34711;
}

/* line 1137, ../sass/smilem.scss */
.public.menu-top {
  background-color: #1cb2ad;
}

/* line 1141, ../sass/smilem.scss */
.groups.menu-top {
  background-color: #fbaa14;
}

/* line 1145, ../sass/smilem.scss */
.profile.menu-top {
  background-color: #8cc43f;
}

/* line 1149, ../sass/smilem.scss */
.messages.menu-top {
  background-color: #5b514c;
}

/* line 1153, ../sass/smilem.scss */
.settings.menu-top {
  background-color: #5b514c;
}

/* line 1157, ../sass/smilem.scss */
.about.menu-top {
  background-color: #004192;
}

/* line 1161, ../sass/smilem.scss */
.logout.menu-top {
  background-color: #14426d;
}

/* line 1165, ../sass/smilem.scss */
.menu-li-img {
  position: absolute;
  top: 6px;
  left: 10px;
}

/* line 1171, ../sass/smilem.scss */
.menu-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto !important;
  height: auto !important;
}

/* line 1180, ../sass/smilem.scss */
#menu-overlay {
  width: 0px;
  height: 0px;
  background-color: #222222;
  position: fixed;
  z-index: 450;
  opacity: 0;
  -webkit-transition: opacity 300ms linear, left 300ms;
  pointer-events: auto;
}

/* line 1191, ../sass/smilem.scss */
.logo {
  background-position: 0 -1063px;
  background-position: 0 -531.5px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 101.5px;
  height: 46px;
  margin-left: auto;
  margin-right: auto;
}

/* line 1202, ../sass/smilem.scss */
.about-icon {
  background-position: 0 -2590px;
  background-position: 0 -1295px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 30px;
  height: 30px;
}

/* line 1211, ../sass/smilem.scss */
.menu-li.about:hover .about-icon {
  background-position: 0 -2350px;
  background-position: 0 -1175px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 30px;
  height: 30px;
}

/* line 1220, ../sass/smilem.scss */
.groups-icon {
  background-position: 0 -1832px;
  background-position: 0 -916px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 30px;
  height: 30px;
}

/* line 1229, ../sass/smilem.scss */
.menu-li.groups:hover .groups-icon {
  background-position: 0 -1712px;
  background-position: 0 -856px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 30px;
  height: 30px;
}

/* line 1238, ../sass/smilem.scss */
.home-icon {
  background-position: 0 -2410px;
  background-position: 0 -1205px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 30px;
  height: 30px;
}

/* line 1247, ../sass/smilem.scss */
.menu-li.home:hover .home-icon {
  background-position: 0 -2530px;
  background-position: 0 -1265px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 30px;
  height: 30px;
}

/* line 1256, ../sass/smilem.scss */
.messages-icon {
  background-position: 0 -2230px;
  background-position: 0 -1115px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 30px;
  height: 30px;
}

/* line 1265, ../sass/smilem.scss */
.menu-li.messages:hover .messages-icon {
  background-position: 0 -2048px;
  background-position: 0 -1024px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 30px;
  height: 30px;
}

/* line 1274, ../sass/smilem.scss */
.profile-icon {
  background-position: 0 -2470px;
  background-position: 0 -1235px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 30px;
  height: 30px;
}

/* line 1283, ../sass/smilem.scss */
.menu-li.profile:hover .profile-icon {
  background-position: 0 -2290px;
  background-position: 0 -1145px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 30px;
  height: 30px;
}

/* line 1292, ../sass/smilem.scss */
.public-icon {
  background-position: 0 -1772px;
  background-position: 0 -886px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 30px;
  height: 30px;
}

/* line 1301, ../sass/smilem.scss */
.menu-li.public:hover .public-icon {
  background-position: 0 -1652px;
  background-position: 0 -826px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 30px;
  height: 30px;
}

/* line 1310, ../sass/smilem.scss */
.settings-icon {
  background-position: 0 -2168px;
  background-position: 0 -1084px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 30px;
  height: 31px;
}

/* line 1319, ../sass/smilem.scss */
.menu-li.settings:hover .settings-icon {
  background-position: 0 -1892px;
  background-position: 0 -946px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 30px;
  height: 31px;
}

/* line 1328, ../sass/smilem.scss */
.logout-icon {
  background-position: 0 -2108px;
  background-position: 0 -1054px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 30px;
  height: 30px;
}

/* line 1337, ../sass/smilem.scss */
.menu-li.logout:hover .logout-icon {
  background-position: 0 -1954px;
  background-position: 0 -977px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 30px;
  height: 30px;
}

/* line 1347, ../sass/smilem.scss */
.footer-fixed {
  position: absolute;
  bottom: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 15px;
}

/*
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  width:100%;
  padding:0 $scroller-padding;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*/
/* line 1380, ../sass/smilem.scss */
.question-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
}

/* line 1388, ../sass/smilem.scss */
.question-li {
  margin-top: 12px;
  margin-bottom: 12px;
  background: #FFF;
  border: 1px solid #c8c8c8;
  padding: 0;
  line-height: 19px;
  font-size: 12px;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  overflow: hidden;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 13px;
}

/* line 1405, ../sass/smilem.scss */
.question-li-bar {
  background-color: #1cb2ad;
  padding-top: 35px !important;
}

/* line 1410, ../sass/smilem.scss */
.question-li-triangle {
  background-color: #1cb2ad;
}

/* line 1414, ../sass/smilem.scss */
.topbar-triangle {
  width: 100%;
  height: 0;
  margin: 0 -10px;
  padding: 15px 10px 0;
}

/* line 1421, ../sass/smilem.scss */
.question-li-text {
  margin-left: 10px;
  margin-top: 17px;
  margin-right: 9px;
  margin-bottom: 12px;
}

/* line 1429, ../sass/smilem.scss */
.avatar-rounded {
  position: absolute;
  width: 27px;
  height: 27px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  top: 4px;
  left: 6px;
}

/* line 1440, ../sass/smilem.scss */
.avatar-square {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0px;
  left: 2px;
}

/* line 1448, ../sass/smilem.scss */
.avatar-large {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 3px solid #AAA;
}

/* line 1457, ../sass/smilem.scss */
.question-icon {
  background-position: 0 -2650px;
  background-position: 0 -1325px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 5px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}

/* line 1472, ../sass/smilem.scss */
.username {
  width: 100px;
  position: absolute;
  top: 8px;
  left: 42px;
  color: white;
  font-size: 11px;
}

/* line 1481, ../sass/smilem.scss */
.star-wrapper {
  position: absolute;
  top: 10px;
  right: 9px;
  width: 78px;
  height: 16px;
  background-color: #007894;
}

/* line 1490, ../sass/smilem.scss */
.star-overlay {
  background-position: 0 -2014px;
  background-position: 0 -1008px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

/* line 1501, ../sass/smilem.scss */
.star-bar {
  height: 15px;
  width: 100%;
  background-color: #fff;
  postion: absolute;
  top: 0;
}

/* line 1509, ../sass/smilem.scss */
.percentCorrect {
  width: 26px;
  height: 26px;
  float: right;
  position: relative;
  margin: 0 5px 10px;
}

/* line 1517, ../sass/smilem.scss */
.pullDown, .pullUp, .loading {
  background: #fff;
  height: 40px;
  line-height: 40px;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: 15px;
  color: #888;
  text-shadow: 1px 1px #fff;
  vertical-align: middle;
  margin: 0 -10px;
}

/* line 1531, ../sass/smilem.scss */
.loading.multiline {
  line-height: 20px;
  position: relative;
  display: table;
  padding-right: 15px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

/* line 1541, ../sass/smilem.scss */
.loading-msg {
  display: table-cell;
  vertical-align: middle;
}

/* line 1546, ../sass/smilem.scss */
.retryNum {
  color: #7b0004;
}

/* line 1550, ../sass/smilem.scss */
.pullDown .pullDownIcon, .pullUp .pullUpIcon, .loading .loading-icon {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  background: url("../img/pull-icon@2x.png") 0 0 no-repeat;
  -webkit-background-size: 40px 120px;
  background-size: 40px 120px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 250ms;
}

/* line 1562, ../sass/smilem.scss */
.loading-icon {
  margin-right: 10px;
}

/* line 1566, ../sass/smilem.scss */
.pullDown .pullDownIcon {
  -webkit-transform: rotate(0deg) translateZ(0);
}

/* line 1570, ../sass/smilem.scss */
.pullUp .pullUpIcon {
  -webkit-transform: rotate(-180deg) translateZ(0);
}

/* line 1574, ../sass/smilem.scss */
.pullDown.flip .pullDownIcon {
  -webkit-transform: rotate(-180deg) translateZ(0);
}

/* line 1578, ../sass/smilem.scss */
.pullUp.flip .pullUpIcon {
  -webkit-transform: rotate(0deg) translateZ(0);
}

/* line 1582, ../sass/smilem.scss */
.pullDown.loading .pullDownIcon, .pullUp.loading .pullUpIcon, .loading .loading-icon {
  background-position: 0 -40px;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

/* line 1593, ../sass/smilem.scss */
.loading.error .loading-icon {
  background-position: 0 -80px;
}

@-webkit-keyframes loading {
  /* line 1598, ../sass/smilem.scss */
  from {
    -webkit-transform: rotate(0deg) translateZ(0);
  }

  /* line 1601, ../sass/smilem.scss */
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}

/* line 1607, ../sass/smilem.scss */
.logout-view {
  background-color: #1cb2ad;
  position: relative;
  height: 100%;
  width: 100%;
  margin-left: -10px;
}

/* line 1615, ../sass/smilem.scss */
.logout-logo {
  margin-top: 40px;
}

/* line 1619, ../sass/smilem.scss */
.login-username-control {
  padding-right: 6px;
}

/* line 1627, ../sass/smilem.scss */
.logout-text {
  margin: 40px 36px;
  text-shadow: 1px 1px 1px #a0d7da;
}

/* line 1632, ../sass/smilem.scss */
.login-button {
  width: 100px;
  margin-top: 75px;
}

/* line 1638, ../sass/smilem.scss */
.login-wrapper {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 8px;
}

/* line 1645, ../sass/smilem.scss */
.login-topbar {
  width: 100%;
  background: #00a59e;
  padding: 5px 0;
}

/* line 1654, ../sass/smilem.scss */
#forgotPassword {
  margin-top: 30px;
  cursor: pointer;
  display: inline-block;
}

/* line 1660, ../sass/smilem.scss */
#forgotUsername {
  margin-top: 30px;
  cursor: pointer;
  display: inline-block;
}

/* line 1666, ../sass/smilem.scss */
#signInButton, #registerButton {
  width: 100%;
}

/* line 1670, ../sass/smilem.scss */
#inputUsername, #inputPassword {
  font-size: 18px;
  line-height: 26px;
  width: 98%;
  margin: 0;
}

/* line 1677, ../sass/smilem.scss */
#inputUsername {
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}

/* line 1682, ../sass/smilem.scss */
#inputPassword {
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  margin-bottom: 15px;
}

/* line 1688, ../sass/smilem.scss */
#signinTitle {
  margin-top: 30px;
}

/* line 1692, ../sass/smilem.scss */
#registerTitle {
  margin-top: 40px;
}

/* line 1697, ../sass/smilem.scss */
.home-welcome {
  margin: 25px 10px 10px;
  position: relative;
  text-align: center;
}

/* line 1703, ../sass/smilem.scss */
.home-msg {
  position: absolute;
  top: 0;
  left: 60px;
  margin: 12px 0 0;
}

/* line 1710, ../sass/smilem.scss */
.title-bar {
  margin: 22px -20px 10px;
  font-size: 15px;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
}

/* line 1718, ../sass/smilem.scss */
.title-bar-pink {
  background-color: #f23648;
  color: #FFF;
}

/* line 1723, ../sass/smilem.scss */
.title-bar-yellow {
  background-color: #fbaa14;
  color: #000;
}

/* line 1728, ../sass/smilem.scss */
.home-button {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  width: 120px;
  height: 120px;
  color: #FFF;
  position: relative;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

/* line 1741, ../sass/smilem.scss */
.touched.home-button {
  background-color: #111 !important;
}

/* line 1745, ../sass/smilem.scss */
.home-btn-txt {
  position: absolute;
  bottom: 5px;
  text-align: center;
  width: 100%;
}

/* line 1752, ../sass/smilem.scss */
.home-button.home-trophies {
  background: #40b2a4;
}

/* line 1756, ../sass/smilem.scss */
.home-button.home-stars {
  background: #145b89;
}

/* line 1760, ../sass/smilem.scss */
.home-button.home-groups {
  background: #d44712;
}

/* line 1764, ../sass/smilem.scss */
.home-button.home-answers {
  background: #fbaa14;
}

/* line 1768, ../sass/smilem.scss */
.home-button.home-comments {
  background: #52524a;
}

/* line 1772, ../sass/smilem.scss */
.home-button.home-questions {
  background: #51af2d;
}

/* line 1776, ../sass/smilem.scss */
.home-btn-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
}

/* line 1782, ../sass/smilem.scss */
.home-btn-num {
  position: absolute;
  width: 100%;
  bottom: 20px;
  font-weight: bold;
  font-size: 25px;
}

/* line 1790, ../sass/smilem.scss */
.home-btn-img.home-trophies {
  background-position: 0 0;
  background-position: 0 0;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 50px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

/* line 1802, ../sass/smilem.scss */
.home-btn-img.home-stars {
  background-position: 0 -1155px;
  background-position: 0 -577.5px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 54px;
  height: 57px;
}

/* line 1811, ../sass/smilem.scss */
.home-btn-img.home-groups {
  background-position: 0 -866px;
  background-position: 0 -433px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 55px;
  height: 53px;
  margin-top: 10px;
}

/* line 1821, ../sass/smilem.scss */
.home-btn-img.home-answers {
  background-position: 0 -1480px;
  background-position: 0 -740px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 42px;
  height: 46px;
  margin-top: 16px;
}

/* line 1831, ../sass/smilem.scss */
.home-btn-img.home-comments {
  background-position: 0 -748px;
  background-position: 0 -374px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 46px;
  height: 59px;
  margin-top: 9px;
}

/* line 1841, ../sass/smilem.scss */
.home-btn-img.home-questions {
  background-position: 0 -130px;
  background-position: 0 -65px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  width: 49px;
  height: 48px;
  margin-top: 15px;
}

/* line 1852, ../sass/smilem.scss */
.trophy-case {
  position: relative;
  max-width: 700px;
}

/* line 1857, ../sass/smilem.scss */
.trophy-detail {
  position: relative;
  z-index: 10px;
}

/* line 1862, ../sass/smilem.scss */
.detail-topbar {
  background-color: #fbaa14;
}

/* line 1866, ../sass/smilem.scss */
.shelves {
  width: 100%;
  position: absolute;
  top: 55px;
  height: 100%;
  left: 0;
}

/* line 1874, ../sass/smilem.scss */
.shelves-left {
  background-position: 0 0;
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0;
  background-repeat: repeat-y;
}

/* line 1883, ../sass/smilem.scss */
.shelves-mid {
  background: url("../img/shelf-mid.png");
  height: 100%;
  position: absolute;
  left: 40px;
  right: 40px;
  top: 0;
  background-repeat: repeat;
}

/* line 1893, ../sass/smilem.scss */
.shelves-right {
  background-position: -40px 0;
  width: 40px;
  height: 100%;
  right: 0;
  position: absolute;
  top: 0;
  background-repeat: repeat-y;
}

/* line 1903, ../sass/smilem.scss */
.badges {
  position: relative;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 56px;
}

/* line 1910, ../sass/smilem.scss */
.badge {
  position: relative;
  margin: 4px 3px 27px;
  display: inline-block;
}

/* line 1916, ../sass/smilem.scss */
.badge-img {
  height: 66px;
}

/* line 1924, ../sass/smilem.scss */
.badge-unearned {
  opacity: 0.3;
  /* old show a box style
  @include icons-sprite(empty-box);
  background-position: 0 nth(sprite-position($icons-sprites, empty-box), 2) / 2;
  -webkit-background-size: $halfWidth $halfHeight;
  background-size: $halfWidth $halfHeight;
  width: icons-sprite-width(empty-box) / 2;
  height: icons-sprite-height(empty-box) / 2;
  vertical-align: top;
  margin-top: 7px;
  */
}

/* line 1940, ../sass/smilem.scss */
.select-wrapper {
  overflow: hidden;
  opacity: 1;
  display: block;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin: 0 0 .4em;
  padding: 0 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid #cccccc;
  background: #eeeeee;
  font-weight: bold;
  color: #222222;
  text-shadow: 0 1px 0 white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#f1f1f1));
  background-image: -webkit-linear-gradient(white, #f1f1f1);
  background-image: -moz-linear-gradient(white, #f1f1f1);
  background-image: -ms-linear-gradient(white, #f1f1f1);
  background-image: -o-linear-gradient(white, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
}

/* line 1974, ../sass/smilem.scss */
.search-order {
  width: 100%;
}

/* line 1978, ../sass/smilem.scss */
.select-icon {
  background-color: #666666;
  background-color: rgba(0, 0, 0, 0.4);
  background-position: 0 -3426px;
  background-position: 0 -1713px;
  -webkit-background-size: 322px 1738px;
  background-size: 322px 1738px;
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  margin-top: -9px;
  right: 15px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  -moz-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.4);
}

/* line 2000, ../sass/smilem.scss */
.select-button {
  padding-right: 32px;
  font-size: 12.5px;
  padding: .55em 11px .5em;
  min-width: .75em;
  display: block;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  zoom: 1;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  border-top: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.3);
}

/* line 2021, ../sass/smilem.scss */
.select-hidden {
  cursor: pointer;
  -webkit-appearance: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  height: 3em;
  max-height: 100%;
  filter: Alpha(Opacity=0);
  opacity: 0;
  z-index: 2;
  zoom: 1;
}

/* line 2038, ../sass/smilem.scss */
.input-search {
  padding: 0 30px;
  margin: .5em 0 .3em;
  background-image: none;
  position: relative;
  -moz-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid #aaaaaa;
  color: #333333;
  text-shadow: 0 1px 0 white;
  background: #f9f9f9;
}

/* line 2056, ../sass/smilem.scss */
.input-search:after {
  position: absolute;
  left: 7px;
  top: 50%;
  margin-top: -9px;
  content: "";
  width: 18px;
  height: 18px;
  opacity: .5;
  background-position: 0 -2938px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 9px;
  border-radius: 9px;
}

/* line 2071, ../sass/smilem.scss */
.search-input-text {
  border: none;
  width: 100%;
  padding: .4em 0;
  margin: 0;
  display: block;
  background: transparent none;
  outline: 0 !important;
  -webkit-appearance: none;
  background-image: none;
  padding: .4em 0;
  min-height: 1.4em;
  line-height: 1.4em;
  font-size: 16px;
  display: block;
  outline: 0;
}

/* line 2089, ../sass/smilem.scss */
.search-input-clear {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -13px;
  color: #2f3e46;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: .5em;
  display: block;
  text-align: center;
  cursor: pointer;
  padding: 0;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-decoration: none;
  border: 1px solid #cccccc;
  background: #eeeeee;
  font-weight: bold;
  background-image: linear-gradient(#ffffff, #f1f1f1);
}

/* line 2118, ../sass/smilem.scss */
.search-btn-inner {
  padding: 0;
  height: 100%;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  min-width: .75em;
  display: block;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  zoom: 1;
  border-top: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  cursor: pointer;
}

/* line 2136, ../sass/smilem.scss */
.search-icon-delete {
  margin: 2px 1px 2px 3px;
  float: left;
  display: block;
  width: 18px;
  height: 18px;
  -moz-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.4);
  background-color: #666666;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 9px;
  border-radius: 9px;
  background-position: 0 -3046px;
}

/* line 2152, ../sass/smilem.scss */
.input-focus {
  -moz-box-shadow: 0px 0px 12px #387bbe;
  -webkit-box-shadow: 0px 0px 12px #387bbe;
  box-shadow: 0px 0px 12px #387bbe;
  -moz-box-shadow: inset 0px 0px 3px #387bbe, 0px 0px 9px #387bbe;
  -webkit-box-shadow: inset 0px 0px 3px #387bbe, 0px 0px 9px #387bbe;
  box-shadow: inset 0px 0px 3px #387bbe, 0px 0px 9px #387bbe;
}

/* line 2162, ../sass/smilem.scss */
.alert-container {
  padding: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 2169, ../sass/smilem.scss */
.ml-alert-2-error, .ml-alert-2-info, .ml-alert-2-success, .ml-alert-2-warning {
  /*General*/
  display: block;
  text-decoration: none;
  margin: 0px;
  width: 100%;
  /*Text*/
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: bold;
  line-height: 100%;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  /*Background*/
  border-width: 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
}

/* line 2192, ../sass/smilem.scss */
.ml-alert-2-success {
  /*Text*/
  color: #405318;
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#80ffffff,Positive=true)";
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#80ffffff, Positive=true);
  /*Background*/
  background-image: -moz-linear-gradient(70% 0% -90deg, #cae284 0%, #a5ce5a 100%);
  background-image: -webkit-gradient(linear, 70% 0%, 70% 106%, color-stop(0, #cae284), color-stop(1, #a5ce5a));
  background-image: -webkit-linear-gradient(-90deg, #cae284 0%, #a5ce5a 100%);
  background-image: -o-linear-gradient(-90deg, #cae284 0%, #a5ce5a 100%);
  background-image: -ms-linear-gradient(-90deg, #cae284 0%, #a5ce5a 100%);
  background-image: linear-gradient(-90deg, #cae284 0%, #a5ce5a 100%);
  border-color: #759233;
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.25);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.25);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcae284,endColorstr=#ffa5ce5a,GradientType=0)
		progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#80000000,Positive=true)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcae284, endColorstr=#ffa5ce5a, GradientType=0) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#80000000, Positive=true);
}

/* line 2216, ../sass/smilem.scss */
.ml-alert-2-error, .loading.error {
  /*Text*/
  color: #961311;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true)";
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#40ffffff, Positive=true);
  /*Background*/
  background-image: -moz-linear-gradient(70% 0% -90deg, #f26462 0%, #df3c3e 100%);
  background-image: -webkit-gradient(linear, 70% 0%, 70% 106%, color-stop(0, #f26462), color-stop(1, #df3c3e));
  background-image: -webkit-linear-gradient(-90deg, #f26462 0%, #df3c3e 100%);
  background-image: -o-linear-gradient(-90deg, #f26462 0%, #df3c3e 100%);
  background-image: -ms-linear-gradient(-90deg, #f26462 0%, #df3c3e 100%);
  background-image: linear-gradient(-90deg, #f26462 0%, #df3c3e 100%);
  border-color: #b53331;
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.25);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.25);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff26462,endColorstr=#ffdf3c3e,GradientType=0)
		progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#80000000,Positive=true)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff26462, endColorstr=#ffdf3c3e, GradientType=0) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#80000000, Positive=true);
}

/* line 2240, ../sass/smilem.scss */
.ml-alert-2-warning {
  /*Text*/
  color: #84742d;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true)";
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#40ffffff, Positive=true);
  /*Background*/
  background-image: -moz-linear-gradient(70% 0% -90deg, #ffefbf 0%, #ffdc73 100%);
  background-image: -webkit-gradient(linear, 70% 0%, 70% 106%, color-stop(0, #ffefbf), color-stop(1, #ffdc73));
  background-image: -webkit-linear-gradient(-90deg, #ffefbf 0%, #ffdc73 100%);
  background-image: -o-linear-gradient(-90deg, #ffefbf 0%, #ffdc73 100%);
  background-image: -ms-linear-gradient(-90deg, #ffefbf 0%, #ffdc73 100%);
  background-image: linear-gradient(-90deg, #ffefbf 0%, #ffdc73 100%);
  border-color: #bca24b;
  -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.35);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffefbf,endColorstr=#ffffdc73,GradientType=0)
		progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=0,Color=#59000000,Positive=true)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffefbf, endColorstr=#ffffdc73, GradientType=0) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color=#59000000, Positive=true);
}

/* line 2264, ../sass/smilem.scss */
.ml-alert-2-info {
  /*Text*/
  color: #4c5154;
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#80ffffff,Positive=true)";
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#80ffffff, Positive=true);
  /*Background*/
  background-image: -moz-linear-gradient(70% 0% -90deg, #dee9ed 0%, #b8c9d1 100%);
  background-image: -webkit-gradient(linear, 70% 0%, 70% 106%, color-stop(0, #dee9ed), color-stop(1, #b8c9d1));
  background-image: -webkit-linear-gradient(-90deg, #dee9ed 0%, #b8c9d1 100%);
  background-image: -o-linear-gradient(-90deg, #dee9ed 0%, #b8c9d1 100%);
  background-image: -ms-linear-gradient(-90deg, #dee9ed 0%, #b8c9d1 100%);
  background-image: linear-gradient(-90deg, #dee9ed 0%, #b8c9d1 100%);
  border-color: #8a9da5;
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.5);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffdee9ed,endColorstr=#ffb8c9d1,GradientType=0)
		progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40000000,Positive=true)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffdee9ed, endColorstr=#ffb8c9d1, GradientType=0) progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#40000000, Positive=true);
}

/* line 2287, ../sass/smilem.scss */
.style-2-icon {
  width: 20px;
  height: 20px;
  float: left;
  margin: 10px 12px;
}

/* line 2294, ../sass/smilem.scss */
.success.style-2-icon {
  background-position: 0 -2902px;
}

/* line 2298, ../sass/smilem.scss */
.error.style-2-icon {
  background-position: 0 -2722px;
}

/* line 2302, ../sass/smilem.scss */
.info.style-2-icon {
  background-position: 0 -2702px;
}

/* line 2306, ../sass/smilem.scss */
.warning.style-2-icon {
  background-position: 0 -2882px;
}

/* line 2310, ../sass/smilem.scss */
.style-2-close {
  width: 20px;
  height: 20px;
  margin: 10px 12px;
  float: right;
  cursor: pointer;
}

/* line 2318, ../sass/smilem.scss */
.success.style-2-close {
  background-position: 0 -2762px;
}

/* line 2322, ../sass/smilem.scss */
.error.style-2-close {
  background-position: 0 -2832px;
}

/* line 2326, ../sass/smilem.scss */
.info.style-2-close {
  background-position: 0 -2812px;
}

/* line 2330, ../sass/smilem.scss */
.warning.style-2-close {
  background-position: 0 -2742px;
}
