<!doctype html>

<html>

  <head>
    <title>SMILE - Backbone.js Example App from Backstop Media</title>
    <link href='css/index.css' rel='stylesheet' type='text/css'>

    <!-- Application files go here. -->

    <!-- Models go here. -->

    <!-- Collections go here. -->

    <!-- Views go here. -->

    <!-- Router goes here. -->
  </head>

  <body>
    <div id="app-container">
       <h1>SMILE</h1>      
       <div id="page"></div>
    </div>


    <!-- Vendor. -->
    <script src='vendor/jquery.js'></script>
    <script src='vendor/underscore.js'></script>
    <script src='vendor/backbone.js'></script>
    <script>
       function load()
        {
        alert("Iframe is loaded");
        }
    </script>
    <script type="text/template" id="upload_template">
    <h4><%= question? 'Update' : 'Create' %> Question</h4>
        
    <form id="upload_form" method="post" action="http://localhost/SmileServices/question/upload" enctype="multipart/form-data" target="uploadFrame">

        <input type="text" name="questionText" id="questionText" value='<%= question? question.get('questionText') : '' %>'/>question<br />
        <% if(question != null && question.get('answers')!=null) { 
               var i=0; 
               _.each(question.get('answers'), function(answer) {  %>
               <input type="hidden" name="<%=  'answerId' + i %>" value='<%=  answer.id %>'> 
               <input type="text" name="<%=  'answerText' + i %>" id="<%=  'answerText' + i %>" value="<%=  answer.answerText %>"/>
               <input type="checkbox" name="<%= 'isCorrect' + i %>" value="1" <%= (answer.isCorrect==1)? 'checked=\"true\"':'' %> ><br />  
         <%     i++; });  
          } else { 
        %>
        <input type="text" name="answerText0" id="answerText0" /><input type="checkbox" name="isCorrect0" value="1"><br />
        <input type="text" name="answerText1" id="answerText1" /><input type="checkbox" name="isCorrect1" value="1"><br />
        <input type="text" name="answerText2" id="answerText2" /><input type="checkbox" name="isCorrect2" value="1"><br />
        <input type="text" name="answerText3" id="answerText3" /><input type="checkbox" name="isCorrect3" value="1"><br />
        <% }  %>
        <input type="text" name="media_url" id="media_url" value='<%= question? question.get('media_url') : '' %>' />media_url<br />
        <input type="text" name="tagText" id="tagText" value='<%= question? question.get('tagText') : '' %>' />tag<br />
        <input type="hidden" name="id" value='<%= question? question.get('id') : '0' %>'>
        <input type="hidden" name="quiz_id" value='<%= question? question.get('quiz_id') : '0' %>'>
        <input type="hidden" name="isPublic" value='<%= question? question.get('isPublic') : '1' %>'>
        <select name="contentType" >
          <option value="image">Image</option>
          <option value="audio">Audio</option>
          <option value="video">Video</option>
          <option value="document">Youtube</option>
        </select><br />
        <input type="file" name="file" id="uploadFile" /><br />
        <input type="submit"/>
    </form>
    <iframe onload="load()"  name="uploadFrame" id="uploadFrame" style="display:none; height: 0px; width:0px;" ></iframe>
    </script>

    <script type="text/template" id="user_template">
    <h4>User Profile</h4>
        
    
    
    
    </script>

    <script type="text/template" id="userStats_template">
    <h4>Badges</h4>
        
    <% _.each(user.get('listBadges'), function(badge) { %>
       <%  if(badge.earned == 1)  { %>
       <div style='float: left; width: 150px; padding:5px;'>
       <% } else { %>
       <div style='float: left; width: 150px; padding:5px; opacity: 0.4;'>
       <% } %>
       <%= badge.title %><br />
       <img src='<%= badge.image %>' /><br />
       <%= badge.description %><br />
       </div>
    <% }); %>
    <div style='clear:both;'><br /></div>
    
    <h4>User Statistics</h4>
    <table>
          
    <% _.each(user.get('listStats'), function(stats) { %>
       <tr>
       <td><%= stats.title %>:</td>
       <td><%= stats.data %></td>
       </tr>
    <% }); %>

    </table>
    </script>

    <script type="text/template" id="public_template">
    <label>Public</label>
    <hr /><a href='#/group'>Groups</a>, <a href='#/userStats'>User Stats</a>, <a href='#/upload'>Create Question</a>, 
    <a href='#/user'>User Profile</a><br />
    <table cellspacing='5'><tr><th>id</th><th>contexnt-type</th><th>create on</th><th>action</th></tr>

    <% _.each(questions, function(question) { %>
       <tr>
       <td><%= question.get('id') %></td>
       <td><%= question.get('contentType') %></td>
       <td><%= new Date(question.get('createdOn')*1000) %></td>
       <td><a href='#question/edit/<%= question.get('id') %>' >edit</td>
       </tr>
    <% }); %>

    </table>
    </script>

    <script type="text/template" id="groups_template">
    <label>Groups</label>
    <hr />
    <table cellspacing='1'><tr><th>id</th><th>name</th><th>create on</th></tr>

    <% _.each(groups, function(group) { %>
       <tr>
       <td><%= group.get('id') %></td>
       <td><%= group.get('name') %></td>
       <td><%= new Date(group.get('createdOn')*1000) %></td>
       </tr>
    <% }); %>

    </table>
    </script>
    <script type="text/template" id="login_template">
    <label>Login</label>
    <hr />
    <div class="alert alert-error" style="display:none;"></div>
    <form id="login_form" action="/j_spring_security_check" method="post" >
      <p>
        <label for="j_username">Username</label>
        <input id="j_username" name="j_username" type="text" />
      </p>

      <p>
        <label for="j_password">Password</label>
        <input id="j_password" name="j_password" type="password" />
      </p>

      <input  type="submit" value="Login"/>               
      
    </form>
   
    </script>
    <script>
       var xmlhttp= new XMLHttpRequest();
      
      $.ajaxPrefilter(function( options, originalOptions, jqXHR ) {
        options.url = "http://localhost/SmileServices" + options.url;
      });

      $.ajaxSetup({
          statusCode: {
              401: function(){
                  // Redirec the to the login page.
                  //window.location.replace('/#login');
                  console.log("go to login...");
                  app_router.navigate('', {trigger: true} );
              },
              403: function() {
                  // 403 -- Access denied
                  //window.location.replace('/#denied');
                  console.log("denied");
                  app_router.navigate('', {trigger: true} );
              },
              404: function() {
                  // 403 -- Access denied
                  //window.location.replace('/#denied');
                  alert("Page not found");                 
              }
          }
      });

      $.fn.serializeObject = function(){
      var o = {};
      var a = this.serializeArray();
      $.each(a, function() {
          if (o[this.name]) {
              if (!o[this.name].push) {
                  o[this.name] = [o[this.name]];
              }
              o[this.name].push(this.value || '');
          } else {
              o[this.name] = this.value || '';
          }
        });
        return o;
      };

      var UserStats = Backbone.Model.extend({ 
        urlRoot: '/user/getStats'
      });

      var User = Backbone.Model.extend({ 
        urlRoot: '/user'
      });

      var Group = Backbone.Model.extend()
      { };

      var Groups = Backbone.Collection.extend({
         model: Group,
         url: '/group'
      });

      var Question = Backbone.Model.extend({ 
          urlRoot: '/question'
      });

      var PublicQuestions = Backbone.Collection.extend({

         url: '/question/public',

         parse: function(response) {
            // console.log(response);
             return response;
          },

          sync: function(method, model, options) {
              var that = this;
              var params = _.extend({
                  type: 'POST',
                  contentType: 'application/json;charset=UTF-8',
                  data: JSON.stringify({searchText:"",  orderCode:2, start:1, range:10, showOwn:1, showAnswered:1}),
                  dataType: 'json',
                  url: that.url,
                  processData: true
              }, options);

              return $.ajax(params);
          }
      });

      function questionUploadCompleted(message)
      {
         alert(message);
         $("#questionText").val("");
         $("#uploadFile").val("");
      }

      UploadView = Backbone.View.extend({
        el: '#page',
        render: function(options){
          //this.$el.html('Content should show here');
          var that=this;
          if(options.id)
          {
             var question = new Question({id: options.id});
             question.fetch({
                 success: function (question) {
                     var template = _.template( $("#upload_template").html(), {question: question} );
                     that.$el.html( template );     
                 }
             })
          }
          else {
            var template = _.template( $("#upload_template").html(), {question:null} );
                // Load the compiled HTML into the Backbone "el"
            this.$el.html( template );       
          }  
        }
        
      });

      PublicView = Backbone.View.extend({
        el: '#page',
        render: function(){
          //this.$el.html('Content should show here');
          var that = this;
          var publicQuestions = new PublicQuestions();

          publicQuestions.fetch({
            success: function (m, r) {
              that.$el.html('Content should show here');
              //console.log(that.collection.toJSON());
             // console.log(r);
              //Compile the template using underscore
              var template = _.template( $("#public_template").html(), {questions: publicQuestions.models} );
              // Load the compiled HTML into the Backbone "el"
              that.$el.html( template );       
            },
            error: function(m, r) {
                 console.log(r);
                 console.log('Failed to fetch!');
            }
          })
             
        }
      });
       
      GroupView = Backbone.View.extend({
        el: '#page',
        render: function(){
          //this.$el.html('Content should show here');
          var that = this;
          var groups = new Groups();

          groups.fetch({
            success: function (m, r) {
              that.$el.html('Content should show here');
              console.log(groups.length);
             // console.log(r);
             var template = _.template( $("#groups_template").html(), {groups: groups.models} );
              // Load the compiled HTML into the Backbone "el"
              that.$el.html( template );   
                    
            },
            error: function(m, r) {
                 console.log('Failed to fetch!');
            }
          })
             
        }
      });

      UserStatsView = Backbone.View.extend({
        el: '#page',
        render: function(){
          this.$el.html('Content should show here');
          var that = this;
          var user = new UserStats();

          user.fetch({
            success: function (userStats) {
              that.$el.html('Content should show here');
              console.log(userStats);
              // console.log(r);
              var template = _.template( $("#userStats_template").html(), {user: user} );
              // Load the compiled HTML into the Backbone "el"
              that.$el.html( template );   
                    
            },
            error: function(userStats) {
                 console.log('Failed to fetch User Stats!');
            }
          })
                     
        }
      });

      UserView = Backbone.View.extend({
        el: '#page',
        render: function(){
          this.$el.html('User Content should show here');
          var that = this;
          var user = new User();

          user.fetch({
            success: function (userStats) {
              that.$el.html('User Content should show here');
              //console.log(user);
              // console.log(r);
              var template = _.template( $("#user_template").html(), {user: user} );
              // Load the compiled HTML into the Backbone "el"
              that.$el.html( template );   
                    
            },
            error: function(userStats) {
                 console.log('Failed to fetch User Profile!');
            }
          })
                     
        }
      });

      LoginView = Backbone.View.extend({
        el: '#page',
        render: function(){
            // Compile the template using underscore
          var template = _.template( $("#login_template").html(), {} );
            // Load the compiled HTML into the Backbone "el"
          this.$el.html( template );        
        },
        events: {
            "submit #login_form": "doLogin"    
        },
        doLogin: function( event ){
            event.preventDefault(); // Don't let this button submit the form
            //$('.alert-error').hide(); // Hide any errors on a new submit
            var url = '/j_spring_security_check';
            console.log('Loggin in... ');
            var formValues = {
                j_username: $('#j_username').val(),
                j_password: $('#j_password').val()
            };
            // console.log(formValues);
            formValues = "j_username="+$('#j_username').val()+"&j_password="+$('#j_password').val();
            console.log(formValues);
            
            
            xmlhttp.open('POST','http://localhost/SmileServices/j_spring_security_check',true);
            var name = document.getElementById("j_username");
            var pw = document.getElementById("j_password");
            xmlhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');       
            xmlhttp.send('j_username='+name.value+'&j_password='+pw.value);
            xmlhttp.onreadystatechange = function() {

               if (xmlhttp.readyState == 4) {
                  if ( xmlhttp.status == 200) {
                      alert(xmlhttp.responseText);                     
                      //window.location.replace('#public');
                      app_router.navigate('#/public', {trigger: true} );
                 }
                 else
                       alert("Error ->" + xmlhttp.status + "," +xmlhttp.responseText);
              }
            };
        }
      });
    
      var AppRouter = Backbone.Router.extend({
        routes: {
             "": "home",
            //"posts/:id": "getPost",
             "public": "public", // Backbone will try match the route above first
             "group":"group",
             "userStats":"userStats",
             "upload":"upload",
             "question/edit/:id":"upload",
             "user":"user",
        }
      });

      var login_view = new LoginView();
      var public_view = new PublicView();
      var group_view = new GroupView();
      var userStats_view = new UserStatsView();
      var user_view = new UserView();
      var upload_view = new UploadView();

      // Instantiate the router
      var app_router = new AppRouter;
      app_router.on('route:home', function () {
          // Note the variable in the route definition being passed in here
          login_view.render();   
      });
      app_router.on('route:group', function () {
          // Note the variable in the route definition being passed in here
          group_view.render();     
      });
      app_router.on('route:public', function () {
          public_view.render();
      });
      app_router.on('route:userStats', function () {
          userStats_view.render();
      });
      app_router.on('route:user', function () {
          user_view.render();
      });
      app_router.on('route:upload', function (id) {
          upload_view.render({id:id});
      });
      // Start Backbone history a necessary step for bookmarkable URL's
      Backbone.history.start();

    </script>
  </body>

</html>
