<!--sidebar -->
<ul class="nav nav-tabs nav-stacked">
    <li class="nav-user"><a href="#user"><i class="icon-chevron-right pull-right"></i> User</a></li>
    <li class="nav-authentication"><a href="#authentication"><i class="icon-chevron-right pull-right"></i> Authentication</a></li>
    <li class="nav-institution"><a href="#institution"><i class="icon-chevron-right pull-right"></i> Institution</a></li>
    <li class="nav-group"><a href="#group"><i class="icon-chevron-right pull-right"></i> Group</a></li>
    <li class="nav-activity"><a href="#activity"><i class="icon-chevron-right pull-right"></i> Activity</a></li>
    <li class="nav-session"><a href="#session"><i class="icon-chevron-right pull-right"></i> Session</a></li>
    <li class="nav-resource"><a href="#resource"><i class="icon-chevron-right pull-right"></i> Resource</a></li>
    <li class="nav-response"><a href="#response"><i class="icon-chevron-right pull-right"></i> Response</a></li>
</ul><!--/.sidebar -->