<div class="doc-content-box">
<!-- Class Overview -->
<div class="page-header">
    <h2>/resource</h2>
</div>

<p>Resource objects represent content. Resources can be created during activity sessions, or by an SMILE user. Public resource objects can be searched by anyone, while private resources may only be viewed from the activity that they are associated with. Resource objects are associated with a user and possibly activities. Resources can store file attachments as well.</p>
<p>While Resources created in an activity are associated with that Activity, Responses to Resources are associated with a given Session.</p>
<p>Additional properties that are not in the Resource schema can be stored and retrieved from Resource objects.</p>
<p>{resource} represents a Resource's UUID.</p>
<!-- /Class Overview -->

<!-- table Class Summary -->
<h3>Schemas</h3>
<table class="table table-bordered ">
    <thead>
    </thead>
    <tbody>
    <tr id="class-summary">
        <td>
                <pre class="prettyprint linenums">
Resource {
    UUID: "asdv3g2rg2rg2rg",
    name:,
    resourceType: 'flippedQuestion',
    owner: "asdf2egrsdf43g",
    creator: "asdf2egrsdf43g",
    activityIds: ["asdf22ef2eg2g", "awef2gr2rg2rhb2h", "sdfgh2rg2rgq3g"],
    attachments: [ //see Attachment schema below
        Attachment,
        Attachment
    ],
    title: "What is 3 + 3?",
    description: "",
    answerChoices: [ AnswerChoice, AnswerChoice ], //See AnswerChoice schema below
    multiSelect: false,
    selectLimit:,
    allowMultipleResponses: false,
    responseLimit:,
    allowCreatorResponse: false,
    allowResponseRevision: false,
    public: true,
    visible: true,
    tags: ["science", "grade:12", "chemistry", "AP chemistry", "AP chem", "atomic chemistry", "orbitals"],
    gradeLevels: ["12"],
    subjects: ["chemistry", "science", "physical sciences"],
    timed: false,
    timerSecs: 60,
    createdOn: [2009, 1, 31, 18, 4, 11],
    language: "English"
}</pre>

<pre>Attachment { //corresponds to couchdb's _attachments field, id represents attachement's rev
    id: "asdfqwefasdgawegawg",
    title: "Cool photo",
    name: "myfile.png",
    mime: "image/png",
    url: "/smileDB/asdv3g2rg2rg2rg/myfile.png",
    width: "300px",
    height: "300px",
    crop: [20, 0, 0, 0],
    createdOn: [2009, 1, 31, 18, 4, 11]
}</pre>

<pre>AnswerChoice {
    id: 0,
    pos: 0,
    text: "6",
    correct: true,
    response: ""
}</pre>
        </td>
    </tr>
    </tbody>
</table>
<!-- /table Class Summary -->


<h3>Property Summaries</h3>
<!-- table Property Summary - Resource -->
<h4>Resource</h4>
<table class="table table-bordered property-summary">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>Parameter</b>

            <p class="smallFont">( * = required input when creating new object)</p></td>
        <td><b>Type</b></td>
        <td><b>Default</b></td>
        <td><b>Description</b></td>
    </tr>
    <tr>
        <td><span class="property-name">UUID</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">UUIDs (universally unique identifiers) are automatically generated when an object is created. They cannot be modified.
        </td>
    </tr>
    <tr>
        <td><span class="property-name">name</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The name of the resource.</td>
    </tr>
    <tr>
        <td>*<span class="property-name">resourceType</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The type of resource.</td>
    </tr>
    <tr>
        <td><span class="property-name">owner</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The UUID of the owner of the resource. The owner is by default the creator.</td>
    </tr>
    <tr>
        <td><span class="property-name">creator</span></td>
        <td class="type-value"> -</td>
        <td class="default-value">string</td>
        <td class="class-desc">The UUID of the user who created the resource. Cannot be edited or set manually except by admins.</td>
    </tr>
    <tr>
        <td><span class="property-name">activityIds</span></td>
        <td class="type-value">Array[string]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The UUID of the activities that use this resource.</td>
    </tr>
    <tr>
        <td><span class="property-name">attachments</span></td>
        <td class="type-value">Array[Attachment]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">An array of the resource's Attachment objects.</td>
    </tr>
    <tr>
        <td><span class="property-name">title</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">User-specified title for resource.</td>
    </tr>
    <tr>
        <td><span class="property-name">description</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">User-specified description for resource.</td>
    </tr>
    <tr>
        <td><span class="property-name">answerChoices</span></td>
        <td class="type-value">Array[AnswerChoice]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Holds an array of AnswerChoice objects.</td>
    </tr>
    <tr>
        <td><span class="property-name">multiSelect</span></td>
        <td class="type-value">boolean</td>
        <td class="default-value">false</td>
        <td class="class-desc">If true, then users are permitted to select multiple AnswerChoices when responding to the resource.</td>
    </tr>
    <tr>
        <td><span class="property-name">selectLimit</span></td>
        <td class="type-value">integer</td>
        <td class="default-value"> -</td>
        <td class="class-desc">If multiSelect is true, and selectLimit is defined, then users will only be allowed to select as many answerChoices as selectLimit. If 0 or null, then no selection limit will be enforced. Cannot be negative.</td>
    </tr>
    <tr>
        <td><span class="property-name">allowMultipleResponses</span></td>
        <td class="type-value">boolean</td>
        <td class="default-value">false</td>
        <td class="class-desc">If allow multiple responses is not true, then users can only submit one response to a given resource for a given session.</td>
    </tr>
    <tr>
        <td><span class="property-name">responseLimit</span></td>
        <td class="type-value">integer</td>
        <td class="default-value"> -</td>
        <td class="class-desc">If allow multiple responses is true, then users can only submit up to as many responses as responseLimit. If responseLimit is not defined, then users may submit unlimited responses if allowMultipleResponses is true.</td>
    </tr>
    <tr>
        <td><span class="property-name">allowCreatorResponse</span></td>
        <td class="type-value">boolean</td>
        <td class="default-value">false</td>
        <td class="class-desc">If allowCreatorResponse is false, then the creator of the resource will not be allowed to submit a response for that resource.</td>
    </tr>
    <tr>
        <td><span class="property-name">allowResponseRevision</span></td>
        <td class="type-value">boolean</td>
        <td class="default-value">false</td>
        <td class="class-desc">If allowResponseRevision is true, then users may revise their responses after submitting them.</td>
    </tr>
    <tr>
        <td><span class="property-name">public</span></td>
        <td class="type-value">boolean</td>
        <td class="default-value">true</td>
        <td class="class-desc">If a resource is public, then all users can search for it and it will appear in public search results. Other users may clone the resource, add it to their libraries, share it, or respond to it publicly.</td>
    </tr>
    <tr>
        <td><span class="property-name">visible</span></td>
        <td class="type-value">boolean</td>
        <td class="default-value">true</td>
        <td class="class-desc">If a resource is visible, then other users besides its owner or creator will be able to view it. Otherwise it will be hidden from public search results as well as activities that it is associated with.</td>
    </tr>
    <tr>
        <td><span class="property-name">tags</span></td>
        <td class="type-value">Array[string]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Array of user-defined string tags associated with resource. By default these are the tags of the resource's initial associated activity.</td>
    </tr>
    <tr>
        <td><span class="property-name">gradeLevels</span></td>
        <td class="type-value">Array[string]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Array of user-defined grade levels. By default takes the value of the gradeLevels property of the resource's initial associated activity.</td>
    </tr>
    <tr>
        <td><span class="property-name">subjects</span></td>
        <td class="type-value">Array[string]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Array of user-defined subject categories for group. By default takes the value of the subjects property of the resource's initial associated activity.</td>
    </tr>
    <tr>
        <td><span class="property-name">timed</span></td>
        <td class="type-value">boolean</td>
        <td class="default-value">false</td>
        <td class="class-desc">An overall timer can be set for the cumulative max time for submitting a response to the resource.</td>
    </tr>
    <tr>
        <td><span class="property-name">timerSecs</span></td>
        <td class="type-value">integer</td>
        <td class="default-value">0</td>
        <td class="class-desc">The amount of seconds alloted for users to complete a resource once they begin viewing it. Only valid if timed is true.</td>
    </tr>
    <tr>
        <td><span class="property-name">createdOn</span></td>
        <td class="type-value">Array[integer]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">An array of integers in the format [year, month, day, hours (24-hour), minutes, seconds]. Created by server.
        </td>
    </tr>
    <tr>
        <td><span class="property-name">language</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">By default takes the value of the language property of creator if resource does not have a set language.</td>
    </tr>

    </tbody>
</table>
<!-- /table Property Summary - Resource -->
<!-- table Property Summary - Attachment -->
<h4>Attachment</h4>
<table class="table table-bordered property-summary">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>Parameter</b>

            <p class="smallFont">( * = required input when adding new Attachment)</p></td>
        <td><b>Type</b></td>
        <td><b>Default</b></td>
        <td><b>Description</b></td>
    </tr>
    <tr>
        <td><span class="property-name">id</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Ids are automatically generated when a new attachment is uploaded. They cannot be modified.
        </td>
    </tr>
    <tr>
        <td><span class="property-name">title</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The user-specified title of the attachment.</td>
    </tr>
    <tr>
        <td>*<span class="property-name">name</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The original filename of the attachment. Cannot be changed manually.</td>
    </tr>
    <tr>
        <td>*<span class="property-name">mime</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The MIME type of the attachment.</td>
    </tr>
    <tr>
        <td>*<span class="property-name">attachment</span></td>
        <td class="type-value">Base64 encoded data</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The attachment base64 data.</td>
    </tr>
    <tr>
        <td><span class="property-name">url</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The URL to access the given attachment.</td>
    </tr>
    <tr>
        <td><span class="property-name">width</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Certain attachments (such as images) may have a user-specified width property.</td>
    </tr>
    <tr>
        <td><span class="property-name">height</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Certain attachments (images) may have a user-specified height property.</td>
    </tr>
    <tr>
        <td><span class="property-name">crop</span></td>
        <td class="type-value">Array[integer, integer, integer, integer]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">An array of four integers to describe the cropping values for an image. As with CSS, the crop values represent cropping from top, right, bottom, and left.</td>
    </tr>
    </tbody>
</table>
<!-- /table Property Summary - Attachment -->
<!-- /table Property Summary - AnswerChoice -->
<h4>AnswerChoice</h4>
<table class="table table-bordered property-summary">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>Parameter</b>

            <p class="smallFont">( * = required input when adding a new AnswerChoice)</p></td>
        <td><b>Type</b></td>
        <td><b>Default</b></td>
        <td><b>Description</b></td>
    </tr>
    <tr>
        <td><span class="property-name">id</span></td>
        <td class="type-value">integer</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Id of an answerChoice. All ids start at 0 and increment as answerChoices are added. Ids are automatically created and cannot be changed. When an answer choice is removed, the remaining answerChoices retain their id values (they do not re-index, as responses store AnswerChoices by id.
        </td>
    </tr>
    <tr>
        <td><span class="property-name">pos</span></td>
        <td class="type-value">integer</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The order that answer choices appear in. A lower value indicates a higher position or more leftward position on the screen. If no value is provided, an automatic value will be generated starting at 0 and incrementing as additional answerChoices are added.</td>
    </tr>
    <tr>
        <td>*<span class="property-name">text</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The answerChoice's text.</td>
    </tr>
    <tr>
        <td><span class="property-name">correct</span></td>
        <td class="type-value">boolean</td>
        <td class="default-value"> -</td>
        <td class="class-desc">An optional designation indicating that an answerChoice has been marked as correct.</td>
    </tr>
    <tr>
        <td><span class="property-name">response</span></td>
        <td class="type-value">String</td>
        <td class="default-value"> -</td>
        <td class="class-desc">An optional response message to display if this answerChoice has been chosen.</td>
    </tr>
</tbody>
</table>
<!-- /table Property Summary - AnswerChoice -->
<!-- /table Property Summaries - AnswerChoice -->

<!-- table Method Summary -->
<h3>Method Summary</h3>
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>Method</b></td>
        <td><b>Description</b></td>
    </tr>
    <tr class="method-summary">
        <td class="method-name post"><span class="method-type">POST</span> /resource</td>
        <td class="method-desc">Creates a resource object.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name put"><span class="method-type">PUT</span> /resource/{resource}</td>
        <td class="method-desc">Updates given resource.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name delete"><span class="method-type">DELETE</span> /resource/{resource}</td>
        <td class="method-desc">Deletes a resource object.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /resource/{resource}</td>
        <td class="method-desc">Fetches a resource object.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name post"><span class="method-type">POST</span> /resource/{resource}/addAnswerChoices</td>
        <td class="method-desc">Adds AnswerChoices to Resource.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name put"><span class="method-type">PUT</span> /resource/{resource}/updateAnswerChoices</td>
        <td class="method-desc">Updates given resource's AnswerChoice objects.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name delete"><span class="method-type">DELETE</span> /resource/{resource}/removeAnswerChoices</td>
        <td class="method-desc">Deletes given resource's AnswerChoice objects.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /resource/{resource}/getAnswerChoices</td>
        <td class="method-desc">Fetches given resource's AnswerChoice objects.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name post"><span class="method-type">POST</span> /resource/{resource}/addAttachments</td>
        <td class="method-desc">Uploads and adds an Attachment to a resource.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name put"><span class="method-type">PUT</span> /resource/{resource}/updateAttachments</td>
        <td class="method-desc">Updates a resource's specified Attachment object.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name delete"><span class="method-type">DELETE</span> /resource/{resource}/removeAttachments</td>
        <td class="method-desc">Removes a resource's specified Attachment object.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /resource/{resource}/getAttachments</td>
        <td class="method-desc">Fetches a resource's Attachment objects.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name post"><span class="method-type">POST</span> /resource/search</td>
        <td class="method-desc">Search resources by search query, group, activity, owner, creator, or responder.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name post"><span class="method-type">POST</span> /resource/{resource}/clone</td>
        <td class="method-desc">Creates a copy of the resource. The new resource is associated with a different owner and activityIds. Only admins can associate the new activity with an owner other than themselves or with an activity that is part of a group in which they are not an organizer.</td>
    </tr>

    </tbody>
</table>
<!-- /table Method Summary -->

<!-- detail-box Method Detail -->
<div class="detail-box">
<div class="page-header">
    <a title="jump to method summary" href="#method-set" class="scroll pull-right">
        <span class="label label-info"><b class="icon-white icon-arrow-up"></b></span>
    </a>

    <h3 id="method-desc-set">Method Detail</h3>
</div>

<!--Begin Method Details: POST /resource -->
<p class="lead class-name method-name post"><span class="method-type">POST</span> /resource</p>

<p class="det">Creates a resource object. Any fields that are in the schema but not in the request schema cannot be added (such as UUID). Any additional fields not in the schema will be added.</p>
<p>Fields UUID, creator, and createdOn are created automatically. Attachments' fields id and createdOn, and answerChoices' id field is created automatically. If resource is created with a single activityId, then the resource will adopt the tags, gradeLevels, and subjects fields from that activity, unless they are specified in the request.</p>
<p>Requires authentication.</p>
<p>Only admins or members of a group can associate a resource with an activity associated with that group. Admin authorization is required to set a resource's owner to a different user than the currently authenticated user, or to specify a resource's creator.</p>
Request Schema
         <pre class="prettyprint linenums">
{
    name:,
    *resourceType: 'flippedQuestion',
    activityIds: ["asdf22ef2eg2g", "awef2gr2rg2rhb2h", "sdfgh2rg2rgq3g"],
    attachments: [
        {
            title: "Cool photo",
            name: "myfile.png",
            mime: "image/png",
            attachment: [attachment data],
            width: "300px",
            height: "300px",
            crop: [20, 0, 0, 0]
        },
        {
            title: "Assigned reading",
            name: "myfile.pdf",
            mime: "application/pdf",
            attachment: [attachment data]
        }
    ],
    title: "What is 3 + 3?",
    description: "",
    answerChoices: [
        { pos: 0, text: "6", correct: true, response: "Good job!" },
        { pos: 1, text: "33", correct: false},
    ],
    multiSelect: false,
    selectLimit:,
    allowMultipleResponses: false,
    responseLimit:,
    allowCreatorResponse: false,
    allowResponseRevision: false,
    public: true,
    visible: true,
    tags: ["science", "grade:12", "chemistry", "AP chemistry", "AP chem", "atomic chemistry", "orbitals"],
    gradeLevels: ["12"],
    subjects: ["chemistry", "science", "physical sciences"],
    (admin) owner: "asdf2egrsdf43g",
    timed: false,
    timerSecs: 60,
    language: "English"
}</pre>
Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    UUID: "asefew24fwASDF",
    [attachments]: {
        {
            title: "Cool photo",
            name: "myfile.png",
            mime: "image/png",
            url: "/smileDB/asdv3g2rg2rg2rg/myfile2.pdf" ,
            width: "300px",
            height: "300px",
            crop: [20, 0, 0, 0]
        },
        {
            title: "Assigned reading",
            name: "myfile.pdf",
            mime: "application/pdf",
            url: /smileDB/asdv3g2rg2rg2rg/myfile.png"
        }
    },
    [error]: { code: 1, msg: "error message" }
}</pre>
Error Codes
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>HTTP Status Code</b></td>
        <td><b>SMILE Error Code</b></td>
        <td><b>Error message</b></td>
        <td><b>Reason</b></td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">1</td>
        <td class="error-msg">Missing required fields in request: [username]</td>
        <td class="error-desc">The request is missing one or more required fields.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">2</td>
        <td class="error-msg">Input validation error: [username]</td>
        <td class="error-desc">One or more of the inputs did not meet validation requirements.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">8</td>
        <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
        <td class="error-desc">You cannot create a Resource without being logged in as a SMILE user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">32.1</td>
        <td class="error-msg">Admin authorization required to set the resource's activityIds to include an activity that you do not own nor in which you are a group member of one of the activity's group.</td>
        <td class="error-desc">Admin authorization is required to set a resource's activity to an activity connected to a group in which you are not a member, or to change a resource's owner unless you are the owner.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">32.2</td>
        <td class="error-msg">Admin authorization is required to set a resource's owner to a different user than the currently authenticated user.</td>
        <td class="error-desc">Admin authorization is required to set a resource's owner to a different user than the currently authenticated user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">32.3</td>
        <td class="error-msg">To specify a resource's creator you must be an admin.</td>
        <td class="error-desc">Admin authorization is required to set a resource's creator.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">33</td>
        <td class="error-msg">Resource formatting error. [Parameter] is not formatted correctly.</td>
        <td class="error-desc">Resource formatting error. One of the parameters expects an array or an object but has received a different data type.</td>
    </tr>
    </tbody>
</table>
<!--End Method Details: POST /resource-->
<div class="page-header"></div>
<!--Begin Method Details: PUT /resource/{resource} -->
<p class="lead class-name method-name put"><span class="method-type">PUT</span> /resource/{resource}</p>

<p class="det">Updates resource. Requires authentication.</p>
<p>To update a resource, you must be an admin, the resource's owner, or be an organizer in a group connected to one of a resource's activities.</p>
Request Schema
         <pre class="prettyprint linenums">{
    name:,
    *resourceType: 'flippedQuestion',
    activityIds: ["asdf22ef2eg2g", "awef2gr2rg2rhb2h", "sdfgh2rg2rgq3g"],
    attachments: [
        {
            title: "Cool photo",
            name: "myfile.png",
            mime: "image/png",
            attachment: [attachment data],
            width: "300px",
            height: "300px",
            crop: [20, 0, 0, 0]
        },
        {
            title: "Assigned reading",
            name: "myfile.pdf",
            mime: "application/pdf",
            attachment: [attachment data]
        }
    ],
    title: "What is 3 + 3?",
    description: "",
    answerChoices: [
        { pos: 0, text: "6", correct: true, response: "Good job!" },
        { pos: 1, text: "33", correct: false},
    ],
    multiSelect: false,
    selectLimit:,
    allowMultipleResponses: false,
    responseLimit:,
    allowCreatorResponse: false,
    allowResponseRevision: false,
    public: true,
    visible: true,
    tags: ["science", "grade:12", "chemistry", "AP chemistry", "AP chem", "atomic chemistry", "orbitals"],
    gradeLevels: ["12"],
    subjects: ["chemistry", "science", "physical sciences"],
    (admin) owner: "asdf2egrsdf43g",
    timed: false,
    timerSecs: 60,
    language: "English"
}</pre>
Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    UUID: "asefew24fwASDF",
    [attachments]: {
        {
            title: "Cool photo",
            name: "myfile.png",
            mime: "image/png",
            url: "/smileDB/asdv3g2rg2rg2rg/myfile2.pdf" ,
            width: "300px",
            height: "300px",
            crop: [20, 0, 0, 0]
        },
        {
            title: "Assigned reading",
            name: "myfile.pdf",
            mime: "application/pdf",
            url: /smileDB/asdv3g2rg2rg2rg/myfile.png"
        }
    },
    [error]: { code: 1, msg: "error message" }
}</pre>
Error Codes
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>HTTP Status Code</b></td>
        <td><b>SMILE Error Code</b></td>
        <td><b>Error message</b></td>
        <td><b>Reason</b></td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">2</td>
        <td class="error-msg">Input validation error: [username]</td>
        <td class="error-desc">One or more of the inputs did not meet validation requirements.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">8</td>
        <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
        <td class="error-desc">You cannot change a Resource's owner without being logged in as a SMILE user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">404</td>
        <td class="smile-code">13</td>
        <td class="error-msg">No [object] found with UUID: [UUID].</td>
        <td class="error-desc">No Resource found with specified UUID.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">32.1</td>
        <td class="error-msg">Admin authorization required to set the resource's activityIds to include an activity that you do not own nor in which you are a group member of one any new activity's group.</td>
        <td class="error-desc">Admin authorization is required to set a resource's activity to an activity connected to a group in which you are not an organizer or owner, or to change a resource's owner if unless you are the owner.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">33</td>
        <td class="error-msg">Resource formatting error. [Parameter] is not formatted correctly.</td>
        <td class="error-desc">Resource formatting error. One of the parameters expects an array or an object but has received a different data type.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">34</td>
        <td class="error-msg">To update a resource, you must be an admin, the resource's owner, or be an organizer in a group connected to one of a resource's activities.</td>
        <td class="error-desc">To update a resource, you must be an admin, the resource's owner, or be an organizer in a group connected to one of a resource's activities.</td>
    </tr>
    </tbody>
</table>
<!--End Method Details: PUT /resource/{resource} -->
<div class="page-header"></div>
<!--Begin Method Details: DELETE /resource/{resource} -->
<p class="lead class-name method-name delete"><span class="method-type">DELETE</span> /resource/{resource}</p>

<p class="det">Deletes given resource. Only a owner, or an organizer in a resource's activity's group (or an admin) can delete a resource.</p>
<p>Request Schema: <b><i>none</i></b></p>
Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
Error Codes
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>HTTP Status Code</b></td>
        <td><b>SMILE Error Code</b></td>
        <td><b>Error message</b></td>
        <td><b>Reason</b></td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">8</td>
        <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
        <td class="error-desc">You cannot delete a Resource without being logged in as a SMILE user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">404</td>
        <td class="smile-code">13</td>
        <td class="error-msg">No [object] found with UUID: [UUID].</td>
        <td class="error-desc">No Resource found with specified UUID.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">35</td>
        <td class="error-msg">To delete a resource, you must be an admin, the resource's owner, or be an organizer in a group connected to one of a resource's activities.</td>
        <td class="error-desc">To delete a resource, you must be an admin, the resource's owner, or be an organizer in a group connected to one of a resource's activities.</td>
    </tr>
    </tbody>
</table>
<!--End Method Details: DELETE /resource/{resource}-->
<div class="page-header"></div>
<!--Begin Method Details: GET /resource/{resource} -->
<p class="lead class-name method-name get"><span class="method-type">GET</span> /resource/{resource}</p>

<p class="det">Returns resource object. You must be authenticated (logged in) to call this function. Only members of a resource's activity's group (or admins) can view a private resource that they don't own or that they didn't create.</p>
<p>If the optional onlyFields parameter is passed, then only the specified fields are returned. All fields are returned (including custom added fields not present in the Resource schema).</p>
Request Schema
         <pre class="prettyprint linenums">
{
    (optional) "onlyFields": ["name", "description"]
}</pre>
Response Schema
         <pre class="prettyprint linenums">
{
    resource: {
        //By default all resource fields are returned.
        //Properties added that are not on the Resource schema are returned as well.
    },
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
Error Codes
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>HTTP Status Code</b></td>
        <td><b>SMILE Error Code</b></td>
        <td><b>Error message</b></td>
        <td><b>Reason</b></td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">401</td>
        <td class="smile-code">7</td>
        <td class="error-msg">Admin authorization required to call this function.</td>
        <td class="error-desc">Only members of a resource's activity's group (or admins) can view a private resource that they don't own or that they didn't create.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">8</td>
        <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
        <td class="error-desc">You cannot request Resource details without being logged in as a SMILE user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">404</td>
        <td class="smile-code">13</td>
        <td class="error-msg">No [object] found with UUID: [UUID].</td>
        <td class="error-desc">No Resource found with specified UUID.</td>
    </tr>
    </tbody>
</table>
<!--End Method Details: GET /resource/{resource} -->
<div class="page-header"></div>
<!--Begin Method Details: POST /resource/{resource}/addAnswerChoices -->
<p class="lead class-name method-name post"><span class="method-type">POST</span> /resource/{resource}/addAnswerChoices</p>

<p class="det">Creates AnswerChoice objects on a resource object. Any fields that are in the AnswerChoice schema but not in the request schema cannot be added (such as id). Any additional fields not in the schema will be added to the AnswerChoice objects. An array of the positions and ids of each answerChoice is returned, even if addition is unsuccessful.</p>
<p>Field id is created automatically.</p>
<p>Requires authentication.</p>
<p>To update a resource, you must be an admin, the resource's owner, or be an organizer in a group connected to one of a resource's activities.</p>
Request Schema
         <pre class="prettyprint linenums">
{
    answerChoices: [
        {
            pos: 0,
            *text: "6",
            correct: true,
            response: ""
        },
        {
            pos: 10,
            text: "6",
            correct: true,
            response: ""
        }
    ]
}</pre>
Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [answerChoices]: [
        { pos: 1, id: 0 },
        { pos: 0, id: 1 },
        { pos: 10, id: 2 }
    ],
    [error]: { code: 1, msg: "error message" }
}</pre>
Error Codes
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>HTTP Status Code</b></td>
        <td><b>SMILE Error Code</b></td>
        <td><b>Error message</b></td>
        <td><b>Reason</b></td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">1</td>
        <td class="error-msg">Missing required fields in request: [username]</td>
        <td class="error-desc">The request is missing one or more required fields.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">2</td>
        <td class="error-msg">Input validation error: [username]</td>
        <td class="error-desc">One or more of the inputs did not meet validation requirements. Text must be a string, and correct must be boolean. Pos must be an integers.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">8</td>
        <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
        <td class="error-desc">You cannot add AnswerChoices to a Resource without being logged in as a SMILE user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">404</td>
        <td class="smile-code">13</td>
        <td class="error-msg">No [object] found with UUID: [UUID].</td>
        <td class="error-desc">No Resource found with specified UUID.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">33</td>
        <td class="error-msg">Resource formatting error. AnswerChoice is not formatted correctly.</td>
        <td class="error-desc">Resource formatting error. One of the parameters expects an array or an object but has received a different data type.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">34</td>
        <td class="error-msg">To update a resource, you must be an admin, the resource's owner, or be an organizer in a group connected to one of a resource's activities.</td>
        <td class="error-desc">To update a resource, you must be an admin, the resource's owner, or be an organizer in a group connected to one of a resource's activities.</td>
    </tr>
    </tbody>
</table>
<!--End Method Details: POST /resource/{resource}/addAnswerChoices-->
<div class="page-header"></div>
<!--Begin Method Details: PUT /resource/{resource}/updateAnswerChoices -->
<p class="lead class-name method-name put"><span class="method-type">PUT</span> /resource/{resource}/updateAnswerChoices</p>

<p class="det">Updates the answerChoices property on a resource object. Any fields that are in the AnswerChoice schema but not in the request schema cannot be added or update (such as id). Any additional fields not in the schema will be added to the AnswerChoice objects. An array of the positions and ids of each answerChoice is returned, even if some modifications are unsuccessful.</p>
<p>AnswerChoices supplied without id's will be added to the existing answerChoices array. AnswerChoices with specified id numbers that already exist will overwrite those corresponding AnswerChoices. If an id is supplied for an AnswerChoice but no AnswerChoices exist with that id, then those AnswerChoices will not be created.</p>
<p>Field id is created automatically.</p>
<p>Requires authentication.</p>
<p>To update a resource, you must be an admin, the resource's owner, or be an organizer in a group connected to one of a resource's activities.</p>
Request Schema
         <pre class="prettyprint linenums">
{
    answerChoices: [
        {
            id: 0,
            pos: 0,
            *text: "6",
            correct: true,
            response: ""
        },
        {
            id: 1,
            pos: 10,
            text: "6",
            correct: true,
            response: ""
        }
    ]
}</pre>
Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [answerChoices]: [
        { pos: 0, id: 0 },
        { pos: 10, id: 1 }
    ],
    [error]: { code: 1, msg: "error message" }
}</pre>
Error Codes
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>HTTP Status Code</b></td>
        <td><b>SMILE Error Code</b></td>
        <td><b>Error message</b></td>
        <td><b>Reason</b></td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">1</td>
        <td class="error-msg">Missing required fields in request: [username]</td>
        <td class="error-desc">The request is missing one or more required fields.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">2</td>
        <td class="error-msg">Input validation error: [username]</td>
        <td class="error-desc">One or more of the inputs did not meet validation requirements. Text must be a string, and correct must be boolean. Pos must be an integers.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">8</td>
        <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
        <td class="error-desc">You cannot add AnswerChoices to a Resource without being logged in as a SMILE user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">404</td>
        <td class="smile-code">13</td>
        <td class="error-msg">No [object] found with UUID: [UUID].</td>
        <td class="error-desc">No Resource found with specified UUID.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">33</td>
        <td class="error-msg">Resource formatting error. AnswerChoice is not formatted correctly.</td>
        <td class="error-desc">Resource formatting error. One of the parameters expects an array or an object but has received a different data type.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">34</td>
        <td class="error-msg">To update a resource, you must be an admin, the resource's owner, or be an organizer in a group connected to one of a resource's activities.</td>
        <td class="error-desc">To update a resource, you must be an admin, the resource's owner, or be an organizer in a group connected to one of a resource's activities.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">39</td>
        <td class="error-msg">Forbidden Operation. You cannot change a resource's creator field.</td>
        <td class="error-desc">A resource's creator field cannot be changed.</td>
    </tr>
    </tbody>
</table>
<!--End Method Details: PUT /resource/{resource}/updateAnswerChoices-->
<div class="page-header"></div>
<!--Begin Method Details: DELETE /resource/{resource}/deleteAnswerChoices -->
<p class="lead class-name method-name delete"><span class="method-type">DELETE</span> /resource/{resource}/deleteAnswerChoices</p>

<p class="det">Removes AnswerChoices from a resource object. AnwserChoices are identified by their ids. An array of the positions and ids of each answerChoice is returned, even if some deletions are unsuccessful.</p>
<p>Requires authentication.</p>
<p>To update a resource, you must be an admin, the resource's owner, or be an organizer in a group connected to one of a resource's activities.</p>
Request Schema
         <pre class="prettyprint linenums">
{
    answerChoices: [
        {
            id: 0
        },
        {
            id: 1
        }
    ]
}</pre>
Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [answerChoices]: [
    ],
    [error]: { code: 1, msg: "error message" }
}</pre>
Error Codes
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>HTTP Status Code</b></td>
        <td><b>SMILE Error Code</b></td>
        <td><b>Error message</b></td>
        <td><b>Reason</b></td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">1</td>
        <td class="error-msg">Missing required fields in request: answerChoices: [ { id } ]</td>
        <td class="error-desc">The request is missing one or more required fields.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">2</td>
        <td class="error-msg">Input validation error: [username]</td>
        <td class="error-desc">One or more of the inputs did not meet validation requirements. Text must be a string, and correct must be boolean. Pos must be an integers.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">8</td>
        <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
        <td class="error-desc">You cannot delete AnswerChoices from a Resource without being logged in as a SMILE user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">404</td>
        <td class="smile-code">13</td>
        <td class="error-msg">No [object] found with UUID: [UUID].</td>
        <td class="error-desc">No Resource found with specified UUID.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">34</td>
        <td class="error-msg">To update a resource, you must be an admin, the resource's owner, or be an organizer in a group connected to one of a resource's activities.</td>
        <td class="error-desc">To update a resource, you must be an admin, the resource's owner, or be an organizer in a group connected to one of a resource's activities.</td>
    </tr>
    </tbody>
</table>
<!--End Method Details: DELETE /resource/{resource}/deleteAnswerChoices-->
<div class="page-header"></div>
<!--Begin Method Details: GET /resource/{resource}/getAnswerChoices} -->
<p class="lead class-name method-name get"><span class="method-type">GET</span> /resource/{resource}/getAnswerChoices</p>

<p class="det">Returns an Array of AnswerChoices found on resource. You must be authenticated (logged in) to call this function. Only members of a resource's activity's group (or admins) can view a private resource that they don't own or that they didn't create.</p>
<p>If the optional onlyFields parameter is passed, then only the specified AnswerChoice fields are returned. By default all fields are returned (including custom added fields not present in the AnswerChoice schema).</p>
Request Schema
         <pre class="prettyprint linenums">
{
    (optional) "onlyFields": ["name", "description"]
}</pre>
Response Schema
         <pre class="prettyprint linenums">
{
    answerChoices: [
        {
            //By default, all resource fields are returned.
            //Properties added that are not on the AnswerChoice schema are returned as well.
        }
    ],
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
Error Codes
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>HTTP Status Code</b></td>
        <td><b>SMILE Error Code</b></td>
        <td><b>Error message</b></td>
        <td><b>Reason</b></td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">401</td>
        <td class="smile-code">7</td>
        <td class="error-msg">Admin authorization required to call this function.</td>
        <td class="error-desc">Only members of a resource's activity's group (or admins) can view a private resource that they don't own or that they didn't create.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">8</td>
        <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
        <td class="error-desc">You cannot request Resource details without being logged in as a SMILE user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">404</td>
        <td class="smile-code">13</td>
        <td class="error-msg">No [object] found with UUID: [UUID].</td>
        <td class="error-desc">No Resource found with specified UUID.</td>
    </tr>
    </tbody>
</table>
<!--End Method Details: GET /resource/{resource}/getAnswerChoices} -->
<div class="page-header"></div>
<!--Begin Method Details: POST /resource/{resource}/addAttachments -->
<p class="lead class-name method-name post"><span class="method-type">POST</span> /resource/{resource}/addAttachments</p>

<p class="det">Uploads an Attachment object onto a resource object. Any fields that are in the Attachment schema but not in the request schema cannot be added (such as id, createdOn). Any additional fields not in the schema will be added to the Attachment objects. An array of Attachments is returned (with a url instead of the actual attachment), even if addition is unsuccessful.</p>
<p>Field id is created on attachments automatically. CreatedOn cannot be updated.</p>
<p>Requires authentication.</p>
<p>To update a resource, you must be an admin, the resource's owner, or be an organizer in a group connected to one of a resource's activities.</p>
<p>Mime and attachment fields are required. Mime field must be a valid mime-type.</p>
Request Schema
         <pre class="prettyprint linenums">
{
    attachments: [
        {
            id: "asdfqwefasdgawegawg",
            title: "Cool photo",
            mime: "image/png",
            attachment: [file],
            width: "300px",
            height: "300px",
            crop: [20, 0, 0, 0],
        },
        {
            id: "asdfqwefasdgawegawg",
            title: "Cool photo",
            mime: "image/png",
            name: [file name],
            attachment: [file],
            width: "300px",
            height: "300px",
            crop: [20, 0, 0, 0],
        }
    ]
}
}</pre>
Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [attachments]: [
        {
            id: "asdfqwefasdgawegawg",
            title: "Cool photo",
            name: "myfile.png",
            mime: "image/png",
            url: "/smileDB/asdv3g2rg2rg2rg/myfile.png",
            width: "300px",
            height: "300px",
            crop: [20, 0, 0, 0],
            createdOn: [2009, 1, 31, 18, 4, 11]
        }
    ],
    [error]: { code: 1, msg: "error message" }
}</pre>
Error Codes
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>HTTP Status Code</b></td>
        <td><b>SMILE Error Code</b></td>
        <td><b>Error message</b></td>
        <td><b>Reason</b></td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">1</td>
        <td class="error-msg">Missing required fields in request: [mime]</td>
        <td class="error-desc">The request is missing one or more required fields.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">2</td>
        <td class="error-msg">Input validation error: [mime]</td>
        <td class="error-desc">One or more of the inputs did not meet validation requirements.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">8</td>
        <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
        <td class="error-desc">You cannot add AnswerChoices to a Resource without being logged in as a SMILE user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">404</td>
        <td class="smile-code">13</td>
        <td class="error-msg">No [object] found with UUID: [UUID].</td>
        <td class="error-desc">No Resource found with specified UUID.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">33</td>
        <td class="error-msg">Resource formatting error. Attachments is not formatted correctly.</td>
        <td class="error-desc">Resource formatting error. One of the parameters expects an array or an object but has received a different data type.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">34</td>
        <td class="error-msg">To update a resource, you must be an admin, the resource's owner, or be an organizer in a group connected to one of a resource's activities.</td>
        <td class="error-desc">To update a resource, you must be an admin, the resource's owner, or be an organizer in a group connected to one of a resource's activities.</td>
    </tr>
    </tbody>
</table>
<!--End Method Details: POST /resource/{resource}/addAttachments-->
<div class="page-header"></div>
<!--Begin Method Details: PUT /resource/{resource}/updateAttachments -->
<p class="lead class-name method-name put"><span class="method-type">PUT</span> /resource/{resource}/updateAttachments</p>

<p class="det">Updates the attachments property on a resource object. Any fields that are in the Attachment schema but not in the request schema cannot be added or update (such as id). Any additional fields not in the schema will be added to the Attachment objects. The attachments is returned, even if some modifications are unsuccessful (with urls, not with the actual attachments).</p>
<p>Attachments supplied without id's will be added to the existing attachments array. Attachments with specified id numbers that already exist will overwrite those corresponding attachments (each Attachment can have only one attached file). If an id is supplied for an Attachment but no Attachment exist with that id, then those Attachments will not be created.</p>
<p>Fields createdOn and id are created automatically.</p>
<p>Requires authentication.</p>
<p>To update a resource, you must be an admin, the resource's owner, or be an organizer in a group connected to one of a resource's activities.</p>
Request Schema
         <pre class="prettyprint linenums">
{
    attachments: [
        {
            title: "Alice in Wonderland",
            mime: "text/html",
            attachment: [file]
        },
        {
            id: "asdfqwefasdgawegawg",
            title: "Cool photo",
            mime: "image/png",
            attachment: [file],
            width: "300px",
            height: "300px",
            crop: [20, 0, 0, 0],
        }
    ]
}</pre>
Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [attachments]: [
        {
            id: "asdfqwefasdgawegawg",
            title: "Cool photo",
            name: "myfile.png",
            mime: "image/png",
            url: "/smileDB/asdv3g2rg2rg2rg/myfile.png",
            width: "300px",
            height: "300px",
            crop: [20, 0, 0, 0],
            createdOn: [2009, 1, 31, 18, 4, 11]
        },
        {
            id: "434341234ff2",
            title: "Alice in Wonderland",
            name: "alice.html",
            mime: "text/html",
            url: "/smileDB/434341234ff2/alice.html"
            createdOn: [2013, 9, 17, 13, 44, 45]
        }
    ],
    [error]: { code: 1, msg: "error message" }
}</pre>
Error Codes
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>HTTP Status Code</b></td>
        <td><b>SMILE Error Code</b></td>
        <td><b>Error message</b></td>
        <td><b>Reason</b></td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">1</td>
        <td class="error-msg">Missing required fields in request: [field]</td>
        <td class="error-desc">The request is missing one or more required fields.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">2</td>
        <td class="error-msg">Input validation error: [username]</td>
        <td class="error-desc">One or more of the inputs did not meet validation requirements.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">8</td>
        <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
        <td class="error-desc">You update Attachments on a Resource without being logged in as a SMILE user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">404</td>
        <td class="smile-code">13</td>
        <td class="error-msg">No [object] found with UUID: [UUID].</td>
        <td class="error-desc">No Resource found with specified UUID.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">33</td>
        <td class="error-msg">Resource formatting error. [Attachments] is not formatted correctly.</td>
        <td class="error-desc">Resource formatting error. One of the parameters expects an array or an object but has received a different data type.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">34</td>
        <td class="error-msg">To update a resource, you must be an admin, the resource's owner, or be an organizer in a group connected to one of a resource's activities.</td>
        <td class="error-desc">To update a resource, you must be an admin, the resource's owner, or be an organizer in a group connected to one of a resource's activities.</td>
    </tr>
    </tbody>
</table>
<!--End Method Details: PUT /resource/{resource}/updateAttachments-->
<div class="page-header"></div>
<!--Begin Method Details: DELETE /resource/{resource}/removeAttachments -->
<p class="lead class-name method-name delete"><span class="method-type">DELETE</span> /resource/{resource}/removeAttachments</p>

<p class="det">Removes Attachments from a resource object. Attachments are identified by their ids. An array of attachments is returned (with urls instead of actual attachments), even if some deletions are unsuccessful.</p>
<p>Requires authentication.</p>
<p>To update a resource, you must be an admin, the resource's owner, or be an organizer in a group connected to one of a resource's activities.</p>
Request Schema
         <pre class="prettyprint linenums">
{
    attachments: [
        {
            id: "awef43f4g4tefededd"
        },
        {
            id: "asdfadfgawga4taw3ef"
        }
    ]
}</pre>
Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [attachments]: [
        {
            id: "434341234ff2",
            title: "Alice in Wonderland",
            name: "alice.html",
            mime: "text/html",
            url: "/smileDB/434341234ff2/alice.html"
            createdOn: [2013, 9, 17, 13, 44, 45]
        }
    ],
    [error]: { code: 1, msg: "error message" }
}</pre>
Error Codes
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>HTTP Status Code</b></td>
        <td><b>SMILE Error Code</b></td>
        <td><b>Error message</b></td>
        <td><b>Reason</b></td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">1</td>
        <td class="error-msg">Missing required fields in request: attachments: [ { id } ]</td>
        <td class="error-desc">The request is missing one or more required fields.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">2</td>
        <td class="error-msg">Input validation error: [username]</td>
        <td class="error-desc">One or more of the inputs did not meet validation requirements.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">8</td>
        <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
        <td class="error-desc">You cannot remove Attachments from a Resource without being logged in as a SMILE user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">404</td>
        <td class="smile-code">13</td>
        <td class="error-msg">No [object] found with UUID: [UUID].</td>
        <td class="error-desc">No Resource found with specified UUID.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">34</td>
        <td class="error-msg">To update a resource, you must be an admin, the resource's owner, or be an organizer in a group connected to one of a resource's activities.</td>
        <td class="error-desc">To update a resource, you must be an admin, the resource's owner, or be an organizer in a group connected to one of a resource's activities.</td>
    </tr>
    </tbody>
</table>
<!--End Method Details: DELETE /resource/{resource}/removeAttachments-->
<div class="page-header"></div>
<!--Begin Method Details: GET /resource/{resource}/getAttachments} -->
<p class="lead class-name method-name get"><span class="method-type">GET</span> /resource/{resource}/getAttachments</p>

<p class="det">Returns an Array of Attachment objects found on resource. You must be authenticated (logged in) to call this function. Only members of a resource's activity's group (or admins) can view a private resource that they don't own or that they didn't create.</p>
<p>If the optional onlyFields parameter is passed, then only the specified Attachment fields are returned. By default all fields are returned except for the attachment file (including custom added fields not present in the Attachment schema).</p>
Request Schema
         <pre class="prettyprint linenums">
{
    (optional) "onlyFields": ["name", "description"]
}</pre>
Response Schema
         <pre class="prettyprint linenums">
{
    attachments: [{
        //All Attachment fields are returned except for the actual attachment.
        //Properties added that are not on the Attachment schema are returned as well.
    }
    ],
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
Error Codes
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>HTTP Status Code</b></td>
        <td><b>SMILE Error Code</b></td>
        <td><b>Error message</b></td>
        <td><b>Reason</b></td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">401</td>
        <td class="smile-code">7</td>
        <td class="error-msg">Admin authorization required to call this function.</td>
        <td class="error-desc">Only members of a resource's activity's group (or admins) can view a private resource that they don't own or that they didn't create.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">8</td>
        <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
        <td class="error-desc">You cannot request Resource details without being logged in as a SMILE user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">404</td>
        <td class="smile-code">13</td>
        <td class="error-msg">No [object] found with UUID: [UUID].</td>
        <td class="error-desc">No Resource found with specified UUID.</td>
    </tr>
    </tbody>
</table>
<!--End Method Details: GET /resource/{resource}/getAttachments} -->
<div class="page-header"></div>
<!--Begin Method Details: POST /resource/search -->
<p class="lead class-name method-name post"><span class="method-type">POST</span> /resource/search</p>

<p class="det">Returns an Array of Resource objects matching search criteria. You must be authenticated (logged in) to call this function. Only members of a resource's activity's group (or admins) can view a private resource that they don't own or that they didn't create.</p>
<p>If the optional onlyFields parameter is passed, then only the specified Resource fields are returned. By default all fields are returned except for attachments' files (including custom added fields not present in the Resource schema).</p>
<p></p>
<p>Resources with visible set to false will not included in results.</p>
<p>searchText looks for similar text matches in name, title, description, and tags.</p>
<p>Only one of groupId, activityId, creatorId, ownerId, or responderId can be provided per request.</p>
<p>If a groupId is provided, then all resources are returned that are connected to activities associated with given group. If user is an admin or group organizer in the given group, then they can see all resources. Otherwise, only resources marked as public are returned.
<p>If activityId, creatorId, or ownerId are provided, then only results with matching activities, creators, or owners are returned, respectively. If activityId is provided, private resources are only included if user is authenticated in as an organizer in the activity's group (or an admin). If a creatorId or ownerId are provided, then private resources are only included if the authenticated user is either the creator or owner respectively (or an admin).</p>
<p>If a responderId is included, then all activities that the provided user has given responses for are returned. Matching private resources are only returned if the authenticated user is the same user identified in responderId (or is an admin).</p>
<p>If responsesSession contains a valid sessionId, then for each resource matching the search criteria, an array called responses is attached. Responses contains every Response object associated with each Resource for the session.</p>
Request Schema
         <pre class="prettyprint linenums">
{
    (optional) "onlyFields": ["name", "description"]
    searchText: "science physics",
    orderBy: "createdOn", //can order by any text or integer property on Resource, or by createdOn.
    orderDir: [ "asc" | "desc" ], //ascending or descending results
    resultsPerPage: 10,
    page: 3,
    groupId: "asdf4gazdsg",
    activityId: "34sdfgbargfaba",
    creatorId: "adsfa1312dfgaegasfg",
    ownerId: "asdfr2222s12",
    responderId: "33xa1234d1f1234aasd",
    responsesSession: "asdf22ef4rgg3g3",
    hasAttachments: true,
    isTimed: true,
    resourceType: "flippedMC",
    gradeLevels: ["12"],
    subjects: ["chemistry", "science", "physical sciences"],
}</pre>
Response Schema
         <pre class="prettyprint linenums">
{

    resources: [
        {
             //All resource fields are returned. For Attachments, only urls are returned, not actual attachment objects.
             //If responsesSession contains a valid sessionId, then each resource also has fields called responses

             [responses]: [
                { Response },
                { Response },
             ]
        }
    ],
    [error]: { code: 1, msg: "error message" }
}</pre>
Error Codes
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>HTTP Status Code</b></td>
        <td><b>SMILE Error Code</b></td>
        <td><b>Error message</b></td>
        <td><b>Reason</b></td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">2</td>
        <td class="error-msg">Request validation error: [username]</td>
        <td class="error-desc">One or more of the request inputs did not meet validation requirements.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">401</td>
        <td class="smile-code">7</td>
        <td class="error-msg">Admin authorization required to call this function.</td>
        <td class="error-desc">Only members of a resource's activity's group (or admins) can view a private resource that they don't own or that they didn't create.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">8</td>
        <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
        <td class="error-desc">You cannot request Resource details without being logged in as a SMILE user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">404</td>
        <td class="smile-code">13</td>
        <td class="error-msg">No [object] found with UUID: [UUID].</td>
        <td class="error-desc">No [object] found with specified UUID.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">36</td>
        <td class="error-msg">Only one of groupId, activityId, creatorId, ownerId, or responderId may be provided per request.</td>
        <td class="error-desc">Only one of groupId, activityId, creatorId, ownerId, or responderId may be provided per request.</td>
    </tr>
    </tbody>
</table>
<!--End Method Details: POST /resource/search -->
<div class="page-header"></div>
<!--Begin Method Details: POST /resource/{resource}/clone -->
<p class="lead class-name method-name post"><span class="method-type">POST</span> /resource/{resource}/clone</p>

<p class="det">Clones a given resource. A copy of the resource is made. New UUID and createdOn fields are generated. The activityIds fields is reset. The UUID of the newly created clone is returned if operation is successful.</p>
<p>Only authenticated users can clone activities. Without admin status, you cannot clone a private activity that is not owned by you nor associated with an activity connected to a group in which you are a member.</p>
<p>The creator field cannot be changed, even by an admin user.</p>
<p>The owner field is set to the currently authenticated user. Only admins can specify a different owner besides themselves. The activityIds field can be set to a new set of Activities, but the authenticated user must either be an admin or an organizer in each activity's group.</p>
Request Schema
         <pre class="prettyprint linenums">
{
    (admin) owner: "asdfw3gsrfr22bha",
    activityIds: [ "5tgbtyj54hj44" ]
}</pre>
Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    UUID: "asefew24fwASDF",
    [error]: { code: 1, msg: "error message" }
}</pre>
Error Codes
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>HTTP Status Code</b></td>
        <td><b>SMILE Error Code</b></td>
        <td><b>Error message</b></td>
        <td><b>Reason</b></td>
    </tr>
    </tr><tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">2</td>
        <td class="error-msg">Input validation error: [username]</td>
        <td class="error-desc">One or more of the inputs did not meet validation requirements.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">8</td>
        <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
        <td class="error-desc">You cannot clone a Resource without being logged in as a SMILE user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">404</td>
        <td class="smile-code">13</td>
        <td class="error-msg">No [object] found with UUID: [UUID].</td>
        <td class="error-desc">No Resource found with specified UUID.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">38</td>
        <td class="error-msg">Insufficient permissions to clone resource.</td>
        <td class="error-desc">Without admin status, you cannot clone a private resource that is not owned by you or associated with an activity connected to a group in which you are a member.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">39</td>
        <td class="error-msg">Forbidden Operation. You cannot change a resource's creator field when cloning.</td>
        <td class="error-desc">When cloning a resource, the creator field cannot be changed.</td>
    </tr>
    </tbody>
</table>
<!--End Method Details: POST /resource/{resource}/clone -->
</div> <!--/.detail-box Method Detail-->


<!-- pagination -->
<div class="page-nav">
    <ul class="pager">
        <li class="previous">
            <a href="#">&larr; Prev Class</a>
        </li>
        <li class="next">
            <a href="#">Next Class &rarr;</a>
        </li>
    </ul>
</div>
<!-- /pagination -->


<div class="shadow-right"></div>
<!-- shadow doc-content-box -->
</div><!--/.doc-content-box -->