<div class="doc-content-box">
<!-- Class Overview -->
<div class="page-header">
    <h2>/response</h2>
</div>

<p>Response objects represent interactions between users and different resources. Each response is associated with a
    user and a resource. Responses that occur during a session are also associated with that session.</p>

<p>Responses to Resources are associated with a given Session, while Resources created in a session are associated with
    that session's Activity.</p>

<p>Additional properties that are not in the Session schema can be stored and retrieved from Session objects.</p>

<p>{response} represents a Response's UUID.</p>
<!-- /Class Overview -->

<!-- table Class Summary -->
<h3>Schema</h3>
<table class="table table-bordered ">
    <thead>
    </thead>
    <tbody>
    <tr id="class-summary">
        <td>
                <pre class="prettyprint linenums">
Response {
    UUID: "asdfadsfadsf",
    userId: "asdfefbwfbwb"
    resourceId: "1231231adsf433d", //resource that response is in
    sessionId: "a2efdvrb4g3vf"
    answerChoice: [ 0 ], //must be an array of integers, min length of 1
    responseValue: ["cola", "bears"], //can be any data-type
    responseResource: "asdf3q4gavserg", //can attach a resource as a response
    secondsToAnswer: 12.3, //seconds, > 0, number
    rating: 3.2, //rating >= 1 and <= 5, can be decimal
    createdOn: [2009, 1, 31, 18, 4, 11]
}
                </pre>
        </td>
    </tr>
    </tbody>
</table>
<!-- /table Class Summary -->

<!-- table Property Summary -->
<h3>Property Summary</h3>
<table id="property-summary" class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>Parameter</b>

            <p class="smallFont">( * = required input when creating new object)</p></td>
        <td><b>Type</b></td>
        <td><b>Default</b></td>
        <td><b>Description</b></td>
    </tr>
    <tr>
        <td><span class="property-name">UUID</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">UUIDs (universally unique identifiers) are automatically generated when an object is
            created. They cannot be modified.
        </td>
    </tr>
    <tr>
        <td>*<span class="property-name">userId</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The UUID of the user that submitted the response.</td>
    </tr>
    <tr>
        <td>*<span class="property-name">resourceId</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The UUID of the resource to which the user responded.</td>
    </tr>
    <tr>
        <td><span class="property-name">sessionId</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The UUID of the session in which the response was submitted. Left undefined if the
            response was not submitted as part of an activity session.
        </td>
    </tr>
    <tr>
        <td><span class="property-name">answerChoices</span></td>
        <td class="type-value">Array[integer]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Array of AnswerChoice ids that the user selected. Only applicable if the resourceType
            accepts answerChoice responses. The AnswerChoice ids represent the answerChoice id's in the resource's
            answerChoices array.
        </td>
    </tr>
    <tr>
        <td><span class="property-name">responseValue</span></td>
        <td class="type-value">Any type</td>
        <td class="default-value"> -</td>
        <td class="class-desc">responseValue can store any type of JSON data (string, number, array, or object). It
            represents a response to a resource that is not an answerChoice.
        </td>
    </tr>
    <tr>
        <td><span class="property-name">responseResource</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The UUID of a resource submitted as a response. If the resource accepts photo upload
            responses for instance, then a new resource could be created with an uploaded photo as an attachment, and
            that resource could be submitted as a response by submitting it as a responseResource.
        </td>
    </tr>
    <tr>
        <td><span class="property-name">secondsToAnswer</span></td>
        <td class="type-value">integer</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The number of seconds that the user took to answer the given resource from the time it
            was first viewed until the response was submitted.
        </td>
    </tr>
    <tr>
        <td><span class="property-name">rating</span></td>
        <td class="type-value">number</td>
        <td class="default-value"> _</td>
        <td class="class-desc">A user-defined rating that can be submitted as part of a response. The values must be
            greater than or equal to 1 and less than or equal to 5. Decimal values are permitted.
        </td>
    </tr>
    <tr>
        <td><span class="property-name">createdOn</span></td>
        <td class="type-value">Array[integer]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">An array of integers in the format [year, month, day, hours (24-hour), minutes, seconds].
            Created by server.
        </td>
    </tr>
    </tbody>
</table>
<!-- /table Property Summary -->

<!-- table Method Summary -->
<h3>Method Summary</h3>
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>Method</b></td>
        <td><b>Description</b></td>
    </tr>
    <tr class="method-summary">
        <td class="method-name post"><span class="method-type">POST</span> /response</td>
        <td class="method-desc">Creates a response object.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name put"><span class="method-type">PUT</span> /response/{response}</td>
        <td class="method-desc">Updates given response.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name delete"><span class="method-type">DELETE</span> /response/{response}</td>
        <td class="method-desc">Deletes a response object.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /response/{response}</td>
        <td class="method-desc">Fetches a response object.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /response/userResponses/{user}</td>
        <td class="method-desc">Fetches all response objects for a given user.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /response/sessionResponses/{session}</td>
        <td class="method-desc">Fetches all response objects for a given session.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /response/mySessionResponses/{session}</td>
        <td class="method-desc">Fetches all of the currently authenticated user's response objects for a given session.
            You may also optionally filter these results by a set of resources.
        </td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /response/activityResponses/{activity}</td>
        <td class="method-desc">Fetches all response objects for a given activity.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name post"><span class="method-type">POST</span> /response/resourceResponses</td>
        <td class="method-desc">Fetches all response objects matching the set of provided responses.</td>
    </tr>
    </tbody>
</table>
<!-- /table Method Summary -->

<!-- detail-box Method Detail -->
<div class="detail-box">
<div class="page-header">
    <a title="jump to method summary" href="#method-set" class="scroll pull-right">
        <span class="label label-info"><b class="icon-white icon-arrow-up"></b></span>
    </a>

    <h3 id="method-desc-set">Method Detail</h3>
</div>

<!--Begin Method Details: POST /response -->
<p class="lead class-name method-name post"><span class="method-type">POST</span> /response</p>

<p class="det">Creates a response object. Any fields that are in the schema but not in the request schema cannot be
    added (such as UUID). Any additional fields not in the schema will be added.</p>

<p>Requires authentication.</p>

<p>Only admins or members of a group can associate a response with a session connected to an activity associated with
    that group.</p>

<p>Responses are checked against their resource to make sure they comply with the response restrictions imposed by the
    resource. Multiple answerChoices are only permitted if the resource's multiSelect is true. Otherwise, the
    answerChoice array may only contain one value. If multiSelect is true, then the number of answerChoices submitted
    must be less than the resource's selectLimit. Multiple responses to the same resource in the same session by the
    same user are only permitted if the resource's allowMultipleResponses is true. Only as many responses as defined in
    the resource's responseLimit are permitted from the same user for a given resource-session combination. Creators of
    a resource can only submit a response to their resource if the resource's allowCreatorResponse is true.</p>
Request Schema
         <pre class="prettyprint linenums">
{
    *userId: "asdfefbwfbwb"
    *resourceId: "1231231adsf433d", //resource that response is in
    sessionId: "a2efdvrb4g3vf"
    answerChoice: [ 0 ], //must be an array of integers, min length of 1
    responseValue: ["cola", "bears"], //can be any data-type
    responseResource: "asdf3q4gavserg", //can attach a resource as a response
    secondsToAnswer: 12.3, //seconds, > 0, number
    rating: 3.2, //rating >= 1 and <= 5, can be decimal
}</pre>
Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    UUID: "asefew24fwASDF",
    [error]: { code: 1, msg: "error message" }
}</pre>
Error Codes
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>HTTP Status Code</b></td>
        <td><b>SMILE Error Code</b></td>
        <td><b>Error message</b></td>
        <td><b>Reason</b></td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">1</td>
        <td class="error-msg">Missing required fields in request: [userId]</td>
        <td class="error-desc">The request is missing one or more required fields.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">2</td>
        <td class="error-msg">Input validation error: [username]</td>
        <td class="error-desc">One or more of the inputs did not meet validation requirements.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">8</td>
        <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.
        </td>
        <td class="error-desc">You cannot create a Response without being logged in as a SMILE user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">40</td>
        <td class="error-msg">Admin authorization required to set a response's session to a session with an activity not owned by you
            which has an owningGroup in which you are not a group member.
        </td>
        <td class="error-desc">Responses can only be associated with a session in which the authenticated user is a
            member of the group connected to the activity associated with that session, unless the user is an admin.
        </td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">41</td>
        <td class="error-msg">Admin authorization required to set a response's resource to a hidden resource (resource's
            visible value equals false) in which you are not the resource's owner or an organizer in the resource's
            owningGroup.
        </td>
        <td class="error-desc">Responses can only be associated with a hidden resource if you are the resource's owner
            or an organizer in the response's owningGroup.
        </td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">42</td>
        <td class="error-msg">You cannot submit multiple answerChoices in a response to a resource which has multiSelect
            equals false.
        </td>
        <td class="error-desc">You cannot submit multiple answerChoices in a response to a resource which has
            multiSelect equals false.
        </td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">43</td>
        <td class="error-msg">You have exceed the selectLimit. The selectLimit for this response's resource is [x]. You
            have submitted [y] answerChoices.
        </td>
        <td class="error-desc">You cannot submit more answerChoices in your response then the response's resource's
            selectLimit allows.
        </td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">44</td>
        <td class="error-msg">You cannot submit multiple responses to a given resource and session combination more than
            once unless the resource's allowMultipleResponses is true.
        </td>
        <td class="error-desc">If a response has already been submitted for the same resource by the same user in the
            same session, then a subsequent response is only permitted if the resource's allowMultipleResponses is true.
        </td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">45</td>
        <td class="error-msg">You cannot submit more responses to the same resource and session than permitted by the
            resource's responseLimit.
        </td>
        <td class="error-desc">If a response allows multiple responses and has a responseLimit, then you cannot submit
            more than responseLimit number of responses as the same user to the same resource and session.
        </td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">46</td>
        <td class="error-msg">You cannot submit a response to a resource in which you are the creator if the resource's
            allowCreatorResponse field is false.
        </td>
        <td class="error-desc">If you are the creator of a resource which has allowCreatorResponse set to false, then
            you cannot submit a response to that resource.
        </td>
    </tr>
    </tbody>
</table>
<!--End Method Details: POST /response-->
<div class="page-header"></div>
<!--Begin Method Details: PUT /response/{response} -->
<p class="lead class-name method-name put"><span class="method-type">PUT</span> /response/{response}</p>

<p class="det">Updates response. Requires authentication.</p>

<p>To update a response, you must be the response's user or an admin. A response can only be updated if that response's
    resource's allowResponseRevision equals true, or if the user is an admin.</p>

<p>A responses UUID, userId, resourceId, sessionId, and createdOn cannot be changed, even by an admin.</p>

<p>Responses are checked against their resource to make sure they comply with the response restrictions imposed by the
    resource. Multiple answerChoices are only permitted if the resource's multiSelect is true. Otherwise, the
    answerChoice array may only contain one value. If multiSelect is true, then the number of answerChoices submitted
    must be less than the resource's selectLimit. Creators of a resource can only submit a response to their resource if
    the resource's allowCreatorResponse is true.</p>
Request Schema
         <pre class="prettyprint linenums">
{
    answerChoice: [ 0 ], //must be an array of integers, min length of 1
    responseValue: ["cola", "bears"], //can be any data-type
    responseResource: "asdf3q4gavserg", //can attach a resource as a response
    secondsToAnswer: 12.3, //seconds, > 0, number
    rating: 3.2, //rating >= 1 and <= 5, can be decimal
}</pre>
Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
Error Codes
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>HTTP Status Code</b></td>
        <td><b>SMILE Error Code</b></td>
        <td><b>Error message</b></td>
        <td><b>Reason</b></td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">2</td>
        <td class="error-msg">Input validation error: [username]</td>
        <td class="error-desc">One or more of the inputs did not meet validation requirements.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">8</td>
        <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.
        </td>
        <td class="error-desc">You cannot update a Response without being logged in as a SMILE user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">404</td>
        <td class="smile-code">13</td>
        <td class="error-msg">No [object] found with UUID: [UUID].</td>
        <td class="error-desc">No Response found with specified UUID.</td>
    </tr>

    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">40</td>
        <td class="error-msg">Admin authorization required to set a response's session to a session with an activity not owned by you
            which has an owningGroup in which you are not a group member.
        </td>
        <td class="error-desc">Responses can only be associated with a session in which the authenticated user is a
            member of the group connected to the activity associated with that session, unless the user is an admin.
        </td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">41</td>
        <td class="error-msg">Admin authorization required to set a response's resource to a hidden resource (resource's
            visible value equals false) in which you are not the resource's owner or an organizer in the resource's
            owningGroup.
        </td>
        <td class="error-desc">Responses can only be associated with a hidden resource if you are the resource's owner
            or an organizer in the response's owningGroup.
        </td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">42</td>
        <td class="error-msg">You cannot submit multiple answerChoices in a response to a resource which has multiSelect
            equals false.
        </td>
        <td class="error-desc">You cannot submit multiple answerChoices in a response to a resource which has
            multiSelect equals false.
        </td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">43</td>
        <td class="error-msg">You have exceed the selectLimit. The selectLimit for this response's resource is [x]. You
            have submitted [y] answerChoices.
        </td>
        <td class="error-desc">You cannot submit more answerChoices in your response then the response's resource's
            selectLimit allows.
        </td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">46</td>
        <td class="error-msg">You cannot submit a response to a resource in which you are the creator if the resource's
            allowCreatorResponse field is false.
        </td>
        <td class="error-desc">If you are the creator of a resource which has allowCreatorResponse set to false, then
            you cannot submit a response to that resource.
        </td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403/td>
        <td class="smile-code">47</td>
        <td class="error-msg">You cannot update a response to a resource if the resource's allowResponseRevision is
            false.
        </td>
        <td class="error-desc">If a response's resource's allowResponseRevision is false, then you cannot update a
            response unless you are an admin.
        </td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">48</td>
        <td class="error-msg">You cannot update a response whose userId is from a different user unless you are an
            admin.
        </td>
        <td class="error-desc">Admin authorization is required to update a response where userId does not match your
            userId.
        </td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">49</td>
        <td class="error-msg">You cannot update a response's [UUID, userId, resourceId, sessionId, or createdOn]
            field[s].
        </td>
        <td class="error-desc">You cannot update a response's UUID, userId, resourceId, sessionId, or createdOn
            fields.
        </td>
    </tr>
    </tbody>
</table>
<!--End Method Details: PUT /response/{response} -->
<div class="page-header"></div>
<!--Begin Method Details: DELETE /response/{response} -->
<p class="lead class-name method-name delete"><span class="method-type">DELETE</span> /response/{response}</p>

<p class="det">Deletes given response. Only a response's user or admin can delete a response. A response can only be
    deleted if its resource's allowResponseRevision is true, or if user is an admin.</p>

<p>Request Schema: <b><i>none</i></b></p>
Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
Error Codes
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>HTTP Status Code</b></td>
        <td><b>SMILE Error Code</b></td>
        <td><b>Error message</b></td>
        <td><b>Reason</b></td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">401</td>
        <td class="smile-code">7</td>
        <td class="error-msg">Admin authorization required to call this function.</td>
        <td class="error-desc">Admin authorization required to delete an activity owned by a different user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">8</td>
        <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.
        </td>
        <td class="error-desc">You cannot delete a Response without being logged in as a SMILE user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">404</td>
        <td class="smile-code">13</td>
        <td class="error-msg">No [object] found with UUID: [UUID].</td>
        <td class="error-desc">No Response found with specified UUID.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403/td>
        <td class="smile-code">47</td>
        <td class="error-msg">You cannot delete a response to a resource if the resource's allowResponseRevision is
            false, unless you are an admin.
        </td>
        <td class="error-desc">If a response's resource's allowResponseRevision is false, then you cannot delete that
            response unless you are an admin.
        </td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">48</td>
        <td class="error-msg">You cannot delete a response whose userId is from a different user unless you are an
            admin.
        </td>
        <td class="error-desc">Admin authorization is required to delete a response where userId does not match your
            userId.
        </td>
    </tr>
    </tbody>
</table>
<!--End Method Details: DELETE /response/{response}-->
<div class="page-header"></div>
<!--Begin Method Details: GET /response/{response} -->
<p class="lead class-name method-name get"><span class="method-type">GET</span> /response/{response}</p>

<p class="det">Returns response object. You must be authenticated (logged in) to call this function.</p>å
<p>If the optional onlyFields parameter is passed, then only the specified fields are returned. All fields are returned
    (including custom added fields not present in the Response schema).</p>
Request Schema
         <pre class="prettyprint linenums">
{
    (optional) "onlyFields": ["UUID", "secondsToAnswer"]
}</pre>
Response Schema
         <pre class="prettyprint linenums">
{
    response: {
        //All response fields are returned.
        //Properties added that are not on the Response schema are returned as well.
    },
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
Error Codes
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>HTTP Status Code</b></td>
        <td><b>SMILE Error Code</b></td>
        <td><b>Error message</b></td>
        <td><b>Reason</b></td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">8</td>
        <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.
        </td>
        <td class="error-desc">You cannot request Response details without being logged in as a SMILE user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">404</td>
        <td class="smile-code">13</td>
        <td class="error-msg">No [object] found with UUID: [UUID].</td>
        <td class="error-desc">No Response found with specified UUID.</td>
    </tr>
    </tbody>
</table>
<!--End Method Details: GET /response/{response} -->
<div class="page-header"></div>
<!--Begin Method Details: GET /response/userResponses/{user} -->
<p class="lead class-name method-name get"><span class="method-type">GET</span> /response/userResponses/{user}</p>

<p class="det">Returns responses with matching user (userId field). You can only request responses for the user you are
    currently authenticated as, unless you are an admin.</p>

<p>If the optional onlyFields parameter is passed, then only the specified fields are returned. All fields are returned
    (including custom added fields not present in the Response schema).</p>
Response Schema
         <pre class="prettyprint linenums">
{
    (optional) "onlyFields": ["rating"]
}</pre>
Response Schema
         <pre class="prettyprint linenums">
{
    responses: [
        { [Response] }
        //All response fields are returned by default.
        //Properties added that are not on the Response schema are returned as well.
    ],
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
Error Codes
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>HTTP Status Code</b></td>
        <td><b>SMILE Error Code</b></td>
        <td><b>Error message</b></td>
        <td><b>Reason</b></td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">8</td>
        <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.
        </td>
        <td class="error-desc">You cannot request Session details without being logged in as a SMILE user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">404</td>
        <td class="smile-code">13</td>
        <td class="error-msg">No [object] found with UUID: [UUID].</td>
        <td class="error-desc">No User found with specified UUID.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">50</td>
        <td class="error-msg">You cannot request the responses for a user other than the currently authenticated user
            unless you are an admin.
        </td>
        <td class="error-desc">You must be an admin to request responses for a user other than the currently
            authenticated user.
        </td>
    </tr>
    </tbody>
</table>
<!--End Method Details: GET /response/userResponses/{user} -->
<div class="page-header"></div>
<!--Begin Method Details: GET /response/sessionResponses/{session} -->
<p class="lead class-name method-name get"><span class="method-type">GET</span> /session/sessionResponses/{session}</p>

<p class="det">Returns all responses associated with this session. You must be an admin, or be authenticated as an
    organizer of the session's group to call this function.</p>

<p>If the optional onlyFields parameter is passed, then only the specified fields are returned. All fields are returned
    (including custom added fields not present in the Response schema).</p>
Request Schema
         <pre class="prettyprint linenums">
{
    (optional) "onlyFields": ["UUID", "responseValue"]
}</pre>
Response Schema
         <pre class="prettyprint linenums">
{
    responses: [
        { [Response] }
        //All response fields are returned by default.
        //Properties added that are not on the Response schema are returned as well.
    ],
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
Error Codes
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>HTTP Status Code</b></td>
        <td><b>SMILE Error Code</b></td>
        <td><b>Error message</b></td>
        <td><b>Reason</b></td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">8</td>
        <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.
        </td>
        <td class="error-desc">You cannot request a Session's responses without being logged in as a SMILE user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">404</td>
        <td class="smile-code">13</td>
        <td class="error-msg">No [object] found with UUID: [UUID].</td>
        <td class="error-desc">No Session found with specified UUID.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">30</td>
        <td class="error-msg">Only organizers of a session's group can call this function.</td>
        <td class="error-desc">You must be an admin, or an organizer in the session's group to view the session's
            responses.
        </td>
    </tr>
    </tbody>
</table>
<!--End Method Details: GET /response/sessionResponses/{session} -->
<div class="page-header"></div>
<!--Begin Method Details: GET /response/mySessionResponses/{session} -->
<p class="lead class-name method-name get"><span class="method-type">GET</span> /session/mySessionResponses/{session}
</p>

<p class="det">Returns all responses associated with this session and the currently authenticated user.</p>

<p>If the optional resourceIds field is provided with resourceIds, then only responses that have one of the same
    resourceId will be returned. This allows a user to fetch all of their responses for a particular resource or set of
    resources in a given session.</p>

<p>If the optional onlyFields parameter is passed, then only the specified fields are returned. All fields are returned
    (including custom added fields not present in the Response schema).</p>
Request Schema
         <pre class="prettyprint linenums">
{
    (optional) "resourceIds": ["sdfgr3gyyw4etgb"],
    (optional) "onlyFields": ["UUID", "responseValue"]
}</pre>
Response Schema
         <pre class="prettyprint linenums">
{
    responses: [
        { [Response] }
        //All response fields are returned by default.
        //Properties added that are not on the Response schema are returned as well.
    ],
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
Error Codes
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>HTTP Status Code</b></td>
        <td><b>SMILE Error Code</b></td>
        <td><b>Error message</b></td>
        <td><b>Reason</b></td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">2</td>
        <td class="error-msg">Input validation error: [username]</td>
        <td class="error-desc">One or more of the inputs did not meet validation requirements.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">8</td>
        <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.
        </td>
        <td class="error-desc">You cannot request a Session's responses without being logged in as a SMILE user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">404</td>
        <td class="smile-code">13</td>
        <td class="error-msg">No [object] found with UUID: [UUID].</td>
        <td class="error-desc">No [Session/Resource] found with specified UUID.</td>
    </tr>
    </tbody>
</table>
<!--End Method Details: GET /response/mySessionResponses/{session} -->
<div class="page-header"></div>
<!--Begin Method Details: GET /response/activityResponses/{activity} -->
<p class="lead class-name method-name get"><span class="method-type">GET</span> /response/activityResponses/{activity}
</p>

<p class="det">Returns all responses associated with all sessions associated with an activity. You must be an admin, or
    be authenticated as an organizer of the activity's owningGroup or as the owner of the activity to call this
    function.</p>

<p>If the optional onlyFields parameter is passed, then only the specified fields are returned. All fields are returned
    (including custom added fields not present in the Response schema).</p>
Request Schema
         <pre class="prettyprint linenums">
{
    (optional) "onlyFields": ["UUID", "responseValue"]
}</pre>
Response Schema
         <pre class="prettyprint linenums">
{
    responses: [
        { [Response] }
        //All response fields are returned by default.
        //Properties added that are not on the Response schema are returned as well.
    ],
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
Error Codes
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>HTTP Status Code</b></td>
        <td><b>SMILE Error Code</b></td>
        <td><b>Error message</b></td>
        <td><b>Reason</b></td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">8</td>
        <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.
        </td>
        <td class="error-desc">You cannot request an Activity's responses without being logged in as a SMILE user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">404</td>
        <td class="smile-code">13</td>
        <td class="error-msg">No [object] found with UUID: [UUID].</td>
        <td class="error-desc">No Session found with specified UUID.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">51</td>
        <td class="error-msg">Only organizers of a activity's owningGroup, admins, or the activity's owner can call this
            function.
        </td>
        <td class="error-desc">You must be an admin, an activity's owner, or an organizer in the activity's owningGroup
            to view the activity's responses.
        </td>
    </tr>
    </tbody>
</table>
<!--End Method Details: GET /response/activityResponses/{activity} -->
<div class="page-header"></div>
<!--Begin Method Details: POST /response/resourceResponses -->
<p class="lead class-name method-name post"><span class="method-type">POST</span> /response/resourceResponses</p>

<p class="det">Returns all responses associated with the provided resources.</p>

<p>If the optional onlyFields parameter is passed, then only the specified fields are returned. All fields are returned
    (including custom added fields not present in the Response schema).</p>
Request Schema
         <pre class="prettyprint linenums">
{
    resourceIds: ["asdf2tjjjjd2g", "34t6547uyerfsge53h", "s34t4y5ugeg22"],
    (optional) "onlyFields": ["UUID", "responseValue"]
}</pre>
Response Schema
         <pre class="prettyprint linenums">
{
    responses: [
        { [Response] }
        //All response fields are returned by default.
        //Properties added that are not on the Response schema are returned as well.
    ],
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
Error Codes
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>HTTP Status Code</b></td>
        <td><b>SMILE Error Code</b></td>
        <td><b>Error message</b></td>
        <td><b>Reason</b></td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">400</td>
        <td class="smile-code">2</td>
        <td class="error-msg">Input validation error: [username]</td>
        <td class="error-desc">One or more of the inputs did not meet validation requirements.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">403</td>
        <td class="smile-code">8</td>
        <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.
        </td>
        <td class="error-desc">You cannot request a Session's responses without being logged in as a SMILE user.</td>
    </tr>
    <tr class="error-summary">
        <td class="error-code">404</td>
        <td class="smile-code">13</td>
        <td class="error-msg">No [object] found with UUID: [UUID].</td>
        <td class="error-desc">No Resource found with specified UUID.</td>
    </tr>
    </tbody>
</table>
<!--End Method Details: POST /response/resourceResponses -->
</div> <!--/.detail-box Method Detail-->

<!-- pagination -->
<div class="page-nav">
    <ul class="pager">
        <li class="previous">
            <a href="#">&larr; Prev Class</a>
        </li>
        <li class="next">
            <a href="#">Next Class &rarr;</a>
        </li>
    </ul>
</div>
<!-- /pagination -->


<div class="shadow-right"></div>
<!-- shadow doc-content-box -->
</div>
<!--/.doc-content-box -->