<div class="doc-content-box">
    <h1 class="heading">Hierarchy For All Class</h1>

    <p>Lorem ipsum dolor sit amet, vivamus commodo, tortor morbi faucibus eleifend, gravida et vitae lobortis, sociis sed consectetuer. Et suspendisse commodo sapien, mauris habitasse venenatis tincidunt, non ante cupiditate enim fusce magni lacinia. Erat et feugiat felis iaculis sed justo, mauris pretium dapibus lacinia adipiscing. Leo neque id, nec posuere in, pede a interdum vitae quam nec rhoncus, sit id cras curabitur libero ante, nibh accumsan et in augue purus habitasse. Nunc amet ultrices ac suscipit elementum. Donec commodo est erat mauris quam vestibulum, vel lectus vehicula sed, massa wisi vel purus sed, fames mauris ante id tortor quam.</p>
    <!-- /.tree-box -->
    <div class="tree-box">
        <h3 class="tree-header class-name"><a href="class_name.html">Class Name</a></h3>

        <div class="tree">
            <ul>
                <li>
                    <a href="class_name.html">Class_Name</a>
                    <ul>
                        <li><a href="class_name.html#overview">Overview</a></li>
                        <li>
                            <a href="class_name.html#property-summary">Property</a>
                            <ul>
                                <li>
                                    <a href="class_name.html#property-det">$var_name</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="class_name.html#constructor-summary">Constructor</a></li>
                        <li>
                            <a href="class_name.html#method-summary">Method</a>
                            <ul>
                                <li><a href="class_name.html#method-desc-set">set()</a></li>
                                <li><a href="class_name.html#method-desc-get">get()</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.tree -->
        <div class="clearfix"></div>
    </div>
    <!-- /.tree-box -->

    <!-- tree-box -->
    <div class="tree-box">
        <h3 class="tree-header class-name"><a href="#">Other Class</a></h2>
            <div class="tree">
                <ul>
                    <li>
                        <a href="#">Other_Class</a>
                        <ul>
                            <li><a href="#">Overview</a></li>
                            <li><a href="#">Property</a></li>
                            <li><a href="#">Constructor</a></li>
                            <li><a href="#">Method</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.tree -->
            <div class="clearfix"></div>
    </div>
    <!-- /.tree-box -->


    <!-- tree-box -->
    <div class="tree-box">
        <h3 class="tree-header class-name"><a href="#">Child Class</a></h3>

        <div class="tree">
            <ul>
                <li>
                    <a href="#">Child_Class</a>
                    <ul>
                        <li><a href="#">Overview</a></li>
                        <li><a href="#">Property</a></li>
                        <li>
                            <a href="#">Parent</a>
                            <ul>
                                <li><a href="class_name.html">Class_Name</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Constructor</a></li>
                        <li><a href="#">Method</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.tree -->
        <div class="clearfix"></div>
    </div>
    <!-- /.tree-box -->

    <div class="shadow-right"></div>
    <!-- shadow doc-content-box -->
</div><!--/.doc-content-box -->
