<div class="doc-content-box">
<!-- Class Overview -->
<div class="page-header">
    <h2>/user</h2>
</div>

<p>All users are represented by one User object.</p><!-- /Class Overview -->

<!-- table Class Summary -->
<h3>Schema</h3>
<table class="table table-bordered ">
    <thead>
    </thead>
    <tbody>
    <tr id="class-summary">
        <td>
                <pre class="prettyprint linenums">
User {
    UUID: "12341234",
    username: "noah",
    password: "asdfn38asdfnae4##DFCjkh34ed"
    firstName: "Noah",
    lastName: "Freedman,
    emailAddresses: ["freedmannoah@gmail.com"],
    creator: "234q324123423",
    createdOn: [2009, 1, 31, 18, 4, 11],
    admin: false,
    country: "United States",
    region: "California",
    city: "Carmel",
    roles: ["student"],
    grade: "12",
    institutions: ["1234i1288", "12349001"],
    language: "English",
    hostname: "b8f6b114a7e1",
    photoUrl: "/photos/user/as3gf2eg24g24g.png"
}
                </pre>
        </td>
    </tr>
    </tbody>
</table>
<!-- /table Class Summary -->


<!-- table Property Summary -->
<h3>Property Summary</h3>
<table id="property-summary" class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>Parameter</b>

            <p class="smallFont">( * = required input when creating new object)</p></td>
        <td><b>Type</b></td>
        <td><b>Default</b></td>
        <td><b>Description</b></td>
    </tr>
    <tr>
        <td><span class="property-name">UUID</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">UUIDs (universally unique identifiers) are automatically generated when an object is
            created. They cannot be modified.
        </td>
    </tr>
    <tr>
        <td>*<span class="property-name">username</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Usernames must be unique, and are case-insensitive. Username validation regex: <span
                class="regex">[A-Za-z][A-Za-z0-9_\.-]{4,}</span>.
        </td>
    </tr>
    <tr>
        <td>*<span class="property-name">password</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Passwords are required, and must be at least 6 characters long. Password validation
            regex: <span class="regex">.{5,}</span>.
        </td>
    </tr>
    <tr>
        <td>*<span class="property-name">firstName</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">First name of user. Input validation regex: <span class="regex">[A-Za-z\.\- ]{5,}</span>.
        </td>
    </tr>
    <tr>
        <td>*<span class="property-name">lastName</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Last name of user.</td>
    </tr>
    <tr>
        <td>*<span class="property-name">emailAddresses</span></td>
        <td class="type-value">Array[string]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">List of email addresses. All email addresses must be unique. Typical use case will likely
            be a single email address.
        </td>
    </tr>
    <tr>
        <td><span class="property-name">creator</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">This field is blank is user self-registers. If the user is created by a group organizer
            or an admin, then this field stores the UUID of that user.
        </td>
    </tr>
    <tr>
        <td><span class="property-name">createdOn</span></td>
        <td class="type-value">Array[integer]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">An array of integers in the format [year, month, day, hours (24-hour), minutes, seconds]. Created by server.
        </td>
    </tr>
    <tr>
        <td><span class="property-name">admin</span></td>
        <td class="type-value">boolean</td>
        <td class="default-value">false</td>
        <td class="class-desc">Admin accounts can only be created by other admin accounts.</td>
    </tr>
    <tr>
        <td><span class="property-name">country</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Country that user designates.</td>
    </tr>
    <tr>
        <td><span class="property-name">region</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Region that user designates.</td>
    </tr>
    <tr>
        <td><span class="property-name">city</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">City that user designates.</td>
    </tr>
    <tr>
        <td><span class="property-name">roles</span></td>
        <td class="type-value">Array[string]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">List of strings of roles that users can choose to identify themselves with.</td>
    </tr>
    <tr>
        <td><span class="property-name">grade</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">User designated grade level.</td>
    </tr>
    <tr>
        <td><span class="property-name">institutions</span></td>
        <td class="type-value">Array[string]</td>
        <td class="default-value"> English</td>
        <td class="class-desc">User designated institutions. An array of institution UUIDs.</td>
    </tr>
    <tr>
        <td><span class="property-name">language</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">String of currently set language's name.</td>
    </tr>
    <tr>
        <td><span class="property-name">host</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">If the user was created on an ad-hoc server disconnected from the internet, then the host
            name field will store the MAC address of the device that it was created on.
        </td>
    </tr>
    </tbody>
</table>
<!-- /table Property Summary -->

<!-- table Method Summary -->
<h3>Method Summary</h3>
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>Method</b></td>
        <td><b>Description</b></td>
    </tr>
    <tr class="method-summary">
        <td class="method-name post"><span class="method-type">POST</span> /user</td>
        <td class="method-desc">Creates a user object.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name put"><span class="method-type">PUT</span> /user/{user}</td>
        <td class="method-desc">Updates given user.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name delete"><span class="method-type">DELETE</span> /user/{user}</td>
        <td class="method-desc">Deletes a user object.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /user/{user}</td>
        <td class="method-desc">Fetches a user object.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /user/getByUsername/{username}</td>
        <td class="method-desc">Fetches a user object by username.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /user/usernameIsUnique/</td>
        <td class="method-desc">Returns true if username is unique.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /user/emailIsUnique/</td>
        <td class="method-desc">Returns true if username is unique.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name post"><span class="method-type">POST</span> /user/getUsernamesFromUUID/</td>
        <td class="method-desc">Accepts an array of UUID strings, and returns an array of corresponding objects with
            UUIDs and usernames.
        </td>
    </tr>
    <tr class="method-summary">
        <td class="method-name post"><span class="method-type">POST</span> /user/batchAdd/</td>
        <td class="method-desc">Creates a batch of user objects.</td>
    </tr>
    </tbody>
</table>
<!-- /table Method Summary -->

<!-- detail-box Method Detail -->
<div class="detail-box">
    <div class="page-header">
        <a title="jump to method summary" href="#method-set" class="scroll pull-right">
            <span class="label label-info"><b class="icon-white icon-arrow-up"></b></span>
        </a>

        <h3 id="method-desc-set">Method Detail</h3>
    </div>

<!--Begin Method Details: POST /user -->
    <p class="lead class-name method-name post"><span class="method-type">POST</span> /user</p>

    <p class="det">When a user is created, the hostname property is assigned based on the mac address of the server that
        the user was created on, but only if the user is created on an ad-hoc server not connected to the internet. <br>A
        creator id is specified only if creating an account for another user.<br>If a field is not in the schema, then by default it can still be added to a User object. If a field is in the schema but not in the request schema below, then it cannot be added as part of creating a new User.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    *username: "noah",
    *password: "plainTextPassword"
    *firstName: "Noah",
    *lastName: "Freedman,
    *emailAddresses: [ "freedmannoah@gmail.com", "noahfreedman@stanford.edu" ]
    creator: "234q324123423",
    admin: false, //requires admin permissions
    country: "United States",
    region: "California",
    city: "Carmel",
    roles: ["student"],
    grade: "12",
    institutions: ["1234i1288", "12349001"],
    language: "English",
    hostname: "smileglobal.net",
    photoUrl: "/photos/user/asdfq3fm2m3f.png",
    photo: [binary data]
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    UUID: "asefew24fwASDF",
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">1</td>
            <td class="error-msg">Missing required fields in request: [username]</td>
            <td class="error-desc">The request is missing one or more required fields.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">2</td>
            <td class="error-msg">Input validation error: [username]</td>
            <td class="error-desc">One or more of the inputs did not meet validation requirements.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">401</td>
            <td class="smile-code">3</td>
            <td class="error-msg">Admin authorization required to create an admin user.</td>
            <td class="error-desc">User must be authenticated as an admin user to create an admin user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">4</td>
            <td class="error-msg">Username already exists: [username]</td>
            <td class="error-desc">Username already exists at this host (or at global host as well if internet is available from ad-hoc server.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">5</td>
            <td class="error-msg">Email address already exists: [email address]</td>
            <td class="error-desc">Username already exists at this host (or at global host as well if internet is available from ad-hoc server.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: POST /user-->
    <div class="page-header"></div>
<!--Begin Method Details: PUT /user/{user} -->
    <p class="lead class-name method-name put"><span class="method-type">PUT</span> /user/{user}</p>

    <p class="det">Updates user. Only some fields may be edited. If a field is not in the User schema, then by default it can still be added to or modified on a User object. However, fields that are not present in the request schema but that are part of the User schema cannot be added nor updated. As with creating a user, new username or email addresses must be unique.<br>An authenticated user can only update their own User object. Admins can update any User. {user} represents the user's UUID. To update a user's password, call the update password function.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    username: "noah",
    firstName: "Noah",
    lastName: "Freedman,
    emailAddresses: [ "freedmannoah@gmail.com", "noahfreedman@stanford.edu" ]
    country: "United States",
    region: "California",
    city: "Carmel",
    roles: ["student"],
    grade: "12",
    institutions: ["1234i1288", "12349001"],
    language: "English",
    photo: [attachment]
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">2</td>
            <td class="error-msg">Input validation error: [username]</td>
            <td class="error-desc">One or more of the inputs did not meet validation requirements.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot update a User without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">401</td>
            <td class="smile-code">6</td>
            <td class="error-msg">Admin authorization is required to modify another user's details.</td>
            <td class="error-desc">User must be authenticated as an admin user to update a user other than themself.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">4</td>
            <td class="error-msg">Username already exists: [username]</td>
            <td class="error-desc">Username already exists at this host (or at global host as well if internet is available from ad-hoc server.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">5</td>
            <td class="error-msg">Email address already exists: [email address]</td>
            <td class="error-desc">Username already exists at this host (or at global host as well if internet is available from ad-hoc server.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No User found with specified UUID.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: PUT /user/{user} -->
    <div class="page-header"></div>
<!--Begin Method Details: DELETE /user/{user} -->
    <p class="lead class-name method-name delete"><span class="method-type">DELETE</span> /user/{user}</p>

    <p class="det">Deletes give user. You must be authenticated as the same user calling the delete request, or be authenticated as an admin user to complete this request. If deleteResources is passed with a true value, then all of the user's resources will also be deleted.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    (optional) "deleteResources": true
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">401</td>
            <td class="smile-code">7</td>
            <td class="error-msg">Admin authorization required to call this function.</td>
            <td class="error-desc">Admin authorization required to delete a different user's account.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot delete a User without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No User found with specified UUID.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: DELETE /user/{user}-->
    <div class="page-header"></div>
<!--Begin Method Details: GET /user/{user} -->
    <p class="lead class-name method-name get"><span class="method-type">GET</span> /user/{user}</p>

    <p class="det">Returns user object. You must be authenticated (logged in) to call this function. If the optional onlyFields parameter is passed, then only specified fields are returned. All fields are returned (including custom added fields not present in the User schema), except for photo and password.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    (optional) "onlyFields": ["username", "firstName", "lastName"]
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    user: {
        //All user fields are returned except for photo and password.
        //Properties added that are not on the User schema are returned as well.
    },
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot request User details without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No User found with specified UUID.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: GET /user/{user} -->
    <div class="page-header"></div>
<!--Begin Method Details: GET /user/getByUsername/{username} -->
    <p class="lead class-name method-name get"><span class="method-type">GET</span> /user/getByUsername/{username}</p>

    <p class="det">Returns user object. You must be authenticated (logged in) to call this function. If the optional onlyFields parameter is passed, then only specified fields are returned. All fields are returned (including custom added fields not present in the User schema), except for photo and password.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    (optional) "onlyFields": ["username", "firstName", "lastName"]
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    user: {
        //All user fields are returned except for photo and password.
        //Properties added that are not on the User schema are returned as well.
    },
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot request User details without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">14</td>
            <td class="error-msg">No [object] found with [var]: [values].</td>
            <td class="error-desc">No User found with specified username.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: GET /user/getByUsername/{username} -->
    <div class="page-header"></div>
<!--Begin Method Details: GET /user/usernameIsUnique -->
    <p class="lead class-name method-name get"><span class="method-type">GET</span> /user/usernameIsUnique</p>

    <p class="det">Usernames are case-insensitive. Returns true is username is unique.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    username: "noahfreedman"
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    unique: true
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code"> - </td>
            <td class="smile-code"> - </td>
            <td class="error-msg"> - </td>
            <td class="error-desc"> - </td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: GET /user/usernameIsUnique -->
    <div class="page-header"></div>
<!--Begin Method Details: GET /user/emailIsUnique -->
    <p class="lead class-name method-name get"><span class="method-type">GET</span> /user/emailIsUnique</p>

    <p class="det">Returns true if email address is unique.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    emailAddress: "freedmannoah@gmail.com"
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    unique: true
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code"> - </td>
            <td class="smile-code"> - </td>
            <td class="error-msg"> - </td>
            <td class="error-desc"> - </td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: GET /user/emailIsUnique -->
    <div class="page-header"></div>
<!--Begin Method Details: POST /user/getUsernamesFromUUID -->
    <p class="lead class-name method-name post"><span class="method-type">POST</span> /user/getUsernamesFromUUID</p>

    <p class="det">Returns usernames from UUIDs. Requires authentication.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    UUIDs: ["12349109091234jj3f3", "1234123nf4jj11233", "q234nvn2349nnv4"]
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    users: [
        { username: "noah", UUID: "12349109091234jj3f3" },
        { username: "james", UUID: "q234nvn2349nnv4" }
    ]
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot request User details without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">9</td>
            <td class="error-msg">User(s) not found with UUID(s): [UUID, UUID]</td>
            <td class="error-desc">One or more of the UUIDs did not match corresponing User objects in database.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: POST /user/getUsernamesFromUUID -->
    <div class="page-header"></div>
<!--Begin Method Details: POST /user/batchAdd -->
    <p class="lead class-name method-name post"><span class="method-type">POST</span> /user/batchAdd</p>

    <p class="det">Allows multiple users to be created at once. The same validation requirements and error codes that apply to POST /user apply to each user added in this function. If some users are invalid, valid users will still be created.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    users: [ {User}, {User}, {User} ]
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    UUIDS: [ "asdf3qwferg", "23wrgsedfg45erg", "234frefdvg52e" ],
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>See POST /user</b></td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: POST /user/batchAdd -->

</div> <!--/.detail-box Method Detail-->


<!-- pagination -->
<div class="page-nav">
    <ul class="pager">
        <li class="previous">
            <a href="#">&larr; Prev Class</a>
        </li>
        <li class="next">
            <a href="#">Next Class &rarr;</a>
        </li>
    </ul>
</div>
<!-- /pagination -->


<div class="shadow-right"></div>
<!-- shadow doc-content-box -->
</div><!--/.doc-content-box -->