/* Demo CSS - You do not need this css in your own slider */

#banner-fade,
#banner-slide{
	width:100%;
	float:left;
}

ul.bjqs-controls.v-centered li a{
	display:block;
	text-decoration: none;
	position:relative;
	font-size:0;
	 margin-top:-63px;
}

ul.bjqs-controls.v-centered li a:hover{
	
}

ol.bjqs-markers li a{
	position:relative;
	padding:7px 7px;
	background:url(../images/bullet.png) no-repeat center;
	color:#fff;
	font-size:0;
	margin:5px;
	text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background:url(../images/bullethover.png) no-repeat center;
}

